<template>
    <section class="content">
        <div class="container-fluid">
            <div class="card card-outline card-info">

                <div class="row">
                    <div class="col-12">
                        <div class="card-header">
                            <h3 class="card-title">Tour Package Registration Report</h3>
                            <div class="card-tools">
                                <div>


                                    <div style="float: right; margin-top: -4px; margin-right: 5px;">
                                        <button type="submit" class="btn btn-primary btn-xs" style="height: 28px;" @click="print()"><i class="fa fa-print"></i> Print</button>
                                    </div>

                                    <div style="float: right; margin-top: -4px; margin-right: 5px;">
                                        <button type="submit" class="btn btn-info btn-xs" style="height: 28px;" @click="searchPackage()"><i class="fa fa-search"></i> Search</button>
                                    </div>

                                    <div class="input-group date" id="timepicker" data-target-input="nearest" style="width:180px; float: right; margin-right: 5px;">
                                        <date-picker name="toDate" v-model="form.toDate" placeholder="To Date" :config="{format: 'YYYY-MM-DD'}" style="height: 30px;"></date-picker>
                                        <div class="input-group-append" data-target="#timepicker" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>
                                        </div>
                                    </div>

                                    <div class="input-group date" id="timepicker" data-target-input="nearest" style="width:180px; float: right; margin-right: 5px; margin-left: 5px;">
                                        <date-picker name="fromDate" v-model="form.fromDate" placeholder="From Date" :config="{format: 'YYYY-MM-DD'}" style="height: 30px;"></date-picker>
                                        <div class="input-group-append" data-target="#timepicker" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>
                                        </div>
                                    </div>

                                    Arrival date

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.col -->
                </div>


                <!-- /.card-header -->
                <div class="card-body table-responsive p-0">
                    <div id="landscape" style="padding: 10px;">


                    <div style="text-align: center; padding: 20px;">
                       <h2 id="tp_title" style="padding-top: 30px;">របាយការណ៏នៃប្រព័ន្ធចុះបញ្ជី  <br/> កញ្ចប់ទស្សនៈកិច្ចរបស់ការីទេសចរណ៏</h2>
                        <div v-if="form.fromDate !== ''">From : {{form.fromDate}} To : {{form.toDate}}</div>
                        <div v-else>--- All Date ---</div>
                        <div>**************</div>
                    </div>

                    <br style="clear: both;"/>
                    <div class="col-sm-12" style="margin-bottom: 10px;">
                        <b id="table_title"> ចំនួនសរុបរបស់កញ្ចប់ទស្សនៈកិច្ច</b>
                    </div>

                    <div class="col-sm-12">
                        <table id="customers">
                    <thead>
                    <tr>
                        <th>ចំនួនក្រុមហ៊ុនការីទេសចរណ៏</th>
                        <th class="align-center">ចំនួនកញ្ចប់ទស្សនៈកិច្ច</th>
                        <th class="align-center">ចំនួនភ្ញៀវទេសចរណ៏</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="align-middle">{{summaryReport.NumTA}}</td>
                        <td class="align-center">{{summaryReport.NumTP}}</td>
                        <td class="align-center">{{summaryReport.Tourists}}</td>
                    </tr>
                    </tbody>
                </table>
                    </div>

                    <br style="clear: both;"/>
                    <div class="col-sm-12" style="margin-bottom: 10px;">
                        <b id="table_title"> ចំនួនសរុបកញ្ចប់ទស្សនៈកិច្ចតាមប្រទេស </b>
                    </div>

                    <div class="col-sm-12">
                        <table id="customers">
                            <thead>
                            <tr>
                                <th>ឈ្មោះប្រទេស </th>
                                <th style="min-width: 180px;" class="align-center">ចំនួនកញ្ចប់ទស្សនៈកិច្ច</th>
                                <th style="min-width: 180px;" class="align-center">ចំនួនភ្ញៀវទេសចរណ៏</th>
                                <th style="min-width: 180px;" class="align-center">ចំនួនក្រុមហ៊ុនការីទេសចរណ៏</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="l in Location">
                                <td class="align-middle">{{l.country}}</td>
                                <td class="align-middle align-center">{{l.NumTP}}</td>
                                <td class="align-middle align-center">{{l.NumTourists}}</td>
                                <td class="align-middle align-center">{{l.NumTA}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>


                    <br/>
                    <div class="col-sm-12" style="margin-bottom: 10px;">
                        <b id="table_title"> របាយការណ៏ក្រុមហ៊ុនការីទេសចរណ៏</b>
                    </div>

                    <div class="col-sm-12">
                        <table id="customers">
                            <thead>
                            <tr>
                                <th>ក្រុមហ៊ុនការីទេសចរណ៏</th>
                                <th class="align-center">ចំនួនកញ្ចប់ទស្សនៈកិច្ច</th>
                                <th class="align-center">ចំនួនភ្ញៀវទេសចរណ៏</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="value in agencyPackageReport" :key="value.agency_id">
                                <td class="align-middle">{{value.name}}</td>
                                <td class="align-middle align-center">{{value.TotalPackage}}</td>
                                <td class="align-middle align-center">{{value.TotalTourists}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>


                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer clearfix">

                    <!--start pagination-->
                    <vue-ads-pagination :total-items="total" :max-visible-pages="3" :items-per-page="per_page" :page="page" :loading="loading" @range-change="rangeChange">
                        <template slot-scope="props">
                            <div class="vue-ads-pr-2 vue-ads-leading-loose">
                                Rows Display :
                                <select id="displayRows" @change="onChange($event)">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>

                            </div>
                            <div class="vue-ads-pr-2 vue-ads-leading-loose">
                                Pages: {{ props.start }} Of {{ props.end }} (Total: {{ props.total }} Items)
                            </div>
                        </template>
                        <template slot="buttons" slot-scope="props">
                            <vue-ads-page-button v-for="(button, key) in props.buttons" :key="key" v-bind="button" @page-change="page = button.page"/>
                        </template>
                    </vue-ads-pagination>
                    <!--start pagination-->

                </div>
            </div>
            <!-- /.card -->
        </div><!-- /.container-fluid -->
    </section>

</template>

<script>
    // start pagination
    import VueAdsPagination, { VueAdsPageButton } from 'vue-ads-pagination';
    // end pagination

    import Vue from 'vue';
    import datePicker from 'vue-bootstrap-datetimepicker';
    import 'pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.css';
    Vue.use(datePicker);

    export default {
        components: {
            VueAdsPagination,
            VueAdsPageButton,
        },

        data() {
            return {
                //Pagination return
                total:0,
                per_page:10,
                loading: false,
                page: 0,
                numbering : '',

                Location : {},
                summaryReport: {},
                agencyPackageReport : {},
                form: new Form({
                    fromDate: '',
                    toDate: '',
                })
            }
        },
        methods: {
            print() {
                this.$htmlToPaper('landscape');
            },
            load_summary_report(){
                axios.get('/api/summaryTourPackage')
                    .then(response => {
                        this.summaryReport = response.data.data;
                    });
            },
            load_agencyPackageReport(){
                axios.get('/api/tourPackageReport')
                    .then(response => {
                        this.agencyPackageReport = response.data.data;
                    });
            },
            onChange(event) {
                this.$loading(true);
                this.per_page = parseInt(event.target.value);
                axios.get('/api/summaryTourPackageByCountry?paginate='+this.per_page+'&fromdate='+this.form.fromDate+'&todate='+this.form.toDate)
                    .then(response => {
                        this.total = response.data.meta.total;
                        this. page = 0;
                        this.Location = response.data.data;
                        this.$loading(false);
                    });
            },
            rangeChange (start, end) {
                if (this.numbering !== start){
                    this.$loading(true);
                    this.numbering = start;
                    var page = end / this.per_page;
                    if ((start+this.per_page)>this.total){
                        page = page+1;
                    }
                    axios.get('/api/summaryTourPackageByCountry?page=' + parseInt(page)+'&paginate='+parseInt(this.per_page)+'&fromdate='+this.form.fromDate+'&todate='+this.form.toDate)
                        .then(response => {
                            this.Location = response.data.data;
                            this.total = response.data.meta.total;
                            this.$loading(false);
                        });
                }
            },
            searchPackage(){
                this.$loading(true);
                axios.get('/api/summaryTourPackageByCountry?&paginate='+parseInt(this.per_page)+'&fromdate='+this.form.fromDate+'&todate='+this.form.toDate)
                    .then(response => {
                        this.load_agencyPackageReport_search();
                        this.Location = response.data.data;
                        this.total = response.data.meta.total;
                        this.$loading(false);
                    });
            },
            load_agencyPackageReport_search(){
                axios.get('/api/tourPackageReport?fromdate='+this.form.fromDate+'&todate='+this.form.toDate)
                    .then(response => {
                        this.agencyPackageReport = response.data.data;
                    });
            },
        },
        created() {
            this.load_summary_report();
            this.load_agencyPackageReport();
        }
    }
</script>
