<template>
    <section class="content">
        <div class="container-fluid">
            <div class="card card-outline card-info">

                <div class="row">
                    <div class="col-12">
                        <div class="card-header">
                            <h3 class="card-title">List Tour Package</h3>
                            <div class="card-tools">
                                <div>

                                    <div style="float: right; margin-top: -4px; margin-right: 5px;">
                                        <button type="submit" class="btn btn-primary btn-xs" style="height: 28px;" @click="print()"><i class="fa fa-print"></i> Print</button>
                                    </div>

                                    <div style="float: right; margin-top: -4px; margin-right: 5px;">
                                        <button type="submit" class="btn btn-info btn-xs" style="height: 28px;" @click="searchPackage()"><i class="fa fa-search"></i> Search</button>
                                    </div>

                                    <div style="width:160px; float: right; margin-right: 5px;">
                                        <select class="form-control" @change="filterByLocation($event)" style="height: 30px; margin-top: -5px; padding: 2px;">
                                            <option value="0">--- All Location ---</option>
                                            <option v-for="c in city" :value="c.id">{{c.title_en}}</option>
                                        </select>
                                    </div>

                                    <div style="width:160px; float: right; margin-right: 5px;">
                                    <select class="form-control" @change="filterPackage($event)" style="height: 30px; margin-top: -5px; padding: 2px;">
                                        <option value="0">--- All Agency ---</option>
                                        <option v-for="t in tourAgency" :value="t.agency_id">{{t.name}}</option>
                                    </select>
                                    </div>

                                    <div class="input-group date" id="timepicker" data-target-input="nearest" style="width:180px; float: right; margin-right: 5px;">
                                        <date-picker name="toDate" v-model="form.toDate" placeholder="To Date" :config="{format: 'YYYY-MM-DD'}" style="height: 30px;"></date-picker>
                                        <div class="input-group-append" data-target="#timepicker" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>
                                        </div>
                                    </div>

                                    <div class="input-group date" id="timepicker" data-target-input="nearest" style="width:180px; float: right; margin-right: 5px; margin-left: 5px;">
                                        <date-picker name="fromDate" v-model="form.fromDate" placeholder="From Date" :config="{format: 'YYYY-MM-DD'}" style="height: 30px;"></date-picker>
                                        <div class="input-group-append" data-target="#timepicker" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>
                                        </div>
                                    </div>

                                    Arrival date

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.col -->
                </div>

                <!-- /.card-header -->
                <div id="TourPackage" style="padding: 10px;">
                    <div style="text-align: center; padding: 20px;">
                       <h2 id="tp_title" style="padding-top: 30px;">Tour Package Report</h2>
                        <div>Agency : {{agency_name}}</div>
                        <div>Location : {{location_name}}</div>
                        <div v-if="form.fromDate !== ''">From : {{form.fromDate}} To : {{form.toDate}}</div>
                        <div v-else>--- All Date ---</div>
                        <div>**************</div>
                    </div>

                    <div class="col-12 table-responsive">
                        <table id="customers">
                            <thead>
                            <tr>
                                <th style="width: 30px;">N°</th>
                                <th style="min-width: 350px;">Package Name</th>
                                <th style="min-width: 150px;">Number of days</th>
                                <th style="width: 150px;">Arrival Day</th>
                                <th>Itinerary</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(p,index) in package.data" :key="p.id">
                                <td class="align-middle">{{numbering+index+1}}</td>
                                <td class="align-middle">
                                    <b><router-link :to="'/admin/tourist-backend-detail-report/'+p.id"> {{p.title}} </router-link></b>
                                    <div style="font-style: italic; font-size: 10px;">
                                    <b> Tour Agency </b>: {{p.agency}}
                                    </div>
                                </td>
                                <td class="align-middle align-center">{{p.num_day_tour}}</td>
                                <td class="align-middle align-center">{{p.arrival_date | myDOB}}</td>
                                <td class="align-middle">
                                    <div v-for="i in p.Itinerary" style="margin-bottom: 11px;">
                                        <b>Days</b> : {{i.days}}<br>
                                        <b>Location :</b> <span v-for="loc in i.location_id">{{loc.title_en}}, </span><br>
                                        <b>Description :</b> {{i.description}}<br>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer clearfix">

                    <!--start pagination-->
                    <vue-ads-pagination :total-items="total" :max-visible-pages="3" :items-per-page="per_page" :page="page" :loading="loading" @range-change="rangeChange">
                        <template slot-scope="props">
                            <div class="vue-ads-pr-2 vue-ads-leading-loose">
                                Rows Display :
                                <select id="displayRows" @change="onChange($event)">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>

                            </div>
                            <div class="vue-ads-pr-2 vue-ads-leading-loose">
                                Pages: {{ props.start }} Of {{ props.end }} (Total: {{ props.total }} Items)
                            </div>
                        </template>
                        <template slot="buttons" slot-scope="props">
                            <vue-ads-page-button v-for="(button, key) in props.buttons" :key="key" v-bind="button" @page-change="page = button.page"/>
                        </template>
                    </vue-ads-pagination>
                    <!--start pagination-->

                </div>
            </div>
            <!-- /.card -->
        </div><!-- /.container-fluid -->
    </section>

</template>

<script>
    // start pagination
    import VueAdsPagination, { VueAdsPageButton } from 'vue-ads-pagination';
    // end pagination

    import Vue from 'vue';
    import datePicker from 'vue-bootstrap-datetimepicker';
    import 'pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.css';
    Vue.use(datePicker);

    export default {
        components: {
            VueAdsPagination,
            VueAdsPageButton,
        },

        data() {
            return {
                //Pagination return
                total:0,
                per_page:10,
                loading: false,
                page: 0,
                numbering : '',
                tourAgency: [],
                editmode: false,
                package : {},
                city: {},
                load_agency_id: 0,
                load_city_id: 0,
                agency_name: '--- All ----',
                location_name: '--- All Location ---',
                form: new Form({
                    fromDate: '',
                    toDate: '',
                })
            }
        },
        methods: {
            print() {
                this.$htmlToPaper('TourPackage');               
            },
            onChange(event) {
                this.$loading(true);
                this.per_page = parseInt(event.target.value);
                var url = '/api/tourPackageBackend/';
                if (this.load_agency_id > 0){
                    url = '/api/getPackageByAgency/'+this.load_agency_id;
                }
                axios.get( url + '?paginate='+this.per_page+'&fromdate='+this.form.fromDate+'&todate='+this.form.toDate+'&cityId='+this.load_city_id)
                    .then(response => {
                        this.total = response.data.meta.total;
                        this. page = 0;
                        this.package = response.data;
                        this.$loading(false);
                    });
            },
            rangeChange (start, end) {
                if (this.numbering !== start){
                    this.$loading(true);
                    this.numbering = start;
                    var page = end / this.per_page;
                    if ((start+this.per_page)>this.total){
                        page = page+1;
                    }
                    var url = '/api/tourPackageBackend/';
                    if (this.load_agency_id > 0){
                        url = '/api/getPackageByAgency/'+this.load_agency_id;
                    }
                    axios.get( url + '?page=' + parseInt(page)+'&paginate='+parseInt(this.per_page)+'&fromdate='+this.form.fromDate+'&todate='+this.form.toDate+'&cityId='+this.load_city_id)
                        .then(response => {
                            this.package = response.data;
                            this.total = response.data.meta.total;
                            this.$loading(false);
                        });
                }
            },
            loadAgency(){
                axios.get('/api/tourAgencyBackend?&paginate=1000')
                    .then(response => {
                        this.tourAgency = response.data.data;
                    });
            },
            loadCity(){
                axios.get("/api/city")
                    .then(response => {
                        this.city = response.data.data;
                    });
            },
            filterPackage(event){
                this.load_agency_id =  event.target.value;
                this.agency_name =  event.target.options[event.target.options.selectedIndex].text;
            },
            filterByLocation(event){
                this.load_city_id =  event.target.value;
                this.location_name =  event.target.options[event.target.options.selectedIndex].text;
            },
            searchPackage(){
                this.$loading(true);
                var url = '/api/tourPackageBackend/';
                if (this.load_agency_id > 0){
                    url = '/api/getPackageByAgency/'+this.load_agency_id;
                }
                axios.get( url + '?&paginate='+parseInt(this.per_page)+'&fromdate='+this.form.fromDate+'&todate='+this.form.toDate+'&cityId='+this.load_city_id)
                    .then(response => {
                        this.package = response.data;
                        this.total = response.data.meta.total;
                        this.$loading(false);
                    });
            }
        },
        created() {
            this.loadAgency();
            this.loadCity();

            Fire.$on('searching',() => {
                this.$loading(true);
                let query = this.$parent.search;
                axios.get('/api/findPackage?q=' + query)
                    .then((response) => {
                        this.package = response.data;
                        this.$loading(false)
                    })
                    .catch(() => {

                    })
            });
        }
    }
</script>
