<template>
    <section class="content">
        <div class="container-fluid">
            <div class="card card-outline card-info">
                <div class="card-header">
                    <h3 class="card-title">List Tourists</h3>

                    <div class="card-tools">
                        <div>
                            <div style="float: right; margin-top: -4px; margin-right: 5px;">
                                <button type="submit" class="btn btn-primary btn-xs" style="height: 28px;" @click="print()"><i class="fa fa-print"></i> Print</button>
                            </div>

                            <div style="float: right; margin-top: -4px; margin-right: 5px;">
                                <button type="submit" class="btn btn-info btn-xs" style="height: 28px;" @click="search()"><i class="fa fa-search"></i> Search</button>
                            </div>

                            <div style="width:180px; float: right; margin-right: 5px;">
                                <select class="form-control" @change="filterAgency($event)" style="height: 30px; margin-top: -5px; padding: 2px;">
                                    <option>--- Filter By Agency ---</option>
                                    <option v-for="t in agency" :value="t.agency_id">{{t.name}}</option>
                                </select>
                            </div>

                            <div class="input-group date" id="timepicker" data-target-input="nearest" style="width:180px; float: right; margin-right: 5px;">
                                <date-picker name="toDate" v-model="form.toDate" placeholder="To Date" :config="{format: 'YYYY-MM-DD'}" style="height: 30px;"></date-picker>
                                <div class="input-group-append" data-target="#timepicker" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>
                                </div>
                            </div>

                            <div class="input-group date" id="timepicker" data-target-input="nearest" style="width:180px; float: right; margin-right: 5px; margin-left: 5px;">
                                <date-picker name="fromDate" v-model="form.fromDate" placeholder="From Date" :config="{format: 'YYYY-MM-DD'}" style="height: 30px;"></date-picker>
                                <div class="input-group-append" data-target="#timepicker" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>
                                </div>
                            </div>

                            Arrival date

                        </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <div id="landscape" style="padding: 30px;">
                    <div style="text-align: center; padding: 20px;">
                       <h2 id="tp_title" style="padding-top: 30px;">Tourists List Report</h2>
                        <div>Agency : {{agency_name}}</div>
                        <div v-if="form.fromDate !== ''">From : {{form.fromDate}} To : {{form.toDate}}</div>
                        <div v-else>--- All Date ---</div>
                        <div>**************</div>
                    </div>
                    <div class="col-12 table-responsive">
                    <table id="customers">
                        <thead>
                        <tr>
                            <th style="width: 30px;">N°</th>
                            <th>Passport</th>
                            <th>Name</th>
                            <th>Gender</th>
                            <th>Date of Birth</th>
                            <th>Nationality</th>
                            <th>Travel From</th>
                            <th>Tour Agency</th>
                            <th>Tour Package</th>
                            <th>Arrival Day</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(p,index) in person.data">
                            <td class="align-middle">{{numbering+index+1}}</td>
                            <td class="align-middle">{{p.passport}}</td>
                            <td class="align-middle">{{p.first_name}} {{p.last_name}}</td>
                            <td class="align-middle">{{p.gender}}</td>
                            <td class="align-middle">{{p.dob | myDOB}}</td>
                            <td class="align-middle">{{p.nationality}}</td>
                            <td class="align-middle">{{p.travel_from}}</td>
                            <td class="align-middle">{{p.agency}}</td>
                            <td class="align-middle">{{p.package}}</td>
                            <td class="align-middle">{{p.arrival_date | myDOB}}</td>
                        </tr>
                        <tr>
                            <td colspan="9" style="text-align: right;">Total :</td>
                            <td><b> {{total}} Tourists</b></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                </div>
                <!-- /.card-body -->
                <div class="card-footer clearfix">

                    <!--start pagination-->
                    <vue-ads-pagination :total-items="total" :max-visible-pages="3" :items-per-page="per_page" :page="page" :loading="loading" @range-change="rangeChange">
                        <template slot-scope="props">
                            <div class="vue-ads-pr-2 vue-ads-leading-loose">
                                Rows Display :
                                <select id="displayRows" @change="onChange($event)">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>

                            </div>
                            <div class="vue-ads-pr-2 vue-ads-leading-loose">
                                Pages: {{ props.start }} Of {{ props.end }} (Total: {{ props.total }} Items)
                            </div>
                        </template>
                        <template slot="buttons" slot-scope="props">
                            <vue-ads-page-button v-for="(button, key) in props.buttons" :key="key" v-bind="button" @page-change="page = button.page"/>
                        </template>
                    </vue-ads-pagination>
                    <!--start pagination-->

                </div>
            </div>
            <!-- /.card -->
        </div><!-- /.container-fluid -->
    </section>

</template>

<script>
    // start pagination
    import VueAdsPagination, { VueAdsPageButton } from 'vue-ads-pagination';
    // end pagination

    import Swal from 'sweetalert2/dist/sweetalert2.js'

    export default {
        components: {
            VueAdsPagination,
            VueAdsPageButton,
        },

        data() {
            return {
                //Pagination return
                total:0,
                per_page:10,
                loading: false,
                page: 0,
                numbering : '',
                country: [],
                editmode: false,
                person : {},
                agency_id: '0',
                agency_name: '--- All ----',
                agency: [],
                form: new Form({
                    fromDate: '',
                    toDate: '',
                })
            }
        },
        methods: {
            print() {
                this.$htmlToPaper('landscape');
            },
            onChange(event) {
                this.$loading(true);
                this.per_page = parseInt(event.target.value);
                var url = "/api/touristsBackend";
                if (this.agency_id > 0){
                    var url = "/api/searchTouristsBackend/" + this.agency_id;
                }
                axios.get(url + '?paginate='+this.per_page+'&fromdate='+this.form.fromDate+'&todate='+this.form.toDate)
                    .then(response => {
                        this.total = response.data.meta.total;
                        this. page = 0;
                        this.person = response.data;
                        this.$loading(false);
                    });
            },
            rangeChange (start, end) {
                if (this.numbering !== start) {
                    this.$loading(true);
                    this.numbering = start;
                    var page = end / this.per_page;
                    if ((start + this.per_page) > this.total) {
                        page = page + 1;
                    }
                    var url = "/api/touristsBackend";
                    if (this.agency_id > 0) {
                        var url = "/api/searchTouristsBackend/" + this.agency_id;
                    }
                    axios.get(url + '?page=' + parseInt(page) + '&paginate=' + parseInt(this.per_page) + '&fromdate=' + this.form.fromDate + '&todate=' + this.form.toDate)
                        .then(response => {
                            this.person = response.data;
                            this.total = response.data.meta.total;
                            this.$loading(false);
                        });
                }
            },
            loadPerson(){
                this.$loading(true);
                axios.get("/api/touristsBackend")
                    .then(response => {
                        this.total = response.data.meta.total;
                        this.per_page = parseInt(response.data.meta.per_page);
                        this.person = response.data;
                        this.$loading(false)
                    });
            },
            loadAgency(){
                axios.get('/api/tourAgencyBackend?&paginate=1000')
                    .then(response => {
                        this.agency = response.data.data;
                    });
            },
            filterAgency(event){
                this.agency_id =  event.target.value;
                this.agency_name =  event.target.options[event.target.options.selectedIndex].text;
            },
            search(){
                this.$loading(true);
                var url = "/api/touristsBackend";
                if (this.agency_id > 0){
                    var url = "/api/searchTouristsBackend/" + this.agency_id;
                }
                axios.get(url+'?&paginate='+parseInt(this.per_page)+'&fromdate='+this.form.fromDate+'&todate='+this.form.toDate)
                    .then(response => {
                        this.person = response.data;
                        this.total = response.data.meta.total;
                        this.$loading(false);
                    });
            }
        },
        created() {
            this.loadAgency();
            Fire.$on('searching',() => {
                this.$loading(true);
                let query = this.$parent.search;
                axios.get('/api/findTourists?q=' + query)
                    .then((response) => {
                        this.person = response.data;
                        this.total = response.data.meta.total;
                        this.$loading(false);
                    })
                    .catch(() => {

                    })
            });
        }
    }
</script>
