<template>
    <section class="content">
        <div class="container-fluid">
            <div class="card card-outline card-info">
                <div class="card-header">
                    <h3 class="card-title">List Tour Agency</h3>

                    <div class="card-tools">

                        <div style="float: right; margin-top: -4px; margin-right: 5px;">
                            <button type="submit" class="btn btn-primary btn-xs" style="height: 28px;" @click="print()"><i class="fa fa-print"></i> Print</button>
                        </div>

                        <div class="input-group input-group-sm" style="width: 200px; float: right;  margin-right: 5px;">
                            <select class="form-control" @change="filterAgency($event)">
                                <option value="0">--- Filter By Country ---</option>
                                <option v-for="c in country" :value="c.id">{{c.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <div id="TourPackage" style="padding: 30px;">
                    <div style="text-align: center; padding: 20px;">
                        <h2 id="tp_title" style="padding-top: 30px;">Tour Agency Report</h2>
                        <div>Country : {{load_country_name}}</div>
                        <div>**************</div>
                    </div>
                <div class="card-body table-responsive p-0">
                    <table id="customers">
                        <thead>
                        <tr>
                            <th style="width: 30px;">N°</th>
                            <th>Name</th>
                            <th>Phone</th>
                            <th>Email</th>
                            <th>Address</th>
                            <th>Travel From</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(t,index) in tourAgency.data" :key="t.agency_id">
                            <td class="align-middle">{{numbering+index+1}}</td>
                            <td class="align-middle">{{t.name}}</td>
                            <td class="align-middle">{{t.phone}}</td>
                            <td class="align-middle">{{t.email}}</td>
                            <td class="align-middle">{{t.address}}</td>
                            <td class="align-middle">{{t.country}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer clearfix">

                    <!--start pagination-->
                    <vue-ads-pagination :total-items="total" :max-visible-pages="3" :items-per-page="per_page" :page="page" :loading="loading" @range-change="rangeChange">
                        <template slot-scope="props">
                            <div class="vue-ads-pr-2 vue-ads-leading-loose">
                                Rows Display :
                                <select id="displayRows" @change="onChange($event)">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>

                            </div>
                            <div class="vue-ads-pr-2 vue-ads-leading-loose">
                                Pages: {{ props.start }} Of {{ props.end }} (Total: {{ props.total }} Items)
                            </div>
                        </template>
                        <template slot="buttons" slot-scope="props">
                            <vue-ads-page-button v-for="(button, key) in props.buttons" :key="key" v-bind="button" @page-change="page = button.page"/>
                        </template>
                    </vue-ads-pagination>
                    <!--start pagination-->

                </div>
            </div>
            <!-- /.card -->
        </div><!-- /.container-fluid -->
    </section>

</template>

<script>
    // start pagination
    import VueAdsPagination, { VueAdsPageButton } from 'vue-ads-pagination';
    // end pagination

    import Swal from 'sweetalert2/dist/sweetalert2.js'

    export default {
        components: {
            VueAdsPagination,
            VueAdsPageButton,
        },

        data() {
            return {
                //Pagination return
                total:0,
                per_page:10,
                loading: false,
                page: 0,
                numbering : '',
                country: [],
                editmode: false,
                tourAgency : {},
                load_country_id: '0',
                load_country_name: '--- All Country ---',
                form: new Form({
                    id:'',
                    name : '',
                    email: '',
                    password: ''
                })
            }
        },
        methods: {
            print() {
                this.$htmlToPaper('TourPackage');
            },
            onChange(event) {
                this.$loading(true);
                this.per_page = parseInt(event.target.value);
                var url = "/api/tourAgencyBackend";
                if (this.load_country_id > 0){
                    var url = "/api/getPackageByCountry/" + this.load_country_id;
                }
                axios.get(url + '?paginate='+this.per_page)
                    .then(response => {
                        this.total = response.data.meta.total;
                        this. page = 0;
                        this.tourAgency = response.data;
                        this.$loading(false);
                    });
            },
            rangeChange (start, end) {
                if (this.numbering !== start){
                    this.$loading(true);
                    this.numbering = start;
                    var page = end / this.per_page;
                    if ((start+this.per_page)>this.total){
                        page = page+1;
                    }
                    var url = "/api/tourAgencyBackend";
                    if (this.load_country_id > 0){
                        var url = "/api/getPackageByCountry/" + this.load_country_id;
                    }
                    axios.get( url + '?page=' + parseInt(page)+'&paginate='+parseInt(this.per_page))
                        .then(response => {
                            this.tourAgency = response.data;
                            this.total = response.data.meta.total;
                            this.$loading(false);
                        });
                }
            },
            loadAgency(){
                this.$loading(true);
                axios.get("/api/tourAgencyBackend")
                    .then(response => {
                        this.total = response.data.meta.total;
                        this.per_page = parseInt(response.data.meta.per_page);
                        this.tourAgency = response.data;
                        this.$loading(false)
                    });
            },
            loadCountry(){
                axios.get("/api/country")
                    .then(response => {
                        this.country = response.data.data;
                    });
            },
            filterAgency(event){
                this.$loading(true);
                axios.get('/api/getPackageByCountry/'+event.target.value+'?&paginate=1000')
                    .then(response => {
                        this.load_country_id =  event.target.value;
                        this.load_country_name = event.target.options[event.target.options.selectedIndex].text;
                        this.tourAgency = response.data;
                        this.total = response.data.meta.total;
                        this.$loading(false);
                    });
            }
        },
        created() {
            this.loadCountry();
            Fire.$on('searching',() => {
                this.$loading(true);
                let query = this.$parent.search;
                axios.get('/api/findAgency?q=' + query)
                    .then((response) => {
                        this.tourAgency = response.data;
                        this.$loading(false);
                    })
                    .catch(() => {

                    })
            });
        }
    }
</script>
