<template>
    <section class="content">
        <div class="container-fluid">
            <div class="card card-outline card-info">
                <div class="card-body">
        <div class="modal-footer" style="border-top: 0px solid #e9ecef;">
            <button type="submit" class="btn btn-primary" @click="print()"><i class="fa fa-print"></i> Print</button>
        </div>

        <div id="TourPackage">

            <div class="row invoice-info">
                <div style="text-align: center; width: 100%;">
                    <strong id="tp_title">{{tourPackage.title}}</strong><br>
                    Number of days : {{tourPackage.num_day_tour}}<br>
                    Arrival Day : {{tourPackage.arrival_date | myDate}}<br>
                    ***************<br/>
                </div>
            </div>
            <br/>

            <div class="row">
                <div class="col-12 table-responsive">
                    <b style="font-size: 16px;" id="tourstslist">Tourists List Report</b>
                    <table id="customers">
                        <thead>
                        <tr>
                            <th style="width: 40px">#</th>
                            <th>Passport</th>
                            <th>Name</th>
                            <th>Gender</th>
                            <th>Nationality</th>
                            <th>Travel From</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(p,index) in Person" :key="p.id">
                            <td>{{numbering+index+1}}</td>
                            <td>{{p.passport}}</td>
                            <td>{{p.first_name}} {{p.last_name}}</td>
                            <td>{{p.gender}}</td>
                            <td>{{p.nationality}}</td>
                            <td>{{p.travel_from}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.col -->
            </div>
            <br/>
            <div class="row">
                <!-- accepted payments column -->
                <div class="col-9">
                    <div class="row invoice-info">
                        <div class="col-sm-12 invoice-col">
                            <h4 style="font-size: 18px;" id="itinerary">Itinerary</h4>
                        </div>

                        <div class="col-sm-12 invoice-col" style="margin-bottom: 10px;" v-for="i in tourPackage.Itinerary">
                            <b>Days</b> : {{i.days}}<br>
                            <b>Location:</b> <span v-for="loc in i.location_id">{{loc.title_en}}, </span><br>
                            <b>Description:</b> {{i.description}}<br>
                        </div>
                    </div>
                </div>
                <!-- /.col -->
            </div>
        </div>
        <!-- /.tab-content -->

    </div><!-- /.card-body -->
            </div>
        </div>
    </section>
</template>


<script>
    export default {
        data(){
            return{
                numbering : 0,
                Person: [],
                tourPackage: '',
                total: 0,
            }
        },
        mounted(){
            this.loadTourPackage();
        },
        methods:{
            print() {
                this.$htmlToPaper('TourPackage');
            },
            loadTourPackage(){
                this.$loading(true);
                axios.get('/api/tourPackage/'+this.$route.params.package_id)
                    .then((response)=>{
                        this.tourPackage = response.data.data;
                        this.$loading(false);
                    })
            },
            getTourists() {
                this.$loading(true);
                axios.get('/api/getTouristsBackend/'+this.$route.params.package_id+'?paginate=100')
                    .then(response => {
                        this.Person = response.data.data;
                        this.total = response.data.meta.total;
                        this.$loading(false);
                    });
            },
        },
        created() {
            this.getTourists();
        }
    }
</script>

