// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~admin-lte/dist/css/adminlte.css';
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';
@import "~vue-select/src/scss/vue-select.scss";
@import "~vue-ads-pagination/dist/vue-ads-pagination.css";
@import "~@fortawesome/fontawesome-free/css/all.css";
.badge {
    display: inline-block;
    padding: 0.55em 1.1em;
    font-size: 75%;
    font-weight: 100;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    cursor: pointer;
}

.tour-package-title {
    border-bottom: 1px dashed rgb(206, 212, 218);
    margin-bottom: 15px;
    margin-top: 5px;
    font-size: 16px;
    font-weight: bold;
}

.itinerary {
    border-bottom: 1px solid #ced4da42;
}

label:not(.form-check-label):not(.custom-file-label) {
    font-weight: 100;
}

.float-right {
    float: right;
    margin-left: 5px;
}

.move {
    cursor: move;
}

.sub-menu-div {
    padding: 5px 0px;
    border-top: 1px dotted rgb(78 91 108 / 18%);
    margin-top: 5px;
}

.sub-menu-link {
    color: rgb(148 148 148);
    font-size: 12px;
    font-style: italic;
    font-weight: 100;
}

.btn-menu {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid rgb(52, 144, 220);
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    line-height: 1.6;
    border-radius: 0rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-menu-primary {
    color: #000;
    background-color: #f2f2f2;
    border-color: #3490dc;
}

.form-group {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.btn-xs {
    padding: .45rem .4rem;
    font-size: .675rem;
    line-height: .5;
    border-radius: .2rem;
}


/* Dashed red border */

hr.new2 {
    border-top: 1px dashed #dee2e6;
}

.btn-info {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
    box-shadow: none;
}

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.router-link-exact-active {
    background-color: #3f51b5;
    color: #fff !important;
}

.reg_sms_success {
    background: #3c8dbc26;
    color: #3c8dbc !important;
    border-left: 6px solid #0b8ad29c !important;
    outline: none !important;
    font-width: 100px !important;
    margin-left: -1px;
    padding: 15px 10px;
    text-shadow: 0 0 black;
}

.reg_sms_fail {
    background: #dc35451f;
    color: #dc3545 !important;
    border-left: 6px solid #dc3545 !important;
    outline: none !important;
    font-width: 100px !important;
    margin-left: -1px;
    padding: 15px 10px;
    text-shadow: 0 0 black;
}

.ck-editor__editable {
    min-height: 500px;
}

.card-header {
    padding-top: 0.75rem;
    padding-bottom: 0.0rem;
    padding-left: 1.50rem;
}

.date-picker input {
    display: block !important;
    width: 100% !important;
    color: #495057 !important;
    background-color: #fff !important;
    background-clip: padding-box !important;
    border: 1px solid #ced4da !important;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out !important;
    padding: .25rem .5rem !important;
    font-size: .875rem !important;
    line-height: 1.5 !important;
    border-radius: .2rem !important;
}

label>span.required {
    color: #FF2623;
}

.align-center {
    text-align: center !important;
    ;
}

.sub-info {
    padding: 1px 6px;
    background: #f4f4f4;
    font-size: 11px;
    border: 1px dashed #f1c18e;
    border-radius: .2rem;
}

@media screen {
    #print {
        display: none;
    }
}

#TourPackage {
    width: 100%;
    height: 100%;
    padding: 30px;
    margin-top: 30px;
}

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td,
#customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    background-color: #dee2e6;
    color: black;
    font-family: 'Odor Mean Chey';
}

#customers td,
#customers th {
    font-family: 'Odor Mean Chey';
}

#tp_title {
    font-size: 14pt !important;
    font-weight: 600;
    line-height: 40px;
}

#middle_screen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media print {
    html,
    body,
    div,
    span,
    applet,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    a,
    abbr,
    acronym,
    address,
    big,
    cite,
    code,
    del,
    dfn,
    em,
    font,
    ins,
    kbd,
    q,
    s,
    samp,
    small,
    strike,
    strong,
    sub,
    sup,
    tt,
    var,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td {
        font-size: 20pt !important;
    }
    body * {
        visibility: hidden;
    }
    #tp_title {
        font-size: 14pt !important;
        font-weight: 600;
    }
    #itinerary {
        font-size: 28pt !important;
        font-weight: 600;
    }
    #tourstslist {
        font-size: 28pt !important;
        font-weight: 600;
    }
    #print,
    #print * {
        visibility: visible;
    }
    #print {
        overflow: visible !important;
        position: fixed;
        left: 0;
        top: 0;
        font-size: 9px;
        height: 5000px;
    }
    #TourPackage {
        width: 1680px;
        height: 100%;
        padding: 30px;
        margin-top: 35px;
    }
    #customers {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    #customers td,
    #customers th {
        border: 1px solid #ddd;
        padding: 5px;
    }
    #customers tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    #customers tr:hover {
        background-color: #ddd;
    }
    #customers th {
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: left;
        background-color: #dee2e6;
        color: black;
    }
}

.table-border {
    border-bottom: 1px dashed #000;
}

@page {
    margin: 0;
}