a {
  color: rgb(0, 0, 0);
}
body { padding-right: 0 !important }
@font-face {
    font-family: "Odor Mean Chey";
    src: url('/fonts/khmer-font/KhmerOSContent-Bold.ttf');
    src: url('/fonts/khmer-font/KhmerOSContent-Regular.ttf');
    src: url('/fonts/khmer-font/OdorMeanChey.ttf');
    font-weight: 400;
    font-style: normal;
}
.content-desc ul li{
    font: 300 1.3em/1.3em "Odor Mean Chey", sans-serif;
    font-weight: normal;
    color: #898989;
    font-size: 14px;
    margin: 0;
    padding: 0;
    list-style: disc;
    padding-left: 5px;
    margin-left: 15px;
    line-height: 30px;
}

.select-control {
    border: 1px solid #e2e2e2;
    color: #7c7d7f;
    font-size: 14px;
    font-weight: 400;
    height: 40px;
    line-height: 40px;
    margin-bottom: 10px;
    outline: medium none;
    padding: 0 20px;
    width: 100%;
}
.vue-ads-text-xs {
    font-size: 12px;
}
.vue-ads-px-0 {
    padding-left: 0;
    padding-right: 0;
}

.vue-ads-m-2 {
    margin: .5rem;
}
.vue-ads-flex {
    display: -webkit-box;
    display: flex;
}
.vue-ads-pr-2 {
    padding-right: .5rem;
}
.vue-ads-leading-loose {
    line-height: 2;
}
*, *::before, *::after {
    box-sizing: border-box;
}

*, :after, :before {
    border-width: 0;
    border-style: solid;
    border-color: #e2e8f0;
}
.sub-info {
    padding: 1px 6px;
    background: #f4f4f4;
    font-size: 11px;
    font-style: italic;
    border: 1px dashed #f1c18e;
    border-radius: 0.2rem;
    margin-right: 10px;
}
.btn-xs, .btn-group-xs>.btn {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.vue-ads-bg-teal-500 {
    background-color: #38b2ac;
}
.vue-ads-flex-grow {
    -webkit-box-flex: 1;
    flex-grow: 1;
}

.vue-ads-justify-end {
    -webkit-box-pack: end;
    justify-content: flex-end;
}
.vue-ads-flex {
    display: -webkit-box;
    display: flex;
}
.vue-ads-text-white {
    color: #fff;
}
.vue-ads-w-6 {
    width: 2.5rem;
}
.vue-ads-ml-1 {
    margin-left: .25rem;
}
.card-footer {
    padding: .75rem 1.25rem;
    background-color: rgba(0,0,0,.03);
    border-top: 1px solid rgba(0,0,0,.125);
}
.required{
    color:red;
}
.invalid-feedback {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #e3342f;
}
.invalid-feedback {
    font-size: 11px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.was-validated .form-control:invalid, .form-control.is-invalid {
    border-color: #dc3545;
}
#minimal-bootstrap-carousel .carousel-control i{
    margin-right: 5px;
}

.reg_sms_success {
    background: #3c8dbc26;
    color: #3c8dbc !important;
    border-left: 6px solid #0b8ad29c !important;
    outline: none !important;
    font-width: 100px !important;
    margin-left: -1px;
    padding: 15px 10px;
    text-shadow: 0 0 black;
}

.reg_sms_fail{
    background: #dc35451f;
    color: #dc3545 !important;
    border-left: 6px solid #dc3545 !important;
    outline: none !important;
    font-width: 100px !important;
    margin-left: -1px;
    padding: 15px 10px;
    text-shadow: 0 0 black;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #f86a4e;
    border-radius: 50%;
    padding: 1px 10px;
    margin-right: 10px;
    color: white;
    font-weight: bold;
}

/* The container checkbox */
.con_checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.con_checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border: 1px solid #ccc;
}

/* On mouse-over, add a grey background color */
.con_checkbox:hover input ~ .checkmark-box {
    background-color: #fff;
}

/* When the checkbox is checked, add a blue background */
.con_checkbox input:checked ~ .checkmark-box {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark-box:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.con_checkbox input:checked ~ .checkmark-box:after {
    display: block;
}

/* Style the checkmark/indicator */
.con_checkbox .checkmark-box:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.res-readmore{
    margin-top: -30px;
}

.btn-left{
    padding-left: 0px;
}
.btn-right{
    padding-right: 0px;
}

/* Flag Icons */
.flag-xs,
.flag-sm,
.flag,
.flag-lg {
    display: inline-block;
    vertical-align: middle;
}
.flag-xs {
    width: 16px;
    height: 16px;
    background: url('../../../img/flag_icons/flag-xs.png') no-repeat top left;
}
.flag-sm {
    width: 32px;
    height: 32px;
    background: url('../../../img/flag_icons/flag-sm.png') no-repeat top left;
}
.flag-sm.flag-kh {
    background-position: 0 0;
}
.flag-sm.flag-en {
    background-position: 0 -33px;
}
.flag-sm.flag-zh {
    background-position: 0 -66px;
}
.flag-sm.flag-kr {
    background-position: 0 -99px;
}
.flag-sm.flag-jp {
    background-position: 0 -132px;
}
.flag-sm.flag-us {
    background-position: 0 -165px;
}
.flag-xs.flag-kh {
    background-position: 0 0;
}
.flag-xs.flag-en {
    background-position: 0 -17px;
}
.flag-xs.flag-zh {
    background-position: 0 -34px;
}
.flag-xs.flag-kr {
    background-position: 0 -51px;
}
.flag-xs.flag-jp {
    background-position: 0 -68px;
}

/*========== Radio Button ==========*/
/* The container */
.containerRadio {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.containerRadio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


/* Create a custom radio button */
.checkmark{
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
    border: 1px solid #ccc;
}

/* On mouse-over, add a grey background color */
.containerRadio:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.containerRadio input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.containerRadio input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.containerRadio .checkmark:after {
    top: 6px;
    left: 5px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: white;
}
