@font-face {
    font-family: "Odor Mean Chey";
    src: url('/fonts/khmer-font/KhmerOSContent-Bold.ttf');
    src: url('/fonts/khmer-font/KhmerOSContent-Regular.ttf');
    src: url('/fonts/khmer-font/OdorMeanChey.ttf');
    font-style: normal;
}

body {
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 11px;
    font-weight: 400;
}

#landscape {
    font-size: 12px;
    width: 2808px;
    height: 100%;
    padding: 30px;
    margin-top: 35px;
}

#tp_title {
    font-size: 14px;
    line-height: 22px;
}

#table_title {
    font-size: 12px;
}

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td,
#customers th {
    border: 1px solid #ddd;
    padding: 15px;
    font-family: 'Odor Mean Chey';
    font-size: 11px;
}

#customers td,
#customers th {
    font-family: 'Odor Mean Chey';
    padding: 1px;
    font-size: 10px;
}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    background-color: #dee2e6;
    color: black;
}

.align-center {
    text-align: center !important;
    ;
}