@media(min-width: 1600px) {
    .font-weight-light {
        font-weight: 600 !important;
        font-size: 20px;
        text-transform: uppercase;
    }
    .display {
        display: revert;
    }
    .action {
        float: left;
        margin-left: 5px;
    }
    .input-left {
        float: left;
        width: 90%;
        margin-right: 5px;
    }
}

@media(min-width: 1024px) {
    .font-weight-light {
        font-weight: 600 !important;
        font-size: 20px;
        text-transform: uppercase;
    }
    .display {
        display: revert;
    }
    .input-left {
        float: left;
        width: 88%;
        margin-right: 5px;
    }
}

@media (max-width: 768px) {
    .nav-link {
        display: block;
        padding: 0.5rem 0.5rem;
    }
    .display {
        display: none;
    }
    .input-left {
        float: left;
        width: 85%;
        margin-right: 5px;
    }
}

@media(max-width: 650px) {}

@media (max-width: 420px) {}

@media (max-width: 450px) {}

@media (max-width: 480px) {}

@media only screen and (max-width: 991px) {}

@media (max-width: 414px) {
    .nav-link {
        display: block;
        padding: 0.5rem 0.5rem;
    }
    .display {
        display: none;
    }
    .input-left {
        float: left;
        width: 85%;
        margin-right: 5px;
    }
}

@media (max-width: 375px) {
    .font-weight-light {
        font-weight: 300 !important;
        font-size: 11px;
        text-transform: uppercase;
    }
    .input-left {
        float: left;
        width: 81%;
        margin-right: 5px;
    }
}

@media (max-width: 320px) {}

@media (max-width: 280px) {}