<template>
<div class="login-box">
    <div class="login-logo">
        <img src="/img/logo_mot.png" alt="" style="width: 150px;">
    </div>
    <div style="font-size: 18px; text-align: center; text-transform: uppercase; padding-bottom: 10px;">Vaccination Tour Package</div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <h3><p class="login-box-msg">Sign in to your account</p></h3>

            <div v-show="login_error_message">
                <div class="alert alert-danger alert-dismissable">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                     {{error_message}}
                </div>
            </div>

            <div class="alert alert-success alert-dismissible" style="margin-top: 0px;" v-show="login_message">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div><i class="icon fas fa-check"></i> Successfully. Redirecting...</div>
            </div>

            <div class="alert alert-success alert-dismissible" style="margin-top: 0px;" v-show="verify_message">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div><i class="icon fas fa-check"></i>Successfully verify your account. Please wait for MOT approval.</div>
            </div>

            <form @submit.prevent="login(user)">
                <div class="input-group mb-3">
                    <input type="email" class="form-control" placeholder="Email" name="email" required autocomplete="email"  v-model="user.email" autofocus>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="password" name="password" class="form-control" value="" placeholder="Password" v-model="user.password" required autocomplete="current-password">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-8" style="max-width: 62.6666666667%;">
                        <div class="icheck-primary">
                            <input type="checkbox" id="remember" name="remember" checked="">
                            <label for="remember">
                                Remember Me
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary btn-block" style="width: 100px; font-size: 12px;">Sign In</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

            <p class="mb-1">
                <a href="/password/reset" style="font-size: 12px; color: #6d7a86;">I forgot my password</a>
            </p>
            <p class="mb-0">
                <a href="/register" class="text-center" style="font-size: 12px; color: #6d7a86;">Register a new membership</a> <br/>
            </p>

        </div>
        <!-- /.login-card-body -->

    </div>
</div>
</template>

<script>
    export default {
        data() {
            return {
                error_message: '',
                login_message : false,
                login_error_message: false,
                verify_message: false,
                user: {
                    email: null,
                    password: null,
                },
            }
        },
        mounted(){
            if(this.$route.query.verify === 'true'){
                this.verify_message = true;
            }
        },
        methods: {
            login(user) {
                this.$loading(true);
                Store.dispatch('login', user)
                    .then(response => {
                        if(response.data.statusCode === 400){
                            this.login_error_message = true;
                            this.error_message = response.data.message;
                        }else{
                            this.login_error_message = false;
                            this.login_message = true;
                            Store.dispatch('getCurrentUser')
                                .then(resp => {
                                    if(resp.data.data.user_role > 2){
                                        window.location.href = '/home';
                                    }else{
                                        window.location.href = '/backend/dashboard';
                                    }
                                })
                        }
                        this.$loading(false);
                    })
                    .catch(error => {
                        this.login_error_message = true;
                        this.error_message = "Email or password incorrect!";
                        this.$loading(false);
                    })
            }
        },
    }
</script>
