<template>

<div class="register-box">
    <div class="register-logo">
        <img src="/img/logo_mot.png" alt="" style="width: 150px;">
    </div>
    <div style="font-size: 18px; text-align: center; text-transform: uppercase; padding-bottom: 10px;">Vaccination Tour Package</div>
    <div class="card">
        <div class="card-body register-card-body">


            <div v-show="register_error_message">
                <div class="alert alert-danger alert-dismissable">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    <ul style="margin-left: -30px;">
                        <li v-for="value in register_message">
                            {{value[0]}} 
                        </li>
                    </ul>
                </div>
            </div>

            <div class="alert alert-success alert-dismissible" style="margin-top: 0px;" v-show="register_success_message">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div><i class="icon fas fa-check"></i> Successfully registered. Please verify the account from your email.</div>
            </div>

            <form action="" @submit.prevent="createUser()">

            <div class="rigister-title"> Agency Information</div>

                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="name" v-model="form.agency_name" placeholder="Agency Name" required>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class=""></span>
                        </div>
                    </div>
                </div>

                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="phone" v-model="form.phone" placeholder="Phone" required>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class=""></span>
                        </div>
                    </div>
                </div>

                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="description" v-model="form.description" placeholder="Description" required>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class=""></span>
                        </div>
                    </div>
                </div>

                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="address" v-model="form.address" placeholder="Address" required>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class=""></span>
                        </div>
                    </div>
                </div>

                <div class="input-group mb-3">
                    <select class="form-control" v-model="form.country_id" required>
                        <option value="0">--- Select ----</option>
                        <option v-for="value in country" :value="value.id">{{value.name}}</option>
                    </select>
                </div>

                
                <div class="rigister-title"> Security Information</div>

                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="name" v-model="form.name" placeholder="Full name" required>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                </div>

                <div class="input-group mb-3">
                    <input type="email" class="form-control" name="email" v-model="form.email" placeholder="Email" required>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>

                <div class="input-group mb-3">
                    <input type="password" class="form-control" name="password" v-model="form.password" placeholder="Password" required>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>

                <div class="input-group mb-3">
                    <input type="password" class="form-control" v-model="form.password_confirmation" name="password_confirmation" placeholder="Retype password" required>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-8">
                        <a href="/" class="text-center">I already have a membership</a>
                    </div>
                    <!-- /.col -->
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary btn-block">Register</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

            
        </div>
        <!-- /.form-box -->
    </div><!-- /.card -->
</div>

</template>
<script>
import Swal from 'sweetalert2/dist/sweetalert2.js'
    export default {
        data() {
            return {
                register_success_message: false,
                register_error_message: false,
                register_message: [],
                country: [],
                form: new Form({
                    id:'',
                    agency_name: '',
                    description: '',
                    phone: '',
                    address: '',
                    phone: '',
                    country_id : '0',

                    name: '',
                    email: '',
                    password : '',
                    password_confirmation: '',
                })
            }
        },
        mounted(){
      
        },
        methods: {
            createUser() {
                this.$loading(true)
                this.form.post('/api/register')
                    .then((response) => {
                        if(response.data.statusCode === 200){
                            this.form.reset();
                            this.register_error_message = false;
                            this.register_success_message = true;
                        }else{
                            this.register_error_message = true;
                            this.register_message = response.data.message;
                        }
                        this.$loading(false);
                    })
                    .catch((error) => {
                        this.register_error_message = true;
                        this.register_success_message = false;
                        this.register_message = error.message;
                        this.$loading(false);
                    })
            },
            loadCountry(){
                axios.get("/api/country")
                    .then(response => {
                        this.country = response.data.data;
                    });
            }
        },
        created() {
            this.loadCountry();
        }
    }
</script>
