<template>
<div style="width: 100%;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h3 class="m-0"> Add New Tour Package</h3>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Add New Tour Package</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <div class="card-body">
        <div class="tab-content">
                <div class="tab-pane active" id="activity">
                    <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">General Information</h3>
                    </div>
                        <div class="card-body">
                            <form>

                                <div class="tour-package-title">
                                <b>Tour Package</b>
                                </div>

                                <div class="form-group row">
                                    <label for="inputName" class="col-sm-3 col-form-label">Package Name <span class="required">*</span></label>
                                    <div class="col-sm-9 col-md-8">
                                        <input type="text" class="form-control" id="inputName" required placeholder="Package Name" v-model="form.title">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="timepicker" class="col-sm-3 col-form-label">Arrival Date <span class="required">*</span></label>
                                    <div class="col-sm-9 col-md-8">
                                        <div class="input-group date" id="timepicker" data-target-input="nearest">
                                            <date-picker name="date_of_birth" v-model="form.arrival_date" :config="{format: 'YYYY-MM-DD'}"></date-picker>
                                            <div class="input-group-append" data-target="#timepicker" data-toggle="datetimepicker">
                                                <div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <label for="timepicker" class="col-sm-3 col-form-label">Departure Date <span class="required">*</span></label>
                                    <div class="col-sm-9 col-md-8">
                                        <div class="input-group date" id="departure_date" data-target-input="nearest">
                                            <date-picker name="date_of_birth" v-model="form.departure_date" :config="{format: 'YYYY-MM-DD'}"></date-picker>
                                            <div class="input-group-append" data-target="#departure_date" data-toggle="datetimepicker">
                                                <div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="timepicker" class="col-sm-3 col-form-label">Market <span class="required">*</span></label>
                                    <div class="col-sm-9 col-md-8">
                                        <select class="form-control" v-model="form.market">
                                            <option value="0">--- Select ----</option>
                                            <option v-for="c in country" :value="c.id">{{c.nationality}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="inputEmail" class="col-sm-3 col-form-label">Number of days <span class="required">*</span></label>
                                    <div class="col-sm-9 col-md-8">
                                        <input type="text" class="form-control" id="inputEmail" placeholder="0" v-model="form.num_day_tour" required>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="inputEmail" class="col-sm-3 col-form-label">Hotel Qurantine</label>
                                    <div class="col-sm-9 col-md-8">
                                        <select class="form-control" v-model="form.hotel_qarantine">
                                            <option value="0">--- Select ---</option>
                                            <option v-for="Value in HotelQurantine" :value="Value.id"> {{Value.hotelname_en}} </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="inputEmail" class="col-sm-3 col-form-label">Insurance Company & Policy Number</label>
                                    <div class="col-sm-9 col-md-8">
                                        <input type="text" class="form-control" placeholder="" v-model="form.insurance_company">
                                    </div>
                                </div>         

                                <div class="form-group row">
                                    <label for="inputEmail" class="col-sm-3 col-form-label">Tour Guide</label>
                                    <div class="col-sm-9 col-md-8">
                                        <select class="form-control input-left" v-model="form.leader_id">
                                            <option value="0">--- Select ---</option>
                                            <option v-for="Value in TeamLeader" :value="Value.id">{{Value.first_name}} {{Value.last_name}}</option>
                                        </select>

                                        <router-link to="/team-leader-list" type="button" class="btn btn-primary btn-sm" style="margin-top: 2px;">
                                            <i class="fas fa-plus-circle" style="font-size: 10px;"></i>
                                        </router-link>
                                    </div>
                                </div>                                                       

                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Price of Package <span style="font-size: 12px; color: #6c757dba;">(Optional)</span></label>
                                    <div class="col-sm-9 col-md-8">
                                        <input type="text" class="form-control" placeholder="0" v-model="form.price">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="inputName2" class="col-sm-3 col-form-label">Description</label>
                                    <div class="col-sm-9 col-md-8">
                                        <textarea class="form-control" id="inputExperience" placeholder="Description" v-model="form.description"></textarea>
                                    </div>
                                </div>


                                <br style="clear: both;"/>

                                <div class="form-group row">
                                    <div class="offset-sm-2 col-sm-10 text-right">
                                        <router-link to="/tour-package-list">
                                            <button type="submit" class="btn btn-secondary"><i class="fas fa-backward"></i> Back</button>
                                        </router-link>
                                        <button type="submit" @click.prevent="create_data()" class="btn btn-info"><i class="far fa-save"></i> Save</button>
                                        <button type="submit" @click.prevent="register_data()" class="btn btn-primary"><i class="fas fa-edit"></i> Register</button>
                                    </div>
                                </div>
                            </form>

                        </div>

                </div><!-- /.card-body -->
            </div>
        </div>
    </div>
</div>
</template>

<script>
    import Vue from 'vue';
    import VueTimepicker from 'vue2-timepicker'
    import datePicker from 'vue-bootstrap-datetimepicker';
    import 'pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.css';
    import 'vue2-timepicker/dist/VueTimepicker.css'
    import VueCustomTooltip from '@adamdehaven/vue-custom-tooltip'

    Vue.use(datePicker);

    export default {
        components: { VueTimepicker, VueCustomTooltip, },
        data() {
            return {
                HotelQurantine: [],
                TeamLeader: [],
                TourPackageState: '',
                country: [],
                form: new Form({
                    id: '',
                    leader_id: '',
                    title: '',
                    arrival_date: '',
                    departure_date: '',
                    market: '',
                    num_day_tour: '',
                    meal: '',
                    transport: '',
                    activity: '',
                    description: '',
                    price: '',
                    state: '',
                    hotel_qarantine: '',
                    insurance_company: ''
                }),
            }
        },
        methods: {
            register_data(){
                this.form.is_register = 1;
                let formData = this.form;
                this.$loading(true);
                axios.post('/api/tourPackage', formData)
                    .then(response => {
                        if(response.data.statusCode === 200){
                            this.$toast.success({
                                type: 'success',
                                title: 'Create Data',
                                message: 'Tour Package Created in Successfully'
                            });
                            this.reset();
                            this.$router.push('/tour-package-list');
                        }
                        this.$loading(false);
                    })
                    .catch((error)=>{
                        this.$toast.error({
                            title:'Create Data',
                            message: error.message
                        });
                        this.$loading(false)
                    })
            },
            create_data(){
                this.form.is_register = 0;
                let formData = this.form;
                this.$loading(true);
                axios.post('/api/tourPackage', formData)
                    .then(response => {
                        if(response.data.statusCode === 200){
                            this.$toast.success({
                                type: 'success',
                                title: 'Create Data',
                                message: 'Tour Package Created in Successfully'
                            });
                            this.reset();
                            this.$router.push('/tour-package-list');
                        }
                        this.$loading(false);
                    })
                    .catch((error)=>{
                        this.$toast.error({
                            title:'Create Data',
                            message: error.message
                        });
                        this.$loading(false)
                    })
            },
            loadTeamLeader(){
                this.$loading(true);
                axios.get("/api/teamLeader?paginate=1000")
                    .then(response => {
                        this.TeamLeader = response.data.data;
                        this.$loading(false);
                    });
            },
            loadTourPackageState(){
                this.$loading(true);
                axios.get("/api/get-tour-package-state")
                    .then(response => {
                        this.TourPackageState = response.data.data;
                        this.$loading(false);
                    });
            },
            loadCountry(){
                axios.get("/api/country")
                    .then(response => {
                        this.country = response.data.data;
                    });
            },
            hotelQurantine(){
                axios.get("https://surveyhotel.cambodiabesthospitality.org/public/api/gethotel")
                    .then(response => {
                        this.HotelQurantine = response.data.data;
                    });
            },
            reset(){
                this.form.reset();
            }
        },
        created() {
            this.hotelQurantine();
            this.loadCountry();
            this.loadTourPackageState();
            this.loadTeamLeader();
        }
    }
</script>
<style>
    .vue__time-picker input.display-time {
        font-size: 0.9em !important;
    }
</style>
