<template>
<div style="width: 100%;">
    <div class="content-wrapper" style="min-height: 492px;">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h3 class="m-0"> Account Setting</h3>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Account Setting</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                        <!-- Profile Image -->
                        <div class="card card-outline">
                            <div class="card-header">
                                <h3 class="card-title">Agency Information</h3>
                            </div>
                            <div class="card-body box-profile">
                                <div class="text-center">
                                    <img class="profile-user-img img-fluid img-circle" :src="'/images/thumbnails/'+Agency.logo" alt="User profile picture" v-if="Agency.logo != null">
                                    <img class="profile-user-img img-fluid img-circle" src="/img/logo_mot.png" alt="User profile picture" v-else>
                                </div>

                                <h4 class="text-center" style="font-size: 12px; color: #a29f9b;">Logo</h4>

                                <!--<p class="text-muted text-center">Software Engineer</p>-->

                                <hr>
                                <div class="form-group row">
                                    <label for="inputName" class="col-sm-2 col-form-label">Agency Name : </label>
                                    <div class="col-sm-10 col-md-8">
                                        {{Agency.name}}
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="inputName" class="col-sm-2 col-form-label">Phone : </label>
                                    <div class="col-sm-10 col-md-8">
                                        {{Agency.phone}}
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="inputName" class="col-sm-2 col-form-label">Email : </label>
                                    <div class="col-sm-10 col-md-8">
                                        {{Agency.email}}
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="inputName" class="col-sm-2 col-form-label">Address : </label>
                                    <div class="col-sm-10 col-md-8">
                                        {{Agency.address}}
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="inputName" class="col-sm-2 col-form-label">Country : </label>
                                    <div class="col-sm-10 col-md-8">
                                        {{Agency.country}}
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="inputName" class="col-sm-2 col-form-label">Description : </label>
                                    <div class="col-sm-10 col-md-8">
                                        {{Agency.description}}
                                    </div>
                                </div>

                                <div class="card-body1">
                                    <hr>
                                </div>
                                <!-- /.card-body -->

                                <a href="#" class="btn btn-primary float-right" @click="newModal"><i class="fas fa-edit"></i> Edit</a>
                                
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->

                        <!-- Change Password -->
                        <div class="card card-outline">
                            <div class="card-header">
                                <h3 class="card-title">Security Setting</h3>
                            </div>
                            <div class="card-body">
                                <form @submit.prevent="changePassword()">

                                    <div class="card-body">

                                        <div class="form-group row">
                                            <label for="email" class="col-sm-3 col-form-label">Email</label>
                                            <div class="col-sm-9 col-md-8">
                                                <input v-model="form.email" type="text" name="email" readonly
                                                    placeholder="Email"
                                                    class="form-control" :class="{ 'is-invalid': form.errors.has('email') }">
                                                <has-error :form="form" field="email"></has-error>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="password" class="col-sm-3 col-form-label">Password</label>
                                            <div class="col-sm-9 col-md-8">
                                                <input type="password"
                                                    v-model="form.password"
                                                    class="form-control"
                                                    id="password"
                                                    placeholder="Password"
                                                    :class="{ 'is-invalid': form.errors.has('password') }"
                                                >
                                                <has-error :form="form" field="password"></has-error>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="new_pwd" class="col-sm-3 col-form-label">New Password</label>
                                            <div class="col-sm-9 col-md-8">
                                                <input type="password"
                                                    v-model="form.new_password"
                                                    class="form-control"
                                                    id="new_pwd"
                                                    placeholder="New Password"
                                                    :class="{ 'is-invalid': form.errors.has('new_pwd') }"
                                                >
                                                <has-error :form="form" field="new_pwd"></has-error>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="con_new_pwd" class="col-sm-3 col-form-label">Confirm New Password</label>
                                            <div class="col-sm-9 col-md-8">
                                                <input type="password"
                                                    v-model="form.con_new_password"
                                                    class="form-control"
                                                    id="con_new_pwd"
                                                    placeholder="Confirm New Password"
                                                    :class="{ 'is-invalid': form.errors.has('con_new_pwd') }"
                                                >
                                                <has-error :form="form" field="password"></has-error>
                                            </div>
                                        </div>

                                        <hr/>
                                        <span v-html="message"></span>
                                        <br/>
                                        <div class="form-group row" style="float: right;">
                                            <button type="submit" class="btn btn-success"><i class="fas fa-edit"></i> Change Password</button>
                                        </div>


                                    </div>
                                </form>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- End Change Password -->


                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content -->

        <!-- Modal Update Tour Agency -->
        <div class="modal fade" id="package" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Agency Information</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form @submit.prevent="update_tour_agency()">
                        <div class="modal-body">
                            <div class="form-group row">
                                <label for="inputName" class="col-sm-3 col-form-label">Name <span class="required">*</span></label>
                                <div class="col-sm-8 col-md-8">
                                    <input type="text" class="form-control" id="inputName" required placeholder="Name" v-model="form.name">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputName" class="col-sm-3 col-form-label">Email <span class="required">*</span></label>
                                <div class="col-sm-8 col-md-8">
                                    <input type="text" class="form-control" id="inputName" required placeholder="Email" v-model="form.email">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputName" class="col-sm-3 col-form-label">Phone <span class="required">*</span></label>
                                <div class="col-sm-8 col-md-8">
                                    <input type="text" class="form-control" id="inputName" required placeholder="Phone" v-model="form.phone">
                                </div>
                            </div>


                            <div class="form-group row">
                                <label for="inputName" class="col-sm-3 col-form-label">Address <span class="required">*</span></label>
                                <div class="col-sm-8 col-md-8">
                                    <input type="text" class="form-control" id="inputName" required placeholder="Address" v-model="form.address">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputName" class="col-sm-3 col-form-label">Country <span class="required">*</span></label>
                                <div class="col-sm-8 col-md-8">
                                    <select class="form-control" v-model="form.country_id">
                                        <option value="0">--- Select ----</option>
                                        <option v-for="c in country" :value="c.id">{{c.name}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputName" class="col-sm-3 col-form-label">Description <span class="required">*</span></label>
                                <div class="col-sm-8 col-md-8">
                                    <textarea rows="2" v-model="form.description" class="form-control"></textarea>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="thumb_image" class="col-sm-3 col-form-label">Logo</label>

                                <div class="col-sm-10 col-md-8" v-if="form.logo">
                                    <div style="padding-top:10px;">
                                        <img :src="`/images/thumbnails/${form.logo}`" style="max-width: 150px;"/>
                                        <button type="button" class="btn btn-danger btn-xs" @click="deleteImg(form.logo)"><i class="fa fa-trash-alt"></i></button>
                                    </div>
                                </div>

                                <div class="col-sm-10 col-md-8" v-else>
                                    <div id="preview" style="padding-top:10px;" v-if="form.logo">
                                        <img :src="url"  style="max-width: 150px;"/>
                                        <button type="button" class="btn btn-danger btn-xs" @click="deleteImg(form.logo)"><i class="fa fa-trash-alt"></i></button>
                                    </div>

                                    <div v-else>
                                        <input type="file" id="thumb_image" name="thumb_image" ref="imageUrl" v-on:change="onImageChange" :class="{ 'is-invalid': form.errors.has('thumb_image') }"/>
                                        <has-error :form="form" field="thumb_image"></has-error>
                                    </div>
                                    <br/>

                                    <div class="alert alert-danger alert-dismissable" v-if="errorMessage !== ''">
                                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                        {{errorMessage}}
                                    </div>


                                    <div
                                        class="progress-bar progress-bar-info progress-bar-striped"
                                        role="progressbar"
                                        :aria-valuenow="uploadPercentage"
                                        aria-valuemin="0"
                                        aria-valuemax="100"
                                        :style="{ width: uploadPercentage + '%' }"
                                    >
                                        {{ uploadPercentage }}%
                                    </div>
                                </div>
                            </div>

                        </div>


                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times-circle"></i> Close</button>
                            <button type="submit" class="btn btn-success"><i class="fas fa-edit"></i> Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Contact Information -->
        <div class="modal fade" id="ContactInfo" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Agency Information</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form @submit.prevent="update_tour_agency()">
                        <div class="modal-body">
                            <div class="form-group row">
                                <label for="inputName" class="col-sm-3 col-form-label">Name <span class="required">*</span></label>
                                <div class="col-sm-8 col-md-8">
                                    <input type="text" class="form-control" id="inputName" required placeholder="Name" v-model="form.name">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputName" class="col-sm-3 col-form-label">Email <span class="required">*</span></label>
                                <div class="col-sm-8 col-md-8">
                                    <input type="text" class="form-control" id="inputName" required placeholder="Email" v-model="form.email">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputName" class="col-sm-3 col-form-label">Phone <span class="required">*</span></label>
                                <div class="col-sm-8 col-md-8">
                                    <input type="text" class="form-control" id="inputName" required placeholder="Phone" v-model="form.phone">
                                </div>
                            </div>


                            <div class="form-group row">
                                <label for="inputName" class="col-sm-3 col-form-label">Address <span class="required">*</span></label>
                                <div class="col-sm-8 col-md-8">
                                    <input type="text" class="form-control" id="inputName" required placeholder="Address" v-model="form.address">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputName" class="col-sm-3 col-form-label">Country <span class="required">*</span></label>
                                <div class="col-sm-8 col-md-8">
                                    <select class="form-control" v-model="form.country_id">
                                        <option value="0">--- Select ----</option>
                                        <option v-for="c in country" :value="c.id">{{c.name}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputName" class="col-sm-3 col-form-label">Description <span class="required">*</span></label>
                                <div class="col-sm-8 col-md-8">
                                    <textarea rows="2" v-model="form.description" class="form-control"></textarea>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="thumb_image" class="col-sm-3 col-form-label">Logo</label>

                                <div class="col-sm-10 col-md-8" v-if="form.logo">
                                    <div style="padding-top:10px;">
                                        <img :src="`/images/thumbnails/${form.logo}`" style="max-width: 150px;"/>
                                        <button type="button" class="btn btn-danger btn-xs" @click="deleteImg(form.logo)"><i class="fa fa-trash-alt"></i></button>
                                    </div>
                                </div>

                                <div class="col-sm-10 col-md-8" v-else>
                                    <div id="preview" style="padding-top:10px;" v-if="form.logo">
                                        <img :src="url"  style="max-width: 150px;"/>
                                        <button type="button" class="btn btn-danger btn-xs" @click="deleteImg(form.logo)"><i class="fa fa-trash-alt"></i></button>
                                    </div>

                                    <div v-else>
                                        <input type="file" id="thumb_image" name="thumb_image" ref="imageUrl" v-on:change="onImageChange" :class="{ 'is-invalid': form.errors.has('thumb_image') }"/>
                                        <has-error :form="form" field="thumb_image"></has-error>
                                    </div>
                                    <br/>

                                    <div class="alert alert-danger alert-dismissable" v-if="errorMessage !== ''">
                                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                        {{errorMessage}}
                                    </div>


                                    <div
                                        class="progress-bar progress-bar-info progress-bar-striped"
                                        role="progressbar"
                                        :aria-valuenow="uploadPercentage"
                                        aria-valuemin="0"
                                        aria-valuemax="100"
                                        :style="{ width: uploadPercentage + '%' }"
                                    >
                                        {{ uploadPercentage }}%
                                    </div>
                                </div>
                            </div>

                        </div>


                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times-circle"></i> Close</button>
                            <button type="submit" class="btn btn-success"><i class="fas fa-edit"></i> Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
</template>
<style>
    .list-group-item {
        position: relative;
        display: block;
        padding: 0.25rem 1.25rem;
        background-color: #ffff;
        border: 1px solid rgba(0, 0, 0, 0.03);
    }
</style>
<script>
    import Swal from 'sweetalert2/dist/sweetalert2.js'
    export default {
        data() {
            return {
                url: null,
                thumbnailsPart : 'images/thumbnails/',
                originalPart : 'images/contents/Original/',
                Agency : {},
                country: [],
                TourActive: '',
                LeadActive: '',
                SettingActive: '',
                uploadPercentage: 0,
                errorMessage : '',
                message: '',
                form: new Form({
                    id:'',
                    name : '',
                    description: '',
                    email: '',
                    phone: '',
                    address: '',
                    country_id: '0',
                    logo: '',
                })
            }
        },
        mounted(){
            this.loadAgency();
        },
        methods: {
            onImageChange(e){
                const file = e.target.files[0];
                this.url = URL.createObjectURL(file);

                const config = {
                    headers: { 'content-type': 'multipart/form-data' }
                };

                let formData = new FormData();
                formData.append('image', file);
                formData.append('thumbnailsPart', this.thumbnailsPart);
                formData.append('originalPart', this.originalPart);
                formData.append('validate', 'required|image|mimes:jpeg,png,jpg,gif,svg|max:100000');

                axios.post('/api/resizeImagePost',
                    formData,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        },
                        onUploadProgress: function( progressEvent ) {
                            this.uploadPercentage = parseInt( Math.round( ( progressEvent.loaded / progressEvent.total ) * 100 ));
                        }.bind(this)
                    }
                )
                    .then(function (response) {
                        this.form.logo = response.data.data.name;
                        this.errorMessage = '';
                    }.bind(this))
                    .catch((error) => {
                        this.uploadPercentage = 0;
                        this.errorMessage = error.message;
                        this.$toast.error({
                            title:'Upload Sound',
                            message: error.message,
                        });
                        this.$loading(false)
                    })
            },
            deleteImg(img){
                let formData = new FormData();
                formData.append('image', img);
                formData.append('thumbnailsPart', this.thumbnailsPart);
                formData.append('originalPart', this.originalPart);

                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.value) {
                        axios.post('/api/removeImage', formData).then((response)=>{
                            Swal.fire(
                                'Deleted!',
                                'Your file has been deleted.',
                                'success'
                            );
                            this.form.logo = null;
                            this.uploadPercentage = 0;
                        }).catch(()=> {
                            Swal.fire("Failed!", "There was something wronge.", "warning");
                        });
                    } else if (result.dismiss === Swal.DismissReason.cancel) {
                        Swal.close();
                    }
                })
            },
            loadAgency(){
                this.$loading(true);
                axios.get("/api/getAgency")
                    .then(response => {
                        this.form.fill(response.data.data);
                        this.Agency = response.data.data;
                        this.$loading(false);
                    });
            },
            update_tour_agency(){
                this.$loading(true);
                this.form.put('/api/tourAgency/'+this.form.id)
                    .then(response => {
                        this.$toast.success({
                            type: 'success',
                            title: 'Tour Agency Update in Successfully'
                        });
                        this.form.reset();
                        $('#package').modal('hide');
                        this.loadAgency();
                    })
                    .catch(()=>{
                        this.$toast.error({
                            title:'Update Tour Agency',
                            message: error.message
                        });
                        this.$loading(false)
                    })
            },
            tourList(){
                this.$router.push('/tour-agency-profile')
            },
            teamLeader(){
                this.$router.push('/team-leader-list')
            },
            setting(){
                this.$router.push('/setting')
            },
            newModal(){
                $('#package').modal('show');
            },
            newModalContact(){
                $('#ContactInfo').modal('show');
            },
            loadCountry(){
                axios.get("/api/country")
                    .then(response => {
                        this.country = response.data.data;
                    });
            },
            active(){
                if (this.$route.name === 'Setting'){
                    this.SettingActive = 'active';
                }else if (this.$route.name === 'TeamLeader'){
                    this.LeadActive = 'active';
                }else{
                    this.TourActive = 'active';
                }
            }
        },
        created() {
            this.active();
            this.loadCountry();
            Fire.$on('AfterCreate',() => {
                this.loadAgency();
            });

        }
    }
</script>
