<template>
    <div class="register-box">
        <div class="register-logo">
            <img src="/img/logo_mot.png" alt="" style="width: 150px;">
        </div>
        <div style="font-size: 18px; text-align: center; text-transform: uppercase; padding-bottom: 10px;">Tour Package Registration</div>
        <div class="card">
            <div class="card-body register-card-body">
                <h4><p class="login-box-msg">Agency Registration</p></h4>

                <form @submit.prevent="create_tour_agency()">
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Agency Name" v-model="form.name">
                    </div>

                    <div class="mb-3">
                        <input type="email" class="form-control" placeholder="Email" v-model="form.email">
                    </div>

                    <div class="mb-3">
                        <input type="phone" class="form-control" placeholder="Phone" v-model="form.phone">
                    </div>

                    <div class="mb-3">
                        <input type="address" class="form-control" placeholder="Address" v-model="form.address">
                    </div>

                    <div class="mb-3">
                        <select class="form-control" v-model="form.country_id">
                            <option value="0" selected>--- Select Country ---</option>
                            <option v-for="c in country" :value="c.id">{{c.name}}</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <textarea class="form-control" placeholder="Description" v-model="form.description"></textarea>
                    </div>

                    <div class="social-auth-links text-center">
                        <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-user-plus"></i> Agency Registration</button>
                    </div>
                </form>
            </div>
            <!-- /.form-box -->
        </div><!-- /.card -->
    </div>
</template>

<script>
    export default {
        data() {
            return {
                country: '',
                form: new Form({
                    id:'',
                    name : '',
                    description: '',
                    email: '',
                    phone: '',
                    address: '',
                    country_id: '0',
                    logo: '',
                })
            }
        },
        methods: {
            update_tour_agency(){
                this.$loading(true);
                this.form.put('/api/tourAgency/'+this.form.id)
                    .then(response => {
                        this.$toast.success({
                            type: 'success',
                            title: 'Tour Agency Created in Successfully'
                        });
                        window.location.href = "/tour-agency-profile"
                    })
                    .catch((error)=>{
                        this.$toast.error({
                            title:'Create Tour Agency',
                            message: error.message
                        });
                        this.$loading(false)
                    })
            },
            loadAgency(){
                axios.get("/api/getAgency")
                    .then(response => {
                        this.form.fill(response.data.data);
                    });
            },
            loadCountry(){
                axios.get("/api/country")
                    .then(response => {
                        this.country = response.data.data;
                    });
            },
        },
        created() {
            this.loadCountry();
            this.loadAgency();
        }
    }
</script>
