<template>
<div style="width: 100%;">
    <br/>
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h3 class="m-0"> Edit Tour Package</h3>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Edit Tour Package</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <div class="card-body">
        <div class="tab-content">
                <div class="tab-pane active" id="activity">
                    <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Tour Package List</h3>
                    </div>
        <div class="card-body">
        <form>

            <div class="tour-package-title">
            <b>Tour Package</b>
            </div>

            <div class="form-group row">
                <label for="inputName" class="col-sm-3 col-form-label">Package Name <span class="required">*</span></label>
                <div class="col-sm-9 col-md-8">
                    <input type="text" class="form-control" id="inputName" required placeholder="Package Name" v-model="form.title">
                </div>
            </div>

            <div class="form-group row">
                <label for="timepicker" class="col-sm-3 col-form-label">Arrival Date <span class="required">*</span></label>
                <div class="col-sm-9 col-md-8">
                    <div class="input-group date" id="timepicker" data-target-input="nearest">
                        <date-picker name="date_of_birth" v-model="form.arrival_date" :config="{format: 'YYYY-MM-DD'}"></date-picker>
                        <div class="input-group-append" data-target="#timepicker" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="form-group row">
                <label for="timepicker" class="col-sm-3 col-form-label">Departure Date <span class="required">*</span></label>
                <div class="col-sm-9 col-md-8">
                    <div class="input-group date" id="departure_date" data-target-input="nearest">
                        <date-picker name="date_of_birth" v-model="form.departure_date" :config="{format: 'YYYY-MM-DD'}"></date-picker>
                        <div class="input-group-append" data-target="#departure_date" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="timepicker" class="col-sm-3 col-form-label">Market <span class="required">*</span></label>
                <div class="col-sm-9 col-md-8">
                    <select class="form-control" v-model="form.market">
                        <option value="0">--- Select ----</option>
                        <option v-for="c in country" :value="c.id">{{c.nationality}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="inputEmail" class="col-sm-3 col-form-label">Number of days <span class="required">*</span></label>
                <div class="col-sm-9 col-md-8">
                    <input type="text" class="form-control" id="inputEmail" placeholder="0" v-model="form.num_day_tour" required>
                </div>
            </div>


            <div class="form-group row">
                <label for="inputEmail" class="col-sm-3 col-form-label">Hotel Qurantine</label>
                <div class="col-sm-9 col-md-8">
                    <select class="form-control" v-model="form.hotel_qarantine">
                        <option value="0">--- Select ---</option>
                        <option v-for="Value in HotelQurantine" :value="Value.id"> {{Value.hotelname_en}} </option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="inputEmail" class="col-sm-3 col-form-label">Insurance Company & Policy Number</label>
                <div class="col-sm-9 col-md-8">
                    <input type="text" class="form-control" placeholder="" v-model="form.insurance_company">
                </div>
            </div>         

            <div class="form-group row">
                <label for="inputEmail" class="col-sm-3 col-form-label">Tour Guide</label>
                <div class="col-sm-9 col-md-8">

                    <select class="form-control input-left" v-model="form.leader_id">
                        <option value="0">--- Select ---</option>
                        <option v-for="Value in TeamLeader" :value="Value.id"> {{Value.first_name}} {{Value.last_name}} </option>
                    </select>

                    <router-link to="/team-leader-list" type="button" class="btn btn-primary btn-sm" style="margin-top: 2px;">
                        <i class="fas fa-plus-circle" style="font-size: 10px;"></i>
                    </router-link>

                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Price of Package <span style="font-size: 12px; color: #6c757dba;">(Optional)</span></label>
                <div class="col-sm-9 col-md-8">
                    <input type="text" class="form-control" placeholder="0" v-model="form.price">
                </div>
            </div>

            <div class="form-group row">
                <label for="inputName2" class="col-sm-3 col-form-label">Description</label>
                <div class="col-sm-9 col-md-8">
                    <textarea class="form-control" id="inputExperience" placeholder="Description" v-model="form.description"></textarea>
                </div>
            </div>


                                <div class="tour-package-title">
                                <b>Itinerary</b>
                                </div>

                                

                                <div class="itinerary" v-for="(res,k) in form.Itinerary" :key="res.id" style="border: 1px solid #d6d8dc; margin-bottom: 10px;">
                                        <div class="card-header">
                                            <h3 class="card-title"> Days {{k+1}}</h3>
                                            <div class="card-tools">
                                                <button type="button" v-if="k > 0" @click="deleteRow(res)" class="badge bg-danger float-right"><i class="fa fa-trash" style="font-size: 10px; margin-right: 3px;"></i> Delete</button>
                                            </div>
                                        </div>
                                    
                                        <div style="padding-left: 15px;">

                                            <div class="form-group row">
                                                <label for="inputName" class="col-sm-3 col-form-label">Program Name <span class="required">*</span></label>
                                                <div class="col-sm-9 col-md-8">
                                                    <input type="text" class="form-control" required placeholder="Ex: Phnom Penh -> Koh Kong" v-model="res.title">
                                                </div>
                                            </div>            
                                            
                                            <div class="form-group row">
                                                <label for="ref_cat_id" class="col-sm-3 col-form-label">Date <span class="required">*</span></label>
                                                <div class="col-sm-9 col-md-8 input-group date" data-target-input="nearest">
                                                    <date-picker name="date_start" v-model="res.date_start" :config="{format: 'YYYY-MM-DD'}"></date-picker>
                                                    <div class="input-group-append" data-target="#date_start" data-toggle="date_start">
                                                        <div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>
                                                    </div>
                                                </div>
                                            </div>        

                                            <div class="form-group row">
                                                <label for="inputName2" class="col-sm-3 col-form-label">Time Start <span class="required">*</span></label>
                                                <div class="col-sm-9 col-md-8">
                                                    <vue-timepicker format="hh:mm A" v-model="res.time_start"></vue-timepicker>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label for="inputName2" class="col-sm-3 col-form-label">Description</label>
                                                <div class="col-sm-9 col-md-8">
                                                    <textarea class="form-control" id="inputExperience" placeholder="Description" v-model="res.description"></textarea>
                                                </div>
                                            </div>

                                            <br/>                                 

                                            <div class="tour-package-title">
                                            <b>Activity</b>
                                            </div>

                                            <div v-for="(value, index) in res.activities" :key="value.id" style="border-bottom: 1px dashed #ced4da;">
                                            
                                                <div class="form-group row">
                                                    <label for="inputName2" class="col-sm-3 col-form-label">Time <span class="required">*</span></label>
                                                    <div class="col-sm-9 col-md-8">
                                                        <vue-timepicker format="hh:mm A" v-model="value.time"></vue-timepicker>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label for="ref_cat_id" class="col-sm-3 col-form-label">Location <span class="required">*</span></label>
                                                    <div class="col-sm-9 col-md-8">

                                                        <select class="form-control input-left" v-model="value.location_id">
                                                            <option value="0">--- Select ---</option>
                                                            <option v-for="row in city" :value="row.id">{{row.title_en}}</option>
                                                        </select>

                                                        <a href="#" v-if="index > 0" @click.prevent="deleteSafeLocation(res, value)" class="btn btn-danger btn-sm" style="margin-top: 2px;">
                                                            <i class="fa fa-trash" style="font-size: 10px;"></i>
                                                        </a>

                                                    </div>
                                                </div>         

                                                <div class="form-group row">
                                                    <label for="inputName2" class="col-sm-3 col-form-label">Type <span class="required">*</span></label>
                                                    <div class="col-sm-9 col-md-8">

                                                        <select class="form-control input-left" v-model="value.safe_cate" @change="LoadSafetyLocation(res, value, $event, value.location_id)">
                                                            <option value="0">--- Select ---</option>
                                                            <option v-for="row in SafetyMeasures" :value="row.id+','+row.title">{{row.title}}</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label for="inputName2" class="col-sm-3 col-form-label">Hotel/Services/Resorts <span class="required">*</span></label>
                                                    <div class="col-sm-9 col-md-8">
                                                        <select class="form-control input-left" v-model="value.safe_loc">
                                                            <option value="0">--- Select ---</option>
                                                            <option v-for="row in value.safe_location" :value="row.id+','+row.name_en">{{row.name_en}}</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label for="inputName2" class="col-sm-3 col-form-label">Activity <span class="required">*</span></label>
                                                    <div class="col-sm-9 col-md-8">
                                                        <input type="text" class="form-control input-left" placeholder="Tour Activity" required v-model="value.activity">
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label for="inputName2" class="col-sm-3 col-form-label">Detail</label>
                                                    <div class="col-sm-9 col-md-8">
                                                        <textarea class="form-control input-left" id="inputExperience" placeholder="Detail" v-model="value.detail"></textarea>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="form-group row">
                                                <label for="inputName2" class="col-sm-3 col-form-label"></label>
                                                <div class="col-sm-8" style="padding-right: 63px;">
                                                    <!-- <span style="float: right; margin-top: -40px;"><i class="fas fa-plus-circle" @click="addSafeLocation(res)" style=""></i></span> -->
                                                    <a href="#" @click.prevent="addSafeLocation(res)" class="btn btn-primary btn-sm" style="float: right; margin-top: -50px;">
                                                        <i class="fas fa-plus-circle" style="font-size: 10px;"></i>
                                                    </a>
                                                </div>
                                            </div>

                                        </div>
                                </div>

                                <div class="card-footer clearfix text-right" style="border: 1px solid #d8d8d8; margin-top: -11px;">
                                    <button type="button" class="badge bg-primary float-right" @click="addNewRow"><i class="fas fa-plus" style="font-size: 10px; margin-right: 3px;"></i> Add Day</button>
                                </div>

                                <br style="clear: both;"/>            

            <br/>
            <div class="form-group row">
                <div class="offset-sm-2 col-sm-10 text-right">
                    <router-link to="/tour-package-list">
                        <button type="submit" class="btn btn-secondary"><i class="fas fa-backward"></i> Back</button>
                    </router-link>
                    <button type="submit" @click.prevent="update_save_data()" class="btn btn-info"><i class="far fa-save"></i> Save</button>
                    <button type="submit" @click.prevent="update_register_data()" class="btn btn-primary"><i class="fas fa-edit"></i> Register</button>
                </div>
            </div>
        </form>
        </div>

                </div><!-- /.card-body -->
            </div>
        </div>
    </div>
</div>    
</template>

<script>
    import Vue from 'vue';
    import VueTimepicker from 'vue2-timepicker'
    import datePicker from 'vue-bootstrap-datetimepicker';
    import 'pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.css';
    import 'vue2-timepicker/dist/VueTimepicker.css'    

    Vue.use(datePicker);

    export default {
        components: { VueTimepicker },
        data() {
            return {
                HotelQurantine: [],
                TourPackageState: [],
                TeamLeader: [],
                country: [],
                city: [],
                SafetyMeasures: [],
                form: new Form({
                    id: '',
                    leader_id: '0',
                    title: '',
                    arrival_date: '',
                    departure_date: '',
                    market: '',
                    num_day_tour: '',
                    meal: '',
                    transport: '',
                    activity: '',
                    description: '',
                    price: '',
                    hotel_qarantine: '',
                    insurance_company: '',
                    Itinerary:[{
                        id : null,
                        date_start: '',
                        time_start: '',
                        title: '',
                        description: '',
                        activities: [{
                            id: '',
                            location_id: '',
                            time: '',
                            safe_cate: '',
                            safe_loc: '',
                            activity: '',
                            detail: '',
                            safe_location: [],
                        }]
                    }]
                }),
            }
        },
        mounted(){
            this.$loading(true);
            axios.get('/api/tourPackage/'+this.$route.params.package_id)
                .then((response)=>{
                    this.form.fill(response.data.data);
                    this.$loading(false)
                })
        },
        methods: {           
            addNewRow() {
                this.form.Itinerary.push({
                    id : null,
                    date_start: '',
                    time_start: '',
                    title: '',
                    description: '',
                    activities: [{
                        id: '',
                        location_id: '',
                        time: '',
                        safe_cate: '',
                        safe_loc: '',
                        activity: '',
                        detail: '',
                        safe_location: [],
                    }]
                });
            },
            deleteRow(answer) {
                var idx = this.form.Itinerary.indexOf(answer);
                if (idx > -1) {
                    this.form.Itinerary.splice(idx, 1);
                }
            },
            addSafeLocation(answer) {
                var idx = this.form.Itinerary.indexOf(answer);
                this.form.Itinerary[idx].activities.push({
                    id: '',
                    location_id: '',
                    time: '',
                    safe_cate: '',
                    safe_loc: '',
                    activity: '',
                    detail: '',
                    safe_location: [],
                });
            },
            deleteSafeLocation(index, answer) {
                var idxs = this.form.Itinerary.indexOf(index);
                var idx = this.form.Itinerary[idxs].activities.indexOf(answer);
                if (idx > -1) {
                    this.form.Itinerary[idxs].activities.splice(idx, 1);
                }
            },
            loadCity(){
                axios.get("/api/city")
                    .then(response => {
                        this.city = response.data.data;
                    });
            },
            update_save_data(){
                this.$loading(true);
                this.form.put('/api/tourPackage/'+this.form.id)
                    .then(()=>{
                        this.$toast.success({
                            type: 'success',
                            title: 'Update Data',
                            message: 'Tour Package updated in Successfully'
                        });
                        this.reset();
                        this.$router.push('/tour-package-list');
                    })
                    .catch((error)=>{
                        this.$toast.error({
                            title:'Update Data',
                            message: error.message
                        });
                        this.$loading(false)
                    })
            },

            update_register_data(){
                this.form.is_register = 1;
                let formData = this.form;
                this.$loading(true);
                axios.put('/api/tourPackage/'+this.form.id, formData)
                    .then(()=>{
                        this.$toast.success({
                            type: 'success',
                            title: 'Update Data',
                            message: 'Tour Package updated in Successfully'
                        });
                        this.reset();
                        this.$router.push('/tour-package-list');
                    })
                    .catch((error)=>{
                        this.$toast.error({
                            title:'Update Data',
                            message: error.message
                        });
                        this.$loading(false)
                    })
            },

            loadTeamLeader(){
                this.$loading(true);
                axios.get("/api/teamLeader?paginate=1000")
                    .then(response => {
                        this.TeamLeader = response.data.data;
                        this.$loading(false);
                    });
            },

            loadCountry(){
                axios.get("/api/country")
                    .then(response => {
                        this.country = response.data.data;
                    });
            },

            loadTourPackageState(){
                this.$loading(true);
                axios.get("/api/get-tour-package-state")
                    .then(response => {
                        this.TourPackageState = response.data.data;
                        this.$loading(false);
                    });
            },
            hotelQurantine(){
                axios.get("https://surveyhotel.cambodiabesthospitality.org/public/api/gethotel")
                    .then(response => {
                        this.HotelQurantine = response.data.data;
                    });
            },
            LoadSafetyMeasures(){
                this.$loading(true);
                axios.get("https://hotelsafety.visitcambodia.travel/api/categoryapi",
                    { 
                        headers: { 
                                'Access-Control-Allow-Origin': '*', 
                                'Access-Control-Allow-Headers' : 'Content-Type, X-CSRF-TOKEN, Origin, Accept, Content-Type, Authorization, Access-Control-Allow-Origin',
                            } 
                    })
                    .then(response => {
                        this.SafetyMeasures = response.data.data;
                        this.$loading(false);
                    });
            },
            LoadSafetyLocation(index, answer, event, loc_id){
                this.$loading(true);
                axios.get("https://hotelsafety.visitcambodia.travel/api/hotelapi?cat_id="+parseInt(event.target.value)+'&pro_id='+loc_id,
                    { 
                        headers: { 
                                'Access-Control-Allow-Origin': '*', 
                                'Access-Control-Allow-Headers' : 'Content-Type, X-CSRF-TOKEN, Origin, Accept, Content-Type, Authorization, Access-Control-Allow-Origin',
                            } 
                    })
                    .then(response => {
                        var idxs = this.form.Itinerary.indexOf(index);
                        var idx = this.form.Itinerary[idxs].activities.indexOf(answer);
                        this.form.Itinerary[idxs].activities[idx].safe_location = response.data.data;
                        this.$loading(false);
                    });
            },
            reset(){
                this.form.reset();
            },
        },
        created() {
            this.loadCity();
            this.hotelQurantine();
            this.loadCountry();
            this.LoadSafetyMeasures();
            this.loadTourPackageState();
            this.loadTeamLeader();
        }
    }
</script>

<style>
    .vue__time-picker input.display-time {
        font-size: 0.9em !important;
    }
</style>