<template>
    <div style="width: 100%; margin-top: 10px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h3 class="m-0">Activity Tours</h3>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Activity Tours</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <div class="col-md-12" style="margin-top: 10px;">
            <!-- DIRECT CHAT PRIMARY -->
            <div class="card card-prirary cardutline direct-chat direct-chat-primary">
              <div class="card-header">
                <h3 class="card-title"><i class="fas fa-comments" style="margin-right: 5px;"></i> Activity Tours</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                </div>
              </div>

              <div class="card-footer" style="border-bottom: 1px solid #d2d6de;">
                <form @submit.prevent="editmode ? update_data() : save_data()" >

                    <div class="form-group row">
                        <label for="inputName" class="col-sm-2 col-form-label">Tour Package <span class="required">*</span></label>
                        <div class="col-sm-10 col-md-10">
                            <select class="form-control" v-model="form.package_id" @change="LoadTourist($event.target.value)">
                                <option value="0">--- Select ---</option>
                                <option v-for="value in TourPackage" :key="value.id" :value="value.id" v-if="value.state !== 'EXPIRED'">{{value.title}}</option>
                            </select>   
                        </div>
                    </div>
                                
                    <div class="form-group row">
                        <label for="inputName" class="col-sm-2 col-form-label">Tourist <span class="required">(optional)</span></label>
                        <div class="col-sm-10 col-md-10">
                            <v-select multiple v-model="form.tourists_id" required :options="Tourists" label="full_name" value="id"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputName" class="col-sm-2 col-form-label">Message <span class="required">*</span></label>
                        <div class="col-sm-10 col-md-10">
                            <textarea class="form-control" rows="4" v-model="form.message"></textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputName" class="col-sm-2 col-form-label">Photo <span class="required">*</span></label>
                        <div class="col-sm-10 col-md-10">
                            

                    <div class="form-group row">

                        <div class="col-sm-12 col-md-12">

                                <div v-for="value in this.form.photo" :key="value.id">
                                    <div style="margin-right: 5px; margin-top: 5px; float: left; position: relative;">
                                        <div style="text-align: center; width: 100px; height: 80px; border: 1px solid #d2d6de; display: flex; vertical-align: middle; align-items: center;">
                                        <img :src="`/images/contents/Original/${value.name}`" style="max-width: 100px; max-height: 80px; margin: auto;"/>
                                        </div>
                                        <button type="button" class="btn btn-danger btn-xs" style="margin-top: -160px;" @click="deleteImg(value.name, value)">X</button>
                                    </div>
                                </div>

                                <div style="padding-top:10px; margin-top: 5px; text-align: center; width: 80px; height: 80px; float: left; border: 1px dotted rgb(52 58 64 / 80%);">
                                    <span style="padding: 18px 29px;" class="choose_file">
                                    <i class="fas fa-camera" style="font-size: 20px; color: #6c757d;"></i>
                                    <input type="file" id="thumb_image[]" name="thumb_image[]" multiple ref="imageUrl" v-on:change="onImageChange"/>
                                    </span>
                                </div>

                        </div>

                        <!-- <div class="col-sm-12 col-md-12" v-else>
                            <div id="preview" style="padding-top:10px; text-align: center;" v-if="form.photo">
                                <img :src="url"  style="max-width: 150px;"/>
                                <button type="button" class="btn btn-danger btn-xs"><i class="fa fa-trash-alt" style="font-size: 10px;"></i></button>
                            </div>

                            <br/>

                            <div class="alert alert-danger alert-dismissable" v-if="errorMessage !== ''">
                                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                {{errorMessage}}
                            </div>

                            <div
                                class="progress-bar progress-bar-info progress-bar-striped"
                                role="progressbar"
                                :aria-valuenow="uploadPercentage"
                                aria-valuemin="0"
                                aria-valuemax="100"
                                :style="{ width: uploadPercentage + '%' }"
                            >
                                {{ uploadPercentage }}%
                            </div>
                        </div> -->

                    </div>

                        </div>
                    </div>
                    
                    <div style="text-align: right;">
                        <button type="submit" class="btn btn-primary" style="height: 35.3px;">
                            <i class="fas fa-paper-plane" style="font-size: 12px; margin-right: 5px;"></i> Send
                        </button>
                    </div>
                    
                </form>
              </div>
              <!-- /.card-footer-->


            <br/>
            <br/>
              <!-- /.card-header -->
              <div class="card-body">
                <!-- Conversations are loaded here -->
                <div class="direct-chat-messages" v-for="value in data" :key="value.id">
                  <!-- Message. Default to the left -->
                  <div class="direct-chat-msg">
                    <div class="direct-chat-infos clearfix">
                      <span class="direct-chat-timestamp float-right" style="font-size : 0.8rem;"> <a href="#" @click="show_data(value.id)" style="font-size : 0.8rem; margin-right: 10px;"> Edit </a> <a href="#" @click="delete_data(value.id)" style="font-size : 0.8rem; margin-right: 10px;">  Delete </a>  {{value.created_at | getDateCreated}}</span>
                    </div>
                    <!-- /.direct-chat-infos -->
                    <img class="direct-chat-img" src="/img/profile.png" alt="Message User Image">
                    <!-- /.direct-chat-img -->
                    <div class="direct-chat-text">
                        <span v-for="row in value.tourist"><router-link to="/" style="margin-right: 5px;">{{row.tourist_name}}</router-link></span>
                        {{value.message}} <br v-if="value.photo"/>
                        <div v-for="rows in value.photo" style="overflow: hidden; margin-right: 5px; float: left; position: relative; text-align: center; width: 100px; height: 80px; border: 1px solid rgb(255 255 255); display: flex; vertical-align: middle; align-items: center;">
                            <img :src="`/images/contents/Original/${rows.photo}`" style="max-width: 100px; max-height: 80px; margin: auto;"/>
                        </div>
                        <br style="clear:both;" v-if="value.photo.length > 0"/>
                    </div>
                    <!-- /.direct-chat-text -->
                  </div>
                  <!-- /.direct-chat-msg -->
                </div>
                <!--/.direct-chat-messages-->

                <!-- Contacts are loaded here -->
                <div class="direct-chat-contacts">
                  <ul class="contacts-list">
                    <li>
                      <a href="#">
                        <img class="contacts-list-img" src="/img/profile.png">

                        <div class="contacts-list-info">
                          <span class="contacts-list-name">
                            Count Dracula
                            <small class="contacts-list-date float-right">2/28/2015</small>
                          </span>
                          <span class="contacts-list-msg">How have you been? I was...</span>
                        </div>
                        <!-- /.contacts-list-info -->
                      </a>
                    </li>
                    <!-- End Contact Item -->
                  </ul>
                  <!-- /.contatcts-list -->
                </div>
                <!-- /.direct-chat-pane -->
              </div>
              <!-- /.card-body -->

              <div class="card-footer">
                  <!--start pagination-->
                    <vue-ads-pagination :total-items="total" :max-visible-pages="3" :items-per-page="per_page" :page="page" :loading="loading" @range-change="rangeChange">
                        <template slot-scope="props">
                            <div class="vue-ads-pr-2 vue-ads-leading-loose">
                                Rows Display :
                                <select id="displayRows" @change="onChange($event)">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>

                            </div>
                            <div class="vue-ads-pr-2 vue-ads-leading-loose">
                                Pages {{ props.start }} Of {{ props.end }} (Total​: {{ props.total }})
                            </div>
                        </template>
                        <template slot="buttons" slot-scope="props">
                            <vue-ads-page-button v-for="(button, key) in props.buttons" :key="key" v-bind="button" @page-change="page = button.page"/>
                        </template>
                    </vue-ads-pagination>
                    <!--start pagination-->
              </div>
            </div>
            <!--/.direct-chat -->

        <!-- Modal -->
        <div class="modal fade" id="Tourists" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Tourists List</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form>
                        <div class="modal-body">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th style="width: 10px; padding: 0.35rem;">#</th>
                                    <th style="padding: 0.35rem;">Name</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(value,index) in Tourists" :key="value.id">
                                        <td style="padding: 0.25rem;">{{numbering+index+1}}</td>
                                        <td style="padding: 0.25rem;"><span style="cursor: pointer;" @click="selectTourist(value.first_name+' '+value.last_name)"> {{value.first_name}} {{value.last_name}} </span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        </div>
    </div>
</template>

<script>
    import VueAdsPagination, { VueAdsPageButton } from 'vue-ads-pagination';
    import Swal from 'sweetalert2/dist/sweetalert2.js';
    export default {
        components: {
            VueAdsPagination,
            VueAdsPageButton,
        },
        data() {
            return {
                
                url: null,
                originalPart : 'images/contents/Original/',
                uploadPercentage: 0,
                errorMessage : '',
                message: '',

                //Pagination return
                total:0,
                per_page:10,
                loading: false,
                page: 0,
                numbering : 0,
                photoUpload: [],
                Tourists: [],
                TourPackage : {},
                data : {},
                editmode : false,
                form: new Form({
                    id:'',
                    package_id: '0',
                    tourists_id: [],
                    message : '',
                    photo: []
                })
            }
        },
        mounted() {
            var pusher = new Pusher('4be0faa9d97c62e3d04b', {
              cluster: 'ap1'
            });

            var channel = pusher.subscribe('my-channel');
            channel.bind('my-event', function(data) {
              alert('OK');
               //app.messages.push({"name": "Tony Montana", "age": "99"});
            });
        },
        methods: {
            newModal(){
                $('#Tourists').modal('show');
            },
            selectTourist(tourist){
                this.form.comment = '@'+tourist;
                $('#Tourists').modal('hide');
            },
            onImageChange(e){
                let files = this.$refs.imageUrl.files;
                let formData = new FormData();

                for (let i = 0; i < files.length; i++) {
                    formData.append('image[]', files[i]);
                }

                axios.post('/api/multipleFileUpload',
                    formData,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        },
                        onUploadProgress: function( progressEvent ) {
                            this.uploadPercentage = parseInt( Math.round( ( progressEvent.loaded / progressEvent.total ) * 100 ));
                        }.bind(this)
                    }
                )
                    .then(function (response) {

                        for (const [key, value] of Object.entries(response.data.data)) {
                            this.form.photo.push({'name' : value['name'],'part' : value['part']});
                        }
                        this.uploadPercentage = 0;
                        this.errorMessage = '';
                    }.bind(this))
                    .catch((error) => {
                        this.uploadPercentage = 0;
                        this.errorMessage = error.message;
                        this.$toast.error({
                            title:'Upload Sound',
                            message: error.message,
                        });
                        this.$loading(false)
                    })
            },
            deleteImg(img, answer){
                let formData = new FormData();
                formData.append('image', img);
                formData.append('thumbnailsPart', this.thumbnailsPart);
                formData.append('originalPart', this.originalPart);

                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.value) {
                        axios.post('/api/deleteImage', formData).then((response)=>{
                            Swal.fire(
                                'Deleted!',
                                'Your file has been deleted.',
                                'success'
                            );
                            
                            var idx = this.form.photo.indexOf(answer);
                            if (idx > -1) {
                                this.form.photo.splice(idx, 1);
                            }

                            this.uploadPercentage = 0;
                        }).catch(()=> {
                            Swal.fire("Failed!", "There was something wronge.", "warning");
                        });
                    } else if (result.dismiss === Swal.DismissReason.cancel) {
                        Swal.close();
                    }
                })
            },
            onChange(event) {
                this.$loading(true);
                this.per_page = parseInt(event.target.value);
                axios.get('/api/tourTracking?paginate='+this.per_page)
                    .then(response => {
                        this.total = response.data.meta.total;
                        this.page = 0;
                        this.data = response.data;
                        this.$loading(false);
                    });
            },
            rangeChange (start, end) {
                if (this.numbering !== start) {
                    this.$loading(true);
                    this.numbering = start;
                    var page = end / this.per_page;
                    if ((start + this.per_page) > this.total) {
                        page = page + 1;
                    }
                    axios.get('/api/tourTracking/?page=' + parseInt(page) + '&paginate=' + parseInt(this.per_page))
                        .then(response => {
                            this.data = response.data.data;
                            this.total = response.data.meta.total;
                            this.$loading(false);
                        });
                }
            },
            loadData(){
                this.$loading(true)
                axios.get("/api/tourTracking")
                      .then(response => {
                          this.total = response.data.meta.total;
                          this.per_page = parseInt(response.data.meta.per_page);
                          this.data = response.data.data;
                          this.$loading(false)
                      });
            },
            save_data() {
                this.$loading(true)
                this.form.post('/api/tourTracking')
                    .then((response) => {
                        this.form.reset();
                        Fire.$emit('AfterCreate');
                        this.$loading(false)
                    })
                    .catch((error) => {
                        this.$loading(false)
                    })
            },
            update_data(){
                this.form.put('/api/tourTracking/' + this.form.id)
                    .then((response) => {
                        this.form.reset();
                        this.$toast.success({
                            title:'Update Data',
                            message:'Activity have been updated successful!'
                        });
                        this.loadData();
                    })
                    .catch((error) => {
                        this.$toast.error({
                            title:'Update Data',
                            message: error.message
                        });
                    })
            },
            show_data(id){
                this.$loading(true);
                axios.get('/api/tourTracking/' + id)
                    .then(response => {
                        this.editmode = true,
                        this.form.fill(response.data.data);
                        this.$loading(false);
                    });
            },
            delete_data(id){
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.value) {
                        this.form.delete('/api/tourTracking/'+id).then(()=>{
                            Swal.fire(
                                'Deleted!',
                                'Your file has been deleted.',
                                'success'
                            );
                            Fire.$emit('AfterCreate');
                        }).catch(()=> {
                            Swal.fire("Failed!", "There was something wronge.", "warning");
                        });
                    } else if (result.dismiss === Swal.DismissReason.cancel) {
                        Swal.close();
                    }
                });
            },
            loadTourPackageRegister(){
                this.$loading(true)
                axios.get("/api/getTourPackageRegister")
                      .then(response => {
                          this.TourPackage = response.data.data;
                          this.$loading(false)
                      });
            },
            LoadTourist(package_id){
                this.$loading(true)
                axios.get("/api/get-tourists-by-tour-package/" + package_id)
                      .then(response => {
                          this.Tourists = response.data.data;
                          this.$loading(false)
                      });
            },
        },
        created() {
            this.loadData();
            this.loadTourPackageRegister();
            Fire.$on('AfterCreate',() => {
                this.loadData();
            });

        }
    }
</script>

<style>
.direct-chat-messages {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    height: inherit;
    overflow: auto;
    padding: 10px;
}
.choose_file {
    position: relative;
    display: inline-block;   
}
.choose_file input[type="file"]{
    -webkit-appearance:none; 
    position:absolute;
    top:0;
    left:0;
    opacity:0;
    width: 100%;
    height: 100%;
}
</style>
