<template>
<div style="width: 100%;">
    <div class="content-wrapper" style="min-height: 492px;">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h3 class="m-0"> Account Setting</h3>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Account Setting</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                        <!-- Profile Image -->
                        <div class="card card-outline">
                            <div class="card-header">
                                <h3 class="card-title">Team Leader Information</h3>
                            </div>
                            <div class="card-body box-profile">
                                <div class="text-center">
                                    <img class="profile-user-img img-fluid" style="width: 150px; height: 160px;" :src="'/images/thumbnails/'+data.photo" alt="User profile picture" v-if="data.photo != null">
                                    <img class="profile-user-img img-fluid" style="width: 150px; height: 160px;" src="/img/logo_mot.png" alt="User profile picture" v-else>
                                </div>

                                <h4 class="text-center" style="font-size: 12px; color: #a29f9b;">Photo</h4>

                                <!--<p class="text-muted text-center">Software Engineer</p>-->

                                <hr>
                                <div class="form-group row">
                                    <label for="inputName" class="col-sm-2 col-form-label"> Passport : </label>
                                    <div class="col-sm-10 col-md-8">
                                        {{data.passport}}
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="inputName" class="col-sm-2 col-form-label">First Name : </label>
                                    <div class="col-sm-10 col-md-8">
                                        {{data.first_name}}
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="inputName" class="col-sm-2 col-form-label">Last Name : </label>
                                    <div class="col-sm-10 col-md-8">
                                        {{data.last_name}}
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="inputName" class="col-sm-2 col-form-label">Gender : </label>
                                    <div class="col-sm-10 col-md-8">
                                        {{data.gender}}
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="inputName" class="col-sm-2 col-form-label">Date of Birth : </label>
                                    <div class="col-sm-10 col-md-8">
                                        {{data.date_of_birth}}
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="inputName" class="col-sm-2 col-form-label">Phone : </label>
                                    <div class="col-sm-10 col-md-8">
                                        {{data.phone}}
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="inputName" class="col-sm-2 col-form-label">Nationality : </label>
                                    <div class="col-sm-10 col-md-8">
                                        {{data.nationality_name}}
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <label for="inputName" class="col-sm-2 col-form-label">Company : </label>
                                    <div class="col-sm-10 col-md-8">
                                        {{data.company}}
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <label for="inputName" class="col-sm-2 col-form-label">Tour Guide : </label>
                                    <div class="col-sm-10 col-md-8">
                                        {{data.skill}}
                                    </div>
                                </div>

                                <div class="card-body1">
                                    <hr>
                                </div>
                                <!-- /.card-body -->

                                <a href="#" class="btn btn-primary float-right" @click="newModal"><i class="fas fa-edit"></i> Edit</a>
                                
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->

                        <!-- Modal -->
                        <div class="modal fade" id="Leader" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Tour Guide</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form @submit.prevent="update_data();">
                                        <div class="modal-body">
                                            <div class="form-group row">
                                                <label for="inputName" class="col-sm-3 col-form-label">Passport <span class="required">*</span></label>
                                                <div class="col-sm-8 col-md-8">
                                                    <input type="text" class="form-control" id="inputName" required placeholder="Passport" v-model="form.passport">
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label for="inputName" class="col-sm-3 col-form-label">First Name <span class="required">*</span></label>
                                                <div class="col-sm-8 col-md-8">
                                                    <input type="text" class="form-control" id="inputName" required placeholder="First Name" v-model="form.first_name">
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label for="inputName" class="col-sm-3 col-form-label">Last Name <span class="required">*</span></label>
                                                <div class="col-sm-8 col-md-8">
                                                    <input type="text" class="form-control" id="inputName" required placeholder="Last Name" v-model="form.last_name">
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label for="inputName" class="col-sm-3 col-form-label">Gender <span class="required">*</span></label>
                                                <div class="col-sm-8 col-md-8">
                                                    <select class="form-control" v-model="form.gender">
                                                        <option>Male</option>
                                                        <option>Female</option>
                                                        <option>Other</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label for="timepicker" class="col-sm-3 col-form-label">Date of Birth <span class="required">*</span></label>
                                                <div class="col-sm-9 col-md-8">
                                                    <div class="input-group date" id="timepicker" data-target-input="nearest">
                                                        <date-picker name="date_of_birth" v-model="form.date_of_birth" :config="{format: 'YYYY-MM-DD'}"></date-picker>
                                                        <div class="input-group-append" data-target="#timepicker" data-toggle="datetimepicker">
                                                            <div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label for="inputName" class="col-sm-3 col-form-label">Phone <span class="required">*</span></label>
                                                <div class="col-sm-8 col-md-8">
                                                    <input type="text" class="form-control" id="inputName" required placeholder="Phone" v-model="form.phone">
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label for="inputName" class="col-sm-3 col-form-label">Nationality <span class="required">*</span></label>
                                                <div class="col-sm-8 col-md-8">
                                                    <select class="form-control" v-model="form.nationality">
                                                        <option value="0">--- Select ----</option>
                                                        <option v-for="c in country" :value="c.id">{{c.nationality}}</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label for="inputName" class="col-sm-3 col-form-label">Company <span class="required">*</span></label>
                                                <div class="col-sm-8 col-md-8">
                                                    <input type="text" class="form-control" id="inputName" required placeholder="Company" v-model="form.company">
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label for="inputName" class="col-sm-3 col-form-label">Skill <span class="required">*</span></label>
                                                <div class="col-sm-8 col-md-8">
                                                    <input type="text" class="form-control" id="inputName" required placeholder="Skill" v-model="form.skill">
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label for="thumb_image" class="col-sm-3 col-form-label">Photo <span class="required">*</span></label>

                                                <div class="col-sm-10 col-md-8" v-if="form.photo">
                                                    <div style="padding-top:10px;">
                                                        <img :src="`/images/thumbnails/${form.photo}`" style="max-width: 150px;"/>
                                                        <button type="button" class="btn btn-danger btn-xs" @click="deleteImg(form.photo)"><i class="fa fa-trash-alt"></i></button>
                                                    </div>
                                                </div>

                                                <div class="col-sm-10 col-md-8" v-else>
                                                    <div id="preview" style="padding-top:10px;" v-if="form.photo">
                                                        <img :src="url"  style="max-width: 150px;"/>
                                                        <button type="button" class="btn btn-danger btn-xs" @click="deleteImg(form.photo)"><i class="fa fa-trash-alt"></i></button>
                                                    </div>

                                                    <div v-else>
                                                        <input type="file" id="thumb_image" name="thumb_image" ref="imageUrl" v-on:change="onImageChange" :class="{ 'is-invalid': form.errors.has('thumb_image') }"/>
                                                        <has-error :form="form" field="thumb_image"></has-error>
                                                    </div>
                                                    <br/>

                                                    <div class="alert alert-danger alert-dismissable" v-if="errorMessage !== ''">
                                                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                                        {{errorMessage}}
                                                    </div>


                                                    <div
                                                        class="progress-bar progress-bar-info progress-bar-striped"
                                                        role="progressbar"
                                                        :aria-valuenow="uploadPercentage"
                                                        aria-valuemin="0"
                                                        aria-valuemax="100"
                                                        :style="{ width: uploadPercentage + '%' }"
                                                    >
                                                        {{ uploadPercentage }}%
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times-circle"></i> Close</button>
                                            <button type="submit" v-show="editmode" class="btn btn-success"><i class="fas fa-edit"></i> Update</button>
                                            <button type="submit" v-show="!editmode" class="btn btn-primary"><i class="fas fa-save"></i> Save changes</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>
</div>
</template>
<style>
    .list-group-item {
        position: relative;
        display: block;
        padding: 0.25rem 1.25rem;
        background-color: #ffff;
        border: 1px solid rgba(0, 0, 0, 0.03);
    }
</style>
<script>
    import Swal from 'sweetalert2/dist/sweetalert2.js'
    export default {
        data() {
            return {
                url: null,
                thumbnailsPart : 'images/thumbnails/',
                originalPart : 'images/contents/Original/',
                data : {},
                country: [],
                TourActive: '',
                LeadActive: '',
                SettingActive: '',
                uploadPercentage: 0,
                errorMessage : '',
                message: '',
                editmode: false,
                form: new Form({
                    id:'',
                    agency_id : '',
                    passport: '',
                    first_name: '',
                    last_name: '',
                    gender: '',
                    date_of_birth: '',
                    phone: '',
                    nationality: '',
                    company: '',
                    position:'',
                    photo: '',
                    skill: ''
                })
            }
        },
        mounted(){
            this.loadTeamLeader();
        },
        methods: {
            onImageChange(e){
                const file = e.target.files[0];
                this.url = URL.createObjectURL(file);

                const config = {
                    headers: { 'content-type': 'multipart/form-data' }
                };

                let formData = new FormData();
                formData.append('image', file);
                formData.append('thumbnailsPart', this.thumbnailsPart);
                formData.append('originalPart', this.originalPart);
                formData.append('validate', 'required|image|mimes:jpeg,png,jpg,gif,svg|max:100000');

                axios.post('/api/resizeImagePost',
                    formData,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        },
                        onUploadProgress: function( progressEvent ) {
                            this.uploadPercentage = parseInt( Math.round( ( progressEvent.loaded / progressEvent.total ) * 100 ));
                        }.bind(this)
                    }
                )
                    .then(function (response) {
                        this.form.logo = response.data.data.name;
                        this.errorMessage = '';
                    }.bind(this))
                    .catch((error) => {
                        this.uploadPercentage = 0;
                        this.errorMessage = error.message;
                        this.$toast.error({
                            title:'Upload Sound',
                            message: error.message,
                        });
                        this.$loading(false)
                    })
            },
            deleteImg(img){
                let formData = new FormData();
                formData.append('image', img);
                formData.append('thumbnailsPart', this.thumbnailsPart);
                formData.append('originalPart', this.originalPart);

                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.value) {
                        axios.post('/api/removeImage', formData).then((response)=>{
                            Swal.fire(
                                'Deleted!',
                                'Your file has been deleted.',
                                'success'
                            );
                            this.form.logo = null;
                            this.uploadPercentage = 0;
                        }).catch(()=> {
                            Swal.fire("Failed!", "There was something wronge.", "warning");
                        });
                    } else if (result.dismiss === Swal.DismissReason.cancel) {
                        Swal.close();
                    }
                })
            },
            loadTeamLeader(){
                this.$loading(true);
                axios.get("/api/teamLeader/" + this.$route.params.team_leader_id)
                    .then(response => {
                        this.form.fill(response.data.data);
                        this.data = response.data.data;
                        this.$loading(false);
                    });
            },
            update_data(){
                this.$loading(true);
                this.form.put('/api/teamLeader/'+this.form.id)
                    .then(response => {
                        this.$toast.success({
                            type: 'success',
                            title: 'Update Data',
                            message: 'Team Leader Update in Successfully'
                        });
                        this.form.reset();
                        this.loadTeamLeader();
                        $('#Leader').modal('hide');
                    })
                    .catch(()=>{
                        this.$toast.error({
                            title:'Update Data',
                            message: error.message
                        });
                        this.$loading(false)
                    })
            },
            newModal(){
                $('#Leader').modal('show');
            },
            loadCountry(){
                axios.get("/api/country")
                    .then(response => {
                        this.country = response.data.data;
                    });
            }
        },
        created() {
            this.loadCountry();
            Fire.$on('AfterCreate',() => {
                this.loadAgency();
            });

        }
    }
</script>
