<template>
<div style="width: 100%;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h3 class="m-0"> Tour Guide List</h3>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Tour Guide List</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <div class="card-body">

        <div class="tab-content">
            <div class="tab-pane active" id="activity">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Tour Guide List</h3>
                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 60px;">
                                <button type="submit" class="btn btn-primary btn-sm" @click="newModal"><i class="fas fa-plus"></i> Add</button>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th style="width: 10px">#</th>
                                <th class="display">Licencse ID </th>
                                <th>Name</th>
                                <th class="display">Gender</th>
                                <th class="display">Nationality</th>
                                <th style="text-align: right;">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(p,index) in teamLeader" :key="p.id">
                                <td>{{numbering+index+1}}</td>
                                <td class="display">{{p.passport}}</td>
                                <td> <router-link :to="'/team-leader-profile/'+p.id"> {{p.first_name}} {{p.last_name}} </router-link></td>
                                <td class="display">{{p.gender}}</td>
                                <td class="display">{{p.nationality}}</td>
                                <td style="text-align: right;">
                                    <span class="badge bg-danger" @click="delete_data(p.id)"><i class="fa fa-trash text-sm" style="float: left;"></i> <span class="display action text-sm">Delete</span></span>
                                    <router-link :to="'/team-leader-profile/'+p.id"><span class="badge bg-primary"><i class="fa fa-edit text-sm" style="float: left;"></i> <span class="display action text-sm">Edit</span></span></router-link>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer clearfix">
                        <!--start pagination-->
                        <vue-ads-pagination :total-items="total" :max-visible-pages="3" :items-per-page="per_page" :page="page" :loading="loading" @range-change="rangeChange">
                            <template slot-scope="props">
                                <div class="vue-ads-pr-2 vue-ads-leading-loose display">
                                    Rows Display :
                                    <select id="displayRows" @change="onChange($event)">
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="30">30</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select>

                                </div>
                                <div class="vue-ads-pr-2 vue-ads-leading-loose">
                                    Pages: {{ props.start }} Of {{ props.end }} (Total: {{ props.total }} Items)
                                </div>
                            </template>
                            <template slot="buttons" slot-scope="props">
                                <vue-ads-page-button v-for="(button, key) in props.buttons" :key="key" v-bind="button" @page-change="page = button.page"/>
                            </template>
                        </vue-ads-pagination>
                        <!--start pagination-->
                    </div>

                </div>
            </div>
        </div>
        <!-- /.tab-content -->


        <!-- Modal -->
        <div class="modal fade" id="Leader" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Tour Guide</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <form @submit.prevent="editmode ? update_data() : create_data()">
                        <div class="modal-body">

                            <div v-show="create_error_message">
                                <div class="alert alert-danger alert-dismissable">
                                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                    <ul style="margin-left: -30px;">
                                        <li v-for="value in error_message">
                                            {{value[0]}} 
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputName" class="col-sm-3 col-form-label">Licencse ID  <span class="required">*</span></label>
                                <div class="col-sm-8 col-md-8">
                                    <input type="text" class="form-control" id="inputName" required placeholder="Licencse ID " v-model="form.passport">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputName" class="col-sm-3 col-form-label">First Name <span class="required">*</span></label>
                                <div class="col-sm-8 col-md-8">
                                    <input type="text" class="form-control" id="inputName" required placeholder="First Name" v-model="form.first_name">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputName" class="col-sm-3 col-form-label">Last Name <span class="required">*</span></label>
                                <div class="col-sm-8 col-md-8">
                                    <input type="text" class="form-control" id="inputName" required placeholder="Last Name" v-model="form.last_name">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputName" class="col-sm-3 col-form-label">Gender <span class="required">*</span></label>
                                <div class="col-sm-8 col-md-8">
                                    <select class="form-control" v-model="form.gender">
                                        <option>Male</option>
                                        <option>Female</option>
                                        <option>Other</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="timepicker" class="col-sm-3 col-form-label">Date of Birth <span class="required">*</span></label>
                                <div class="col-sm-9 col-md-8">
                                    <div class="input-group date" id="timepicker" data-target-input="nearest">
                                        <date-picker name="date_of_birth" v-model="form.dob" :config="{format: 'YYYY-MM-DD'}"></date-picker>
                                        <div class="input-group-append" data-target="#timepicker" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputName" class="col-sm-3 col-form-label">Phone <span class="required">*</span></label>
                                <div class="col-sm-8 col-md-8">
                                    <input type="text" class="form-control" id="inputName" required placeholder="Phone" v-model="form.phone">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputName" class="col-sm-3 col-form-label">Nationality <span class="required">*</span></label>
                                <div class="col-sm-8 col-md-8">
                                    <select class="form-control" v-model="form.nationality">
                                        <option value="0">--- Select ----</option>
                                        <option v-for="c in country" :value="c.id">{{c.nationality}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputName" class="col-sm-3 col-form-label">Company <span class="required">*</span></label>
                                <div class="col-sm-8 col-md-8">
                                    <input type="text" class="form-control" id="inputName" required placeholder="Company" v-model="form.company">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputName" class="col-sm-3 col-form-label">Skill <span class="required">*</span></label>
                                <div class="col-sm-8 col-md-8">
                                    <input type="text" class="form-control" id="inputName" required placeholder="Skill" v-model="form.skill">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="thumb_image" class="col-sm-3 col-form-label">Photo <span class="required">*</span></label>

                                <div class="col-sm-10 col-md-8" v-if="form.photo">
                                    <div style="padding-top:10px;">
                                        <img :src="`/images/thumbnails/${form.photo}`" style="max-width: 150px;"/>
                                        <button type="button" class="btn btn-danger btn-xs" @click="deleteImg(form.photo)"><i class="fa fa-trash-alt"></i></button>
                                    </div>
                                </div>

                                <div class="col-sm-10 col-md-8" v-else>
                                    <div id="preview" style="padding-top:10px;" v-if="form.photo">
                                        <img :src="url"  style="max-width: 150px;"/>
                                        <button type="button" class="btn btn-danger btn-xs" @click="deleteImg(form.photo)"><i class="fa fa-trash-alt"></i></button>
                                    </div>

                                    <div v-else>
                                        <input type="file" id="thumb_image" name="thumb_image" ref="imageUrl" v-on:change="onImageChange" :class="{ 'is-invalid': form.errors.has('thumb_image') }"/>
                                        <has-error :form="form" field="thumb_image"></has-error>
                                    </div>
                                    <br/>

                                    <div class="alert alert-danger alert-dismissable" v-if="errorMessage !== ''">
                                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                        {{errorMessage}}
                                    </div>


                                    <div
                                        class="progress-bar progress-bar-info progress-bar-striped"
                                        role="progressbar"
                                        :aria-valuenow="uploadPercentage"
                                        aria-valuemin="0"
                                        aria-valuemax="100"
                                        :style="{ width: uploadPercentage + '%' }"
                                    >
                                        {{ uploadPercentage }}%
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times-circle"></i> Close</button>
                            <button type="submit" v-show="editmode" class="btn btn-success"><i class="fas fa-edit"></i> Update</button>
                            <button type="submit" v-show="!editmode" class="btn btn-primary"><i class="fas fa-save"></i> Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div><!-- /.card-body -->

</div>    
</template>
<script>
    import VueAdsPagination, { VueAdsPageButton } from 'vue-ads-pagination';
    import Swal from 'sweetalert2/dist/sweetalert2.js'

    import Vue from 'vue';
    import datePicker from 'vue-bootstrap-datetimepicker';
    import 'pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.css';
    Vue.use(datePicker);

    export default {
        components: {
            VueAdsPagination,
            VueAdsPageButton,
        },
        data(){
            return{
                create_error_message: false,
                error_message: '',

                url: null,
                thumbnailsPart : 'images/thumbnails/',
                originalPart : 'images/contents/Original/',
                uploadPercentage: 0,
                errorMessage : '',
                message: '',

                total:0,
                per_page:10,
                loading: false,
                page: 0,
                numbering : 0,
                teamLeader: [],
                country: [],
                editmode: false,

                form: new Form({
                    id: '',
                    passport: '',
                    first_name: '',
                    last_name: '',
                    dob: '',
                    gender: '',
                    phone: '',
                    nationality: '',
                    country_id: '0',
                    company: '',
                    skill: '',
                    photo: '',
                    name: '',
                    email: '',
                    password: ''
                }),
            }
        },
        methods:{
            onImageChange(e){
                const file = e.target.files[0];
                this.url = URL.createObjectURL(file);

                const config = {
                    headers: { 'content-type': 'multipart/form-data' }
                };

                let formData = new FormData();
                formData.append('image', file);
                formData.append('thumbnailsPart', this.thumbnailsPart);
                formData.append('originalPart', this.originalPart);
                formData.append('validate', 'required|image|mimes:jpeg,png,jpg,gif,svg|max:100000');

                axios.post('/api/resizeImagePost',
                    formData,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        },
                        onUploadProgress: function( progressEvent ) {
                            this.uploadPercentage = parseInt( Math.round( ( progressEvent.loaded / progressEvent.total ) * 100 ));
                        }.bind(this)
                    }
                )
                    .then(function (response) {
                        this.form.photo = response.data.data.name;
                        this.errorMessage = '';
                    }.bind(this))
                    .catch((error) => {
                        this.uploadPercentage = 0;
                        this.errorMessage = error.message;
                        this.$toast.error({
                            title:'Upload Sound',
                            message: error.message,
                        });
                        this.$loading(false)
                    })
            },
            deleteImg(img){
                let formData = new FormData();
                formData.append('image', img);
                formData.append('thumbnailsPart', this.thumbnailsPart);
                formData.append('originalPart', this.originalPart);

                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.value) {
                        axios.post('/api/removeImage', formData).then((response)=>{
                            Swal.fire(
                                'Deleted!',
                                'Your file has been deleted.',
                                'success'
                            );
                            this.form.photo = null;
                            this.uploadPercentage = 0;
                        }).catch(()=> {
                            Swal.fire("Failed!", "There was something wronge.", "warning");
                        });
                    } else if (result.dismiss === Swal.DismissReason.cancel) {
                        Swal.close();
                    }
                })
            },
            rangeChange (start, end) {
                if (this.numbering !== start) {
                    this.$loading(true);
                    this.numbering = start;
                    var page = end / this.per_page;
                    if ((start + this.per_page) > this.total) {
                        page = page + 1;
                    }
                    axios.get('/api/teamLeader?page=' + parseInt(page) + '&paginate=' + parseInt(this.per_page))
                        .then(response => {
                            this.teamLeader = response.data.data;
                            this.total = response.data.meta.total;
                            this.$loading(false);
                        });
                }
            },
            load_data() {
                axios.get('/api/teamLeader')
                    .then(response => {
                        this.teamLeader = response.data.data;
                        this.total = response.data.meta.total;
                    });
            },
            create_data(){
                this.$loading(true);
                this.form.post('/api/teamLeader')
                    .then(response => {
                        if(response.data.statusCode === 200){
                            this.$toast.success({
                                type: 'success',
                                title: 'Create Data',
                                message: 'Team Leader create in Successfully'
                            });
                            this.create_error_message = false;
                            this.form.reset();
                            $('#Leader').modal('hide');
                            Fire.$emit('AfterCreate');
                            this.$loading(false);
                        }else{
                            this.create_error_message = true;
                            this.error_message = response.data.message;
                        }

                    })
                    .catch(()=>{
                        this.$toast.error({
                            title:'Create Team Leader Package',
                            message: error.message
                        });
                        this.$loading(false)
                    })
            },

            update_data(){
                this.$loading(true);
                this.form.put('/api/teamLeader/'+this.form.id)
                    .then(response => {
                        if(response.data.statusCode === 200){
                            this.$toast.success({
                                type: 'success',
                                title: 'Create Data',
                                message: 'Team Leader update in Successfully'
                            });
                            this.create_error_message = false;
                            this.form.reset();
                            Fire.$emit('AfterCreate');
                            this.$loading(false);
                        }else{
                            this.create_error_message = true;
                            this.error_message = response.data.message;
                        }
                    })
                    .catch(()=>{
                        this.$toast.error({
                            title:'Update Team Leader Package',
                            message: error.message
                        });
                        this.$loading(false)
                    })
            },

            edit_data(id){
                this.$loading(true);
                axios.get("/api/teamLeader/"+id)
                    .then(response => {
                        this.editmode = true;
                        this.form.reset();
                        $('#Leader').modal('show');
                        this.form.fill(response.data.data);
                        this.$loading(false);
                    });
            },
            delete_data(id){
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.value) {
                        this.form.delete('/api/teamLeader/'+id).then(()=>{
                            Swal.fire(
                                'Deleted!',
                                'Your file has been deleted.',
                                'success'
                            );
                            Fire.$emit('AfterCreate');
                        }).catch(()=> {
                            Swal.fire("Failed!", "There was something wronge.", "warning");
                        });
                    } else if (result.dismiss === Swal.DismissReason.cancel) {
                        Swal.close();
                    }
                })
            },
            load_data(){
                this.$loading(true);
                axios.get("/api/teamLeader")
                    .then(response => {
                        this.total = response.data.meta.total;
                        this.teamLeader = response.data.data;
                        this.$loading(false);
                    });
            },
            loadCountry(){
                axios.get("/api/country")
                    .then(response => {
                        this.country = response.data.data;
                    });
            },
            newModal(){
                this.editmode = false;
                this.form.reset();
                $('#Leader').modal('show');
            },
        },
        created() {
            this.load_data();
            this.loadCountry();
            Fire.$on('AfterCreate',() => {
                this.load_data();
            });
        }
    }
</script>
