<template>
<div style="width : 100%;">
        <!-- Content Header (Page header) -->
        <br/>
    <div class="content-header">
      <div class="container">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h3 class="m-0"> Tour Package List</h3>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Tour Package List</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <div class="card-body">

        <div class="row invoice-info">
            <div class="col-sm-12 invoice-col">
            <div class="form-group row">
            <label for="inputName" class="col-sm-2 col-form-label">Tour Package : </label>
            <div class="col-sm-4 col-md-4">
                <select class="form-control" v-model="tourPackage" @change="onChangeTourPackage($event)">
                    <option value="0">--- All ----</option>
                    <option v-for="value in allTourPackage" :value="value.id">{{value.title}}</option>
                </select>
            </div>
            </div>
            </div>
            <!-- /.col -->

            <!-- /.col -->
<!--            <div class="col-sm-6 invoice-col">-->
<!--                <b>days</b><br>-->
<!--                <b>Location ID:</b> 4F3S8J<br>-->
<!--                <b>description:</b> 2/22/2014<br>-->
<!--            </div>-->
            <!-- /.col -->
        </div>
        <br/>
        <div class="tab-content">
            <div class="tab-pane active" id="activity">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Tourists List</h3>
                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 60px;">
                                <button type="submit" class="btn btn-primary btn-sm" @click="newModal"><i class="fas fa-plus"></i> Add</button>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th style="width: 10px">#</th>
                                <th class="display">Passport</th>
                                <th>Name</th>
                                <th class="display">Gender</th>
                                <th class="display">Nationality</th>
                                <th style="text-align: right;">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(value,index) in data" :key="value.id">
                                <td>{{numbering+index+1}}</td>
                                <td class="display">{{value.passport}}</td>
                                <td>{{value.first_name}} {{value.last_name}}</td>
                                <td class="display">{{value.gender}}</td>
                                <td class="display">{{value.nationality}}</td>
                                <td style="text-align: right;">
                                    <span class="badge bg-danger text-sm" @click="delete_data(value.id)"><i class="fa fa-trash text-sm"></i> Delete</span>
                                    <span class="badge bg-primary text-sm" @click="edit_data(value.id)"><i class="fa fa-edit text-sm"></i> Edit</span>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer clearfix">
                        <!--start pagination-->
                        <vue-ads-pagination :total-items="total" :max-visible-pages="3" :items-per-page="per_page" :page="page" :loading="loading" @range-change="rangeChange">
                            <template slot-scope="props">
                                <div class="vue-ads-pr-2 vue-ads-leading-loose display">
                                    Rows Display :
                                    <select id="displayRows" @change="onChange($event)">
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="30">30</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select>

                                </div>
                                <div class="vue-ads-pr-2 vue-ads-leading-loose">
                                    Pages: {{ props.start }} Of {{ props.end }} (Total: {{ props.total }} Items)
                                </div>
                            </template>
                            <template slot="buttons" slot-scope="props">
                                <vue-ads-page-button v-for="(button, key) in props.buttons" :key="key" v-bind="button" @page-change="page = button.page"/>
                            </template>
                        </vue-ads-pagination>
                        <!--start pagination-->
                    </div>

                </div>
            </div>
        </div>
        <!-- /.tab-content -->

        <!-- Modal -->
        <div class="modal fade" id="Tourists" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Tourists Setting</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form @submit.prevent="editmode ? update_data() : create_data()">
                        <div class="modal-body">

                            <div class="form-group row">
                            <label for="inputName" class="col-sm-4 col-form-label">Tour Package <span class="required">*</span></label>
                            <div class="col-sm-8 col-md-8">
                                <select class="form-control" v-model="form.package_id">
                                    <option value="0">--- Select ----</option>
                                    <option v-for="value in allTourPackage" :value="value.id">{{value.title}}</option>
                                </select>
                            </div>
                            </div>


                            <div class="form-group row">
                                <label for="inputName" class="col-sm-4 col-form-label">Passport <span class="required">*</span></label>
                                <div class="col-sm-8 col-md-8">
                                    <input type="text" class="form-control" id="inputName" required placeholder="Passport" v-model="form.passport">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputName" class="col-sm-4 col-form-label">First Name <span class="required">*</span></label>
                                <div class="col-sm-8 col-md-8">
                                    <input type="text" class="form-control" id="inputName" required placeholder="First Name" v-model="form.first_name">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputName" class="col-sm-4 col-form-label">Last Name <span class="required">*</span></label>
                                <div class="col-sm-8 col-md-8">
                                    <input type="text" class="form-control" id="inputName" required placeholder="Last Name" v-model="form.last_name">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputName" class="col-sm-4 col-form-label">Gender <span class="required">*</span></label>
                                <div class="col-sm-8 col-md-8">
                                    <select class="form-control" v-model="form.gender">
                                        <option>Male</option>
                                        <option>Female</option>
                                        <option>Other</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="timepicker" class="col-sm-4 col-form-label">Date of Birth <span class="required">*</span></label>
                                <div class="col-sm-9 col-md-8">
                                    <div class="input-group date" id="timepicker" data-target-input="nearest">
                                        <date-picker name="date_of_birth" v-model="form.dob" :config="{format: 'YYYY-MM-DD'}"></date-picker>
                                        <div class="input-group-append" data-target="#timepicker" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputName" class="col-sm-4 col-form-label">Nationality <span class="required">*</span></label>
                                <div class="col-sm-8 col-md-8">
                                    <select class="form-control" v-model="form.nationality">
                                        <option value="0">--- Select ----</option>
                                        <option v-for="c in country" :value="c.id">{{c.nationality}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputName" class="col-sm-4 col-form-label">Travel From <span class="required">*</span></label>
                                <div class="col-sm-8 col-md-8">
                                    <select class="form-control" v-model="form.travel_from">
                                        <option value="0">--- Select ----</option>
                                        <option v-for="c in country" :value="c.id">{{c.name}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputPassword6" class="col-sm-4 col-form-label">Position</label>
                                <div class="col-sm-8 custom-control custom-switch" style="padding-left: 50px;">
                                    <input type="checkbox" class="custom-control-input" id="customSwitch1" v-model="form.is_tour_leader">
                                    <label class="custom-control-label" for="customSwitch1">Is Tour leader?</label>
                                </div>
                            </div>

                            <br/>
                            <h5 class="modal-title" id="exampleModalLongTitle">Vaccine Information</h5>
                            <hr/>

                            <div class="form-group row">
                                <label for="inputName" class="col-sm-4 col-form-label">Title </label>
                                <div class="col-sm-8 col-md-8">
                                    <input type="text" class="form-control" id="inputName" required placeholder="Title" v-model="form.title">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputName" class="col-sm-4 col-form-label">Vaccine No </label>
                                <div class="col-sm-8 col-md-8">
                                    <input type="text" class="form-control" id="inputName" required placeholder="Vaccine No" v-model="form.vaccine_no">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputName" class="col-sm-4 col-form-label">Vaccine Name </label>
                                <div class="col-sm-8 col-md-8">
                                    <input type="text" class="form-control" id="inputName" required placeholder="Vaccine Name" v-model="form.vaccine_name">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputName" class="col-sm-4 col-form-label">Number Dose </label>
                                <div class="col-sm-8 col-md-8">
                                    <input type="text" class="form-control" id="inputName" required placeholder="Number Dose" v-model="form.number_dose">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="timepicker" class="col-sm-4 col-form-label">Last Dose</label>
                                <div class="col-sm-9 col-md-8">
                                    <div class="input-group date" id="last_dose" data-target-input="nearest">
                                        <date-picker name="last_dose" v-model="form.last_dose" :config="{format: 'YYYY-MM-DD'}"></date-picker>
                                        <div class="input-group-append" data-target="#last_dose" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="thumb_image" class="col-sm-4 col-form-label">Vaccine COVID19 Docoment (Photo) </label>

                                <div class="col-sm-10 col-md-8" v-if="form.vaccine_document">
                                    <div style="padding-top:10px;">
                                        <img :src="`/images/thumbnails/${form.vaccine_document}`" style="max-width: 150px;"/>
                                        <button type="button" class="btn btn-danger btn-xs" @click="deleteImg(form.vaccine_document)"><i class="fa fa-trash-alt"></i></button>
                                    </div>
                                </div>

                                <div class="col-sm-10 col-md-8" v-else>
                                    <div id="preview" style="padding-top:10px;" v-if="form.vaccine_document">
                                        <img :src="url"  style="max-width: 150px;"/>
                                        <button type="button" class="btn btn-danger btn-xs" @click="deleteImg(form.vaccine_document)"><i class="fa fa-trash-alt"></i></button>
                                    </div>

                                    <div v-else>
                                        <input type="file" id="thumb_image" name="thumb_image" ref="imageUrl" v-on:change="onImageChange" :class="{ 'is-invalid': form.errors.has('thumb_image') }"/>
                                        <has-error :form="form" field="thumb_image"></has-error>
                                    </div>
                                    <br/>

                                    <div class="alert alert-danger alert-dismissable" v-if="errorMessage !== ''">
                                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                        {{errorMessage}}
                                    </div>

                                    <div
                                        class="progress-bar progress-bar-info progress-bar-striped"
                                        role="progressbar"
                                        :aria-valuenow="uploadPercentage"
                                        aria-valuemin="0"
                                        aria-valuemax="100"
                                        :style="{ width: uploadPercentage + '%' }"
                                    >
                                        {{ uploadPercentage }}%
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times-circle"></i> Close</button>
                            <button type="submit" v-show="editmode" class="btn btn-success"><i class="fas fa-edit"></i> Update</button>
                            <button type="submit" v-show="!editmode" class="btn btn-primary"><i class="fas fa-save"></i> Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div><!-- /.card-body -->
</div>
</template>


<script>
    import VueAdsPagination, { VueAdsPageButton } from 'vue-ads-pagination';
    import Swal from 'sweetalert2/dist/sweetalert2.js'
    export default {
        components: {
            VueAdsPagination,
            VueAdsPageButton,
        },
        data(){
            return{
                url: null,
                thumbnailsPart : 'images/thumbnails/',
                originalPart : 'images/contents/Original/',
                total:0,
                per_page:10,
                loading: false,
                page: 0,
                numbering : '',
                data: [],
                country: [],
                editmode: false,
                tourPackage: '0',
                allTourPackage: '',
                uploadPercentage: 0,
                errorMessage : '',
                message: '',
                editmode: false,
                form: new Form({
                    id: '',
                    package_id: '',
                    passport: '',
                    first_name: '',
                    last_name: '',
                    dob: '',
                    gender: '',
                    nationality: '',
                    country_id: '0',
                    travel_from: '0',
                    is_tour_leader : '0',
                    type: 'TOURISTS',
                    title: '',
                    vaccine_no: '',
                    vaccine_name: '',
                    number_dose: '',
                    last_dose: '',
                    vaccine_document: ''
                }),
            }
        },
        mounted(){
            this.load_allTourPackage();
            if(this.$route.params.package_id > 0){
                this.tourPackage = this.$route.params.package_id;
                this.form.package_id = this.$route.params.package_id;
            }else{
                this.tourPackage = 0;
            }
        },
        methods:{
            onImageChange(e){
                const file = e.target.files[0];
                this.url = URL.createObjectURL(file);

                const config = {
                    headers: { 'content-type': 'multipart/form-data' }
                };

                let formData = new FormData();
                formData.append('image', file);
                formData.append('thumbnailsPart', this.thumbnailsPart);
                formData.append('originalPart', this.originalPart);
                formData.append('validate', 'required|image|mimes:jpeg,png,jpg,gif,svg|max:100000');

                axios.post('/api/imagePost',
                    formData,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        },
                        onUploadProgress: function( progressEvent ) {
                            this.uploadPercentage = parseInt( Math.round( ( progressEvent.loaded / progressEvent.total ) * 100 ));
                        }.bind(this)
                    }
                )
                    .then(function (response) {
                        this.form.vaccine_document = response.data.data.name;
                        this.errorMessage = '';
                    }.bind(this))
                    .catch((error) => {
                        this.uploadPercentage = 0;
                        this.errorMessage = error.message;
                        this.$toast.error({
                            title:'Upload Sound',
                            message: error.message,
                        });
                        this.$loading(false)
                    })
            },
            deleteImg(img){
                let formData = new FormData();
                formData.append('image', img);
                formData.append('thumbnailsPart', this.thumbnailsPart);
                formData.append('originalPart', this.originalPart);

                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.value) {
                        axios.post('/api/removeImage', formData).then((response)=>{
                            Swal.fire(
                                'Deleted!',
                                'Your file has been deleted.',
                                'success'
                            );
                            this.form.vaccine_document = null;
                            this.uploadPercentage = 0;
                        }).catch(()=> {
                            Swal.fire("Failed!", "There was something wronge.", "warning");
                        });
                    } else if (result.dismiss === Swal.DismissReason.cancel) {
                        Swal.close();
                    }
                })
            },
            onChangeTourPackage:function(event){
                this.loadTouristsByTourPackage(event.target.value);
            },
            goBack() {
                this.$router.go(-1);
            },
            load_data(){
                this.$loading(true);
                var url = '/api/tourists';
                if(this.tourPackage > 0){
                    url = '/api/get-tourists-by-tour-package/'+this.$route.params.package_id;
                }
                axios.get(url)
                    .then(response => {
                        this.uploadPercentage = 0;
                        this.total = response.data.meta.total;
                        this.data = response.data.data;
                        this.$loading(false);
                    });
            },
            rangeChange (start, end) {
                if (this.numbering !== start) {
                    this.$loading(true);
                    this.numbering = start;
                    var page = end / this.per_page;
                    if ((start + this.per_page) > this.total) {
                        page = page + 1;
                    }

                    var url = '/api/tourists';
                    if(this.$route.params.package_id > 0){
                        url = '/api/get-tourists-by-tour-package/'+this.$route.params.package_id;
                    }

                    axios.get(url + '?page=' + parseInt(page) + '&paginate=' + parseInt(this.per_page))
                        .then(response => {
                            this.data = response.data.data;
                            this.total = response.data.meta.total;
                            this.$loading(false);
                        });
                }
            },
            create_data(){
                this.$loading(true);
                this.form.post('/api/tourists')
                    .then(response => {
                        this.$toast.success({
                            type: 'success',
                            title: 'Tourists Created in Successfully'
                        });
                        this.uploadPercentage = 0;
                        this.form.reset();
                        Fire.$emit('AfterCreate');
                        this.$loading(false);
                    })
                    .catch(()=>{
                        this.$toast.error({
                            title:'Create Tourists',
                            message: error.message
                        });
                        this.$loading(false)
                    })
            },

            update_data(){
                this.$loading(true);
                this.form.put('/api/tourists/'+this.form.id)
                    .then(response => {
                        this.$toast.success({
                            type: 'success',
                            title: 'Update Data',
                            message: 'Tourists Update in Successfully'
                        });
                        this.form.reset();
                        Fire.$emit('AfterCreate');
                        $('#Tourists').modal('hide');
                        this.$loading(false);
                    })
                    .catch(()=>{
                        this.$toast.error({
                            title:'Update',
                            message: error.message
                        });
                        this.$loading(false)
                    })
            },

            edit_data(id){
                this.$loading(true);
                axios.get("/api/tourists/"+id)
                    .then(response => {
                        this.editmode = true;
                        this.form.reset();
                        $('#Tourists').modal('show');
                        this.form.fill(response.data.data);
                        this.$loading(false);
                    });
            },
            delete_data(id){
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.value) {
                        this.form.delete('/api/tourists/'+id).then(()=>{
                            Swal.fire(
                                'Deleted!',
                                'Your file has been deleted.',
                                'success'
                            );
                            Fire.$emit('AfterCreate');
                        }).catch(()=> {
                            Swal.fire("Failed!", "There was something wronge.", "warning");
                        });
                    } else if (result.dismiss === Swal.DismissReason.cancel) {
                        Swal.close();
                    }
                })
            },
            
            loadTouristsByTourPackage(id){
                this.$loading(true);
                var url = '/api/tourists';
                if(id > 0){
                    url = '/api/get-tourists-by-tour-package/' + id
                }
                axios.get(url)
                    .then(response => {
                        this.total = response.data.meta.total;
                        this.data = response.data.data;
                        this.$loading(false);
                    });
            },
            loadCountry(){
                axios.get("/api/country")
                    .then(response => {
                        this.country = response.data.data;
                    });
            },
            load_allTourPackage(){
                this.$loading(true);
                axios.get("/api/tourPackage?paginate=1000")
                    .then(response => {
                        this.allTourPackage = response.data.data;
                        this.$loading(false);
                    });
            },
            newModal(){
                this.editmode = false;
                this.form.reset();
                this.form.package_id = this.$route.params.package_id;
                $('#Tourists').modal('show');
            },
        },
        created() {
            this.loadCountry();
            Fire.$on('AfterCreate',() => {
                this.load_data();
            });
        }
    }
</script>

