<template>
    <div class="card-body">
        <div class="modal-footer" style="border-top: 0px solid #e9ecef;">
            <button type="submit" class="btn btn-secondary btn-xs" @click="goBack()"><i class="fa fa-step-backward"></i> Back</button>
            <button type="submit" class="btn btn-primary btn-xs" @click="print()"><i class="fa fa-print"></i> Print</button>
        </div>

        <div id="TourPackagePrint">
            <div class="row invoice-info">
                <div style="text-align: center; width: 100%;">
                    <strong id="tp_title">{{tourPackage.title}}</strong><br>
                    Number of days : {{tourPackage.num_day_tour}}<br>
                    Arrival Day : {{tourPackage.arrival_date | myDate}}<br>
                    ***************<br/>
                </div>
            </div>
            <br/>

            <div class="row">
                <div class="col-12 table-responsive">
                    <b style="font-size: 16px;" id="tourstslist">Tourists List Report</b>
                    <table id="customers">
                        <thead>
                        <tr>
                            <th style="width: 40px">#</th>
                            <th>Passport</th>
                            <th>Name</th>
                            <th>Gender</th>
                            <th>Nationality</th>
                            <th>Travel From</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(value,index) in data" :key="value.id">
                            <td>{{numbering+index+1}}</td>
                            <td>{{value.passport}}</td>
                            <td>{{value.first_name}} {{value.last_name}}</td>
                            <td>{{value.gender}}</td>
                            <td>{{value.nationality}}</td>
                            <td>{{value.travel_from}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <br/>
                    <div class="row invoice-info">
                        <div class="col-sm-12 invoice-col">
                            <h4 style="font-size: 18px; font-weight: 600;" id="itinerary">Itinerary</h4>
                            <hr style="border-bottom: 1px dashed; margin-bottom: 5px;"/>
                        </div>

                        <div class="col-sm-12 invoice-col" style="margin-bottom: 10px;" v-for="i in tourPackage.Itinerary">

                            <div class="form-group row" style="font-weight: 600;">
                                <label for="inputName2" class="col-sm-2 col-form-label padding" style="font-weight: 600;"> Days {{i.days}}</label>
                                <div class="col-sm-9 col-md-10 padding">
                                    <label for="inputName2" class="col-sm-10 col-form-label padding" style="font-weight: 600;"> {{i.title}}</label>
                                </div>

                                <label for="inputName2" class="col-sm-2 col-form-label padding"> Start Date</label>
                                <div class="col-sm-9 col-md-10 padding">
                                    <label for="inputName2" class="col-sm-10 col-form-label padding"> {{i.date_start | myDOB}}</label>
                                </div>

                                <label for="inputName2" class="col-sm-2 col-form-label padding"> Start Time</label>
                                <div class="col-sm-9 col-md-10">
                                    <label for="inputName2" class="col-sm-10 col-form-label padding"> {{i.time_start}}</label>
                                </div>
                            </div>

                            <div v-for="row in i.activities" style="margin-bottom: 10px;" class="form-group row">
                                
                                <label for="inputName2" class="col-sm-2 col-form-label padding"> {{row.time}}</label>
                                <div class="col-sm-9 col-md-10">
                                    <label for="inputName2" class="col-sm-10 col-form-label padding"> {{row.activity}} <br/> {{row.detail}}</label>
                                </div>

                                <label for="inputName2" class="col-sm-2 col-form-label padding"> Location</label>
                                <div class="col-sm-9 col-md-10">
                                    <label for="inputName2" class="col-sm-10 col-form-label padding"> {{row.safe_loc_name}}</label>
                                </div>
                            </div>
                            <hr/>
                        </div>
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <br style="clear: both;"/>
        </div>
        <!-- /.tab-content -->

    </div><!-- /.card-body -->
</template>


<script>
    export default {
        data(){
            return{
                numbering: 0,
                data: [],
                tourPackage: '',
            }
        },
        mounted(){
            this.loadTourPackage();
        },
        methods:{
            goBack() {
                this.$router.go(-1);
            },
            print() {
                this.$htmlToPaper('TourPackagePrint');
            },
            loadTourPackage(){
                this.$loading(true);
                axios.get('/api/tourPackage/'+this.$route.params.package_id)
                    .then((response)=>{
                        this.tourPackage = response.data.data;
                        this.$loading(false);
                    })
            },
            getTourists() {
                this.$loading(true);
                axios.get('/api/get-tourists-by-tour-package/'+this.$route.params.package_id+'?paginate=100')
                    .then(response => {
                        this.data = response.data.data;
                        this.$loading(false);
                    });
            },
        },
        created() {
            this.getTourists();
        }
    }
</script>

