<template>
<div style="width : 100%;">
    <br/>
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h3 class="m-0"> Tour Package List</h3>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Tour Package List</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->


    <div class="card-body">

            <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Tour Package List</h3>
                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 130px;">
                                <router-link to="/add-tour-package">
                                    <button type="submit" class="btn btn-primary btn-xs"><i class="fas fa-plus" style="font-size: 10px;"></i> Add Tour Package</button>
                                </router-link>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th style="width: 10px">#</th>
                                <th>Package Name</th>
                                <th>Days</th>
                                <th>Market</th>
                                <th class="display">Status</th>
                                <th class="action-title">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(t,index) in TourPackage.data" :key="t.id">
                                <td>{{numbering+index+1}}</td>
                                <td>
                                    <router-link :to="`/tour-package-frontend-report/${t.id}`"> {{t.title}} </router-link>
                                </td>

                                <td class="display" style="font-size: 0.775rem">
                                    {{t.num_day_tour}}
                                </td>

                                <td class="display" style="font-size: 0.775rem">
                                    {{t.market}}
                                </td>

                                <td class="display" style="font-size: 0.775rem">
                                    {{t.state}}
                                </td>

                                <td style="text-align: right;">

                                    <vue-custom-tooltip label="Add tourist">
                                        <router-link :to="`/tourists-list/${t.id}`" class="badge bg-success text-sm" v-if="t.state !=='ACTIVE'">
                                            <i class="fas fa-user-plus text-sm" style="float: left;"></i>
                                        </router-link>
                                    </vue-custom-tooltip>
                                    
                                    <vue-custom-tooltip label="Add tour program">
                                        <router-link :to="`/itinerary-list/${t.id}`" class="badge bg-danger text-sm" v-if="t.state !=='ACTIVE'">
                                            <i class="fas fa-stream text-sm" style="float: left;"></i>
                                        </router-link>
                                    </vue-custom-tooltip>

                                    <vue-custom-tooltip label="Edit tour package">
                                        <router-link :to="`/edit-tour-package/${t.id}`" class="badge bg-primary text-sm" v-if="t.state !=='ACTIVE'">
                                            <i class="fa fa-edit text-sm" style="float: left; text-sm"></i>
                                        </router-link>
                                    </vue-custom-tooltip>

                                    <vue-custom-tooltip label="Register Tour Package">
                                        <router-link :to="`/edit-tour-package/${t.id}`" class="badge badge-info text-sm" v-if="t.is_register === 0">
                                            <i class="fas fa-registered text-sm" style="float: left; text-sm"></i>
                                        </router-link>
                                    </vue-custom-tooltip>

                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer clearfix">
                        <!--start pagination-->
                        <vue-ads-pagination :total-items="total" :max-visible-pages="3" :items-per-page="per_page" :page="page" :loading="loading" @range-change="rangeChange">
                            <template slot-scope="props">
                                <div class="vue-ads-pr-2 vue-ads-leading-loose display">
                                    Rows Display :
                                    <select id="displayRows" @change="onChange($event)">
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="30">30</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select>

                                </div>
                                <div class="vue-ads-pr-2 vue-ads-leading-loose">
                                    Pages: {{ props.start }} Of {{ props.end }} (Total: {{ props.total }} Items)
                                </div>
                            </template>
                            <template slot="buttons" slot-scope="props">
                                <vue-ads-page-button v-for="(button, key) in props.buttons" :key="key" v-bind="button" @page-change="page = button.page"/>
                            </template>
                        </vue-ads-pagination>
                        <!--start pagination-->
                    </div>

                </div>
        <!-- /.tab-content -->
    </div><!-- /.card-body -->

</div>
</template>
<script>

    import VueAdsPagination, { VueAdsPageButton } from 'vue-ads-pagination';
    import VueCustomTooltip from '@adamdehaven/vue-custom-tooltip'

    export default {
        components: {
            VueAdsPagination,
            VueAdsPageButton,
            VueCustomTooltip
        },

        data() {
            return {
                //Pagination return
                total:0,
                per_page:10,
                loading: false,
                page: 0,
                numbering : '',
                TourPackage : {},
                TourPackageState: {},

                form: new Form({
                    id : '',
                })
            }
        },
        methods: {
            onChange(event) {
                this.$loading(true);
                this.per_page = parseInt(event.target.value);
                axios.get('/api/tourPackage?paginate='+this.per_page)
                    .then(response => {
                        this.total = response.data.meta.total;
                        this. page = 0;
                        this.TourPackage = response.data;
                        this.$loading(false);
                    });
            },
            rangeChange (start, end) {
                if (this.numbering !== start){
                    this.$loading(true);
                    this.numbering = start;
                    var page = end / this.per_page;
                    if ((start+this.per_page)>this.total){
                        page = page+1;
                    }
                    axios.get('/api/tourPackage?page=' + parseInt(page)+'&paginate='+parseInt(this.per_page))
                        .then(response => {
                            this.TourPackage = response.data;
                            this.total = response.data.meta.total;
                            this.$loading(false);
                        });
                }
            },

            load_data(){
                this.$loading(true);
                axios.get("/api/tourPackage")
                    .then(response => {
                        this.total = response.data.meta.total;
                        this.per_page = parseInt(response.data.meta.per_page);
                        this.TourPackage = response.data;
                        this.$loading(false)
                    });
            }
        },
        created() {
            this.load_data();
        }
    }
</script>
