<template>
    <div>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <!-- left column -->
                    <div class="col-md-8">

                        <div class="row">
                            <div class="col-12">
                                <div class="card card-outline card-info">
                                    <div class="card-header">
                                        <div class="card-title">Menu List</div>

                                        <div class="card-tools">
                                            <div class="input-group input-group-sm" style="width: 150px;">

                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body table-responsive p-0">

                                        <table class="table table-hover text-nowrap">
                                            <thead>
                                            <tr>
                                                <th style="width: 40px;">#</th>
                                                <th>Menu Name</th>
                                            </tr>
                                            </thead>
                                            <draggable v-model="data" tag="tbody" @end="update_ordering(data)">
                                                <tr v-for="(menu,index) in data" :key="menu.id" style="cursor: move;" :id="menu.id">
                                                    <td>{{numbering+index+1}}</td>
                                                    <td>
                                                        <a href="#" class="move" @click.prevent="show_data(menu.id)">{{menu.name}}</a>
                                                        <button type="button" class="badge bg-danger float-right" @click="delete_data(menu.id)"><i class="fa fa-trash"></i> Delete</button>
                                                        <button type="button" class="badge bg-success float-right" @click="show_data(menu.id)" ><i class="fa fa-edit"></i> Edit</button>
                                                        <span v-if="menu.state == 0" class="align-center float-right"> <span class="badge bg-danger"><i class="fas fa-eye-slash"></i></span> </span>
                                                        <span v-else class="align-center float-right"><span class="badge bg-primary"><i class="fas fa-eye"></i></span></span>


                                                        <draggable v-model="menu.subMenu" tag="" @end="update_ordering(menu.subMenu)">
                                                            <div v-for="smenu in menu.subMenu" :key="smenu.id" v-if="smenu.parent_id" class="sub-menu-div">
                                                                <a href="#" @click="show_data(smenu.id)" class="move sub-menu-link"><i class="fa fa-long-arrow-alt-right orange"></i> {{smenu.name}}</a>
                                                                <button type="button" class="badge bg-danger float-right" @click="delete_data(smenu.id)"><i class="fa fa-trash"></i> Delete</button>
                                                                <button type="button" class="badge bg-success float-right" @click="show_data(smenu.id)"><i class="fa fa-edit"></i> Edit</button>
                                                                <span v-if="smenu.state == 0" class="align-center float-right"> <span class="badge bg-danger"><i class="fas fa-eye-slash"></i></span> </span>
                                                                <span v-else class="align-cente float-right"><span class="badge bg-primary"><i class="fas fa-eye"></i></span></span>
                                                            </div>
                                                        </draggable>

                                                    </td>
                                                </tr>

                                            </draggable>
                                        </table>

                                    </div>
                                    <!-- /.card-body -->
                                    <div class="card-footer clearfix">

                                        <!--start pagination-->
                                        <vue-ads-pagination :total-items="total" :max-visible-pages="3" :items-per-page="per_page" :page="page" :loading="loading" @range-change="rangeChange">
                                            <template slot-scope="props">
                                                <div class="vue-ads-pr-2 vue-ads-leading-loose">
                                                    Rows Display :
                                                    <select id="displayRows" @change="onChange($event)">
                                                        <option value="10">10</option>
                                                        <option value="20">20</option>
                                                        <option value="30">30</option>
                                                        <option value="50">50</option>
                                                        <option value="100">100</option>
                                                    </select>

                                                </div>
                                                <div class="vue-ads-pr-2 vue-ads-leading-loose">
                                                    Pages {{ props.start }} Of {{ props.end }} (Total​: {{ props.total }})
                                                </div>
                                            </template>
                                            <template slot="buttons" slot-scope="props">
                                                <vue-ads-page-button v-for="(button, key) in props.buttons" :key="key" v-bind="button" @page-change="page = button.page"/>
                                            </template>
                                        </vue-ads-pagination>
                                        <!--start pagination-->
                                    </div>
                                </div>
                                <!-- /.card -->
                            </div>
                        </div>

                    </div>
                    <!--/.col (left) -->
                    <!-- right column -->
                    <div class="col-md-4">
                        <!-- general form elements disabled -->
                        <div class="card card-outline card-info">
                            <div class="card-header">
                                <div class="card-title">Menus Setting</div>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->
                            <form class="form-horizontal" @submit.prevent="editmode ? update_data() : save_data()">
                                <div class="card-body">

                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-sm-3 col-form-label">Menu Parent</label>
                                        <div class="col-sm-9">
                                            <select class="form-control select2 select2-hidden-accessible" style="width: 100%;" data-select2-id="1" tabindex="-1" aria-hidden="true" v-model="form.parent_id">
                                                <option selected="selected" value="0" data-select2-id="3">No Parent</option>
                                                <option data-select2-id="30" v-for="menu in menuParent" :key="menu.id" :value="menu.id">{{menu.name}}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="inputPassword3" class="col-sm-3 col-form-label">Menu Name</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="inputPassword3" placeholder="" v-model="form.name">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="inputPassword4" class="col-sm-3 col-form-label">Menu Link</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="inputPassword4" placeholder="" v-model="form.link">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="inputPassword5" class="col-sm-3 col-form-label">Class</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="inputPassword5" placeholder="" v-model="form.class_name">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="inputPassword6" class="col-sm-3 col-form-label">Color</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="inputPassword6" placeholder="" v-model="form.color">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="inputPassword6" class="col-sm-3 col-form-label">State</label>
                                        <div class="col-sm-9 custom-control custom-switch" style="padding-left: 50px;">
                                            <input type="checkbox" class="custom-control-input" id="customSwitch1" v-model="form.state">
                                            <label class="custom-control-label" for="customSwitch1">isActive?</label>
                                        </div>
                                    </div>

                                </div>
                                <!-- /.card-body -->
                                <div class="card-footer text-right">
                                    <button type="submit" class="btn btn-danger" @click.prevent="reset_data()"><i class="fas fa-ban"></i> Cancel</button>
                                    <button v-show="editmode" type="submit" class="btn btn-success"><i class="fas fa-edit"></i> Update</button>
                                    <button v-show="!editmode" type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Save</button>
                                </div>
                                <!-- /.card-footer -->
                            </form>
                        </div>
                        <!-- /.card -->
                    </div>
                    <!--/.col (right) -->
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>
    </div>
</template>

<script>
    import draggable from 'vuedraggable'
    import VueAdsPagination, { VueAdsPageButton } from 'vue-ads-pagination';
    import Swal from 'sweetalert2/dist/sweetalert2.js';
    import axios from "axios";

    export default {
        components: {
            draggable,
            VueAdsPagination,
            VueAdsPageButton,
        },
        data() {
            return {

                enabled: true,
                dragging: false,

                //Pagination return
                total:0,
                per_page:10,
                loading: false,
                page: 0,
                numbering : 0,
                colour: '#000000',
                editmode : false,
                data : {},
                menuParent: {},
                form: new Form({
                    id:'',
                    name: '',
                    parent_id: '',
                    link: '',
                    class_name: '',
                    state: '',
                    color: '',
                    ordering: '',
                }),
            }
        },
        methods: {
            checkMove: function(e) {
                // window.console.log("Future index: " + e.draggedContext.futureIndex);
                // window.console.log("Future index: " + e.draggedContext.element.id);
                this.update_ordering();
            },
            onChange(event) {
                this.$loading(true);
                this.per_page = parseInt(event.target.value);
                axios.get('/api/backendMenu?paginate='+this.per_page)
                    .then(response => {
                        this.total = response.data.meta.total;
                        this. page = 0;
                        this.data = response.data.data;
                        this.$loading(false);
                    });
            },
            rangeChange (start, end) {
                this.$loading(true);
                this.numbering = start;
                var page = end / this.per_page;
                if ((start+this.per_page)>this.total){
                    page = page+1;
                }
                axios.get('/api/backendMenu?page=' + parseInt(page)+'&paginate='+parseInt(this.per_page))
                    .then(response => {
                        this.data = response.data.data;
                        this.total = response.data.meta.total;
                        this.$loading(false);
                    });
            },
            load_data() {
                axios.get('/api/backendMenu')
                    .then(response => {
                        this.data = response.data.data;
                        this.total = response.data.meta.total;
                    });
            },
            save_data() {
                this.form.post('/api/backendMenu')
                    .then((response) => {
                        this.form.reset();
                        this.$toast.success({
                            title:'Create Menu',
                            message:'Menu have been created successful!'
                        });
                        this.load_data();
                    })
                    .catch((error) => {
                        this.$toast.error({
                            title:'Create Menu',
                            message: error.message
                        });
                    })
            },
            update_data(){
                this.form.put('/api/backendMenu/' + this.form.id)
                    .then((response) => {
                        this.form.reset();
                        this.$toast.success({
                            title:'Update Data',
                            message:'Menu have been updated successful!'
                        });
                        this.load_data();
                    })
                    .catch((error) => {
                        this.$toast.error({
                            title:'Update Data',
                            message: error.message
                        });
                    })
            },
            show_data(id){
                this.$loading(true);
                axios.get('/api/backendMenu/' + id)
                    .then(response => {
                        this.editmode = true,
                            this.form.fill(response.data.data);
                        this.$loading(false);
                    });
            },
            delete_data(id){
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.value) {
                        this.form.delete('/api/backendMenu/'+id).then(()=>{
                            Swal.fire(
                                'Deleted!',
                                'Your file has been deleted.',
                                'success'
                            );
                            Fire.$emit('AfterCreate');
                        }).catch(()=> {
                            Swal.fire("Failed!", "There was something wronge.", "warning");
                        });
                    } else if (result.dismiss === Swal.DismissReason.cancel) {
                        Swal.close();
                    }
                });
            },
            reset_data(){
                this.form.reset();
                this.editmode = false;
            },
            getParentMenu(){
                axios.get('/api/getAllParentBackendMenu')
                    .then(response => {
                        this.menuParent = response.data.data;
                    });
            },
            update_ordering(Object){
                let data = {
                    total: this.total,
                    menus: Object,
                };

                axios.put('/api/update-ordering',data)
                    .then((response) => {
                        this.form.reset();
                        this.$toast.success({
                            title:'Update Ordering',
                            message:'Ordering have been updated successful!'
                        });
                        this.load_data();
                    })
                    .catch((error) => {
                        this.$toast.error({
                            title:'Update Data',
                            message: error.message
                        });
                    })
            }
        },
        created() {
            this.getParentMenu();
            Fire.$on('AfterCreate',() => {
                this.load_data();
                this.getParentMenu();
            });
        }
    }
</script>
