<template>
<div>
    <section class="content">
      <div class="container-fluid">
        <div class="card card-outline card-info">
              <div class="card-header">
                <h3 class="card-title">Tour Package List</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 90px;">

                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th style="width: 30px;">N°</th>
                      <th>Title</th>
                      <th>Arrival Date</th>
                      <th>Departure Date</th>
                      <th>Traveller Return Date</th>
                      <th>Agency</th>
                      <th>State</th>
                      <th>Is Approve</th>
                      <th style="width: 190px; text-align: right;">Modify</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(value,index) in data" :key="value.id">
                      <td class="align-middle">{{numbering+index+1}}</td>
                      <td class="align-middle"><router-link :to="`/backend/tour-package-detail/${value.id}`">{{value.title}}</router-link>
                      </td>
                      <td>
                          {{value.arrival_date | myDate}}
                      </td>
                      <td>
                          {{value.departure_date | myDate}}
                      </td>
                      <td>
                          {{value.traveller_return_date | myDate}}
                      </td>
                      <td>
                          {{value.name}}
                      </td>
                      <td>
                          {{value.state}}
                      </td>
                      <td>
                          <i class="fa fa-eye blue" style="border: 1px solid; padding: 5px; border-radius: 5px;" v-if="value.is_approved == 1"></i>  
                          <i class="fa fa-eye-slash red" style="border: 1px solid; padding: 5px; border-radius: 5px;" v-else></i>
                      </td>

                    <td style="text-align: right;">
                        <button type="button" v-if="value.is_approved==0" class="btn btn-primary btn-xs" @click="Approve(value.id)"><i class="fa fa-eye"></i> Approve</button>
                        <button type="button" v-if="value.is_approved==1" class="btn btn-warning btn-xs" @click="DisApprove(value.id)"><i class="fa fa-eye-slash"></i> Disapprove</button>
                        <router-link class="btn btn-success btn-xs" :to="`/backend/tour-package-detail/${value.id}`"><i class="fas fa-search"></i> Detail</router-link>
                    </td>

                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer clearfix">

                  <!--start pagination-->
                  <vue-ads-pagination :total-items="total" :max-visible-pages="3" :items-per-page="per_page" :page="page" :loading="loading" @range-change="rangeChange">
                      <template slot-scope="props">
                          <div class="vue-ads-pr-2 vue-ads-leading-loose">
                              Rows Display :
                              <select id="displayRows" @change="onChange($event)">
                                  <option value="10">10</option>
                                  <option value="20">20</option>
                                  <option value="30">30</option>
                                  <option value="50">50</option>
                                  <option value="100">100</option>
                              </select>
                          </div>
                          <div class="vue-ads-pr-2 vue-ads-leading-loose">
                              Pages: {{ props.start }} Of {{ props.end }} (Total: {{ props.total }} Items)
                          </div>
                      </template>
                      <template slot="buttons" slot-scope="props">
                          <vue-ads-page-button v-for="(button, key) in props.buttons" :key="key" v-bind="button" @page-change="page = button.page"/>
                      </template>
                  </vue-ads-pagination>
                  <!--start pagination-->

              </div>
            </div>
            <!-- /.card -->
      </div><!-- /.container-fluid -->
    </section>
</div>
</template>

<script>
    // start pagination
    import VueAdsPagination, { VueAdsPageButton } from 'vue-ads-pagination';
    // end pagination

    import Swal from 'sweetalert2/dist/sweetalert2.js'

    export default {
        components: {
            VueAdsPagination,
            VueAdsPageButton,
        },

        data() {
            return {
                //Pagination return
                total:0,
                per_page:10,
                loading: false,
                page: 0,
                numbering : 0,

                editmode: false,
                data : {},
                form: new Form({
                    id:'',
                    name : '',
                    email: '',
                    password: ''
                })
            }
        },
        methods: {
            onChange(event) {
                this.$loading(true);
                this.per_page = parseInt(event.target.value);
                axios.get('/api/getAllTourPackage?paginate='+this.per_page)
                    .then(response => {
                        this.total = response.data.meta.total;
                        this. page = 0;
                        this.data = response.data.data;
                        this.$loading(false);
                    });
            },
            rangeChange (start, end) {
                if (this.numbering !== start) {
                    this.$loading(true);
                    this.numbering = start;
                    var page = end / this.per_page;
                    if ((start + this.per_page) > this.total) {
                        page = page + 1;
                    }
                    axios.get('/api/getAllTourPackage/'+this.current_branch_id+'?page=' + parseInt(page) + '&paginate=' + parseInt(this.per_page))
                        .then(response => {
                            this.data = response.data.data;
                            this.total = response.data.meta.total;
                            this.$loading(false);
                        });
                }
            },
            loadTourPackage(){
                this.$loading(true)
                axios.get("/api/getAllTourPackage")
                      .then(response => {
                          this.total = response.data.meta.total;
                          this.per_page = parseInt(response.data.meta.per_page);
                          this.data = response.data.data;
                          this.$loading(false)
                      });
            },
            Approve(id) {
                this.form.put('/api/approveTourPackage/'+id)
                    .then((response) => {
                        this.loadTourPackage();
                        this.$toast.success({
                            title:'Update Package',
                            message:'Tour Package Have Been Approved Successfully.'
                        })
                    })
                    .catch((error) => {
                        this.$toast.error({
                            title:'Update Package',
                            message: error.message
                        })
                    })
            },
            DisApprove(id) {
                this.form.put('/api/disapproveTourPackage/'+id)
                    .then((response) => {
                        this.loadTourPackage();
                        this.$toast.success({
                            title:'Update Package',
                            message:'Tour Package Have Been DisApproved Successfully.'
                        })
                    })
                    .catch((error) => {
                        this.$toast.error({
                            title:'Update Package',
                            message: error.message
                        })
                    })
            }
        },
        created() {
           this.loadTourPackage();
           Fire.$on('AfterCreate',() => {
               this.loadTourPackage();
           });

        }
    }
</script>
