<template>
    <div class="card-body">
        <div class="modal-footer" style="border-top: 0px solid #e9ecef;">
            <button type="submit" class="btn btn-secondary btn-xs" @click="goBack()"><i class="fa fa-step-backward"></i> Back</button>
            <button type="submit" class="btn btn-primary btn-xs" @click="print()"><i class="fa fa-print"></i> Print</button>
            <button type="button" class="btn btn-primary btn-xs" @click="Approve(tourPackage.id)"><i class="fa fa-eye"></i> Approve</button>
        </div>

        <div id="TourPackage">
            <div class="row invoice-info">
                <div style="text-align: center; width: 100%;">
                    <strong id="tp_title">{{tourPackage.title}}</strong><br>
                    Number of days : {{tourPackage.num_day_tour}}<br>
                    Arrival Day : {{tourPackage.arrival_date | myDate}}<br>
                    ***************<br/>
                </div>
            </div>
            <br/>

            <div class="row">
                <div class="col-12 table-responsive">
                    <b style="font-size: 16px;" id="tourstslist">Tourists List</b>
                    <table id="customers">
                        <thead>
                        <tr>
                            <th style="width: 40px">#</th>
                            <th>Passport</th>
                            <th>Name</th>
                            <th>Gender</th>
                            <th>Nationality</th>
                            <th>Travel From</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(value,index) in data" :key="value.id">
                            <td>{{numbering+index+1}}</td>
                            <td>{{value.passport}}</td>
                            <td>{{value.first_name}} {{value.last_name}}</td>
                            <td>{{value.gender}}</td>
                            <td>{{value.nationality}}</td>
                            <td>{{value.travel_from}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <br/>
                    <div class="row invoice-info">
                        <div class="col-sm-12 invoice-col">
                            <h4 style="font-size: 18px; font-weight: 600;" id="itinerary">Itinerary</h4>
                            <hr style="border-bottom: 1px dashed; margin-bottom: 5px;"/>
                        </div>

                        <div class="col-sm-12 invoice-col" style="margin-bottom: 10px;" v-for="i in tourPackage.Itinerary">
                            <b>Days</b> : {{i.days}}<br>
                            <b>Location:</b> {{i.location_name}}<br>
                            <b>Description:</b> {{i.description}}<br>
                            <h4 style="margin-top: 20px; font-size: 16px; font-weight: 600; border-bottom: 1px dashed; padding-bottom: 10px;">Tourist Destinations</h4>
                            <div v-for="row in i.safelocation">
                                <b>{{row.safe_cate_name}} </b> : {{row.safe_loc_name}}<br>
                            </div>
                            <hr/>
                        </div>
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <br style="clear: both;"/>
        </div>
        <!-- /.tab-content -->

    </div><!-- /.card-body -->
</template>


<script>
    export default {
        data(){
            return{
                numbering: 0,
                data: [],
                tourPackage: '',
                form: new Form({
                    id:'',
                })
            }
        },
        mounted(){
            this.loadTourPackage();
        },
        methods:{
            goBack() {
                this.$router.go(-1);
            },
            print() {
                this.$htmlToPaper('TourPackage');
            },
            loadTourPackage(){
                this.$loading(true);
                axios.get('/api/tourPackage/'+this.$route.params.package_id)
                    .then((response)=>{
                        this.tourPackage = response.data.data;
                        this.$loading(false);
                    })
            },
            getTourists() {
                this.$loading(true);
                axios.get('/api/get_tourists_by_package_id/'+this.$route.params.package_id+'?paginate=100')
                    .then(response => {
                        this.data = response.data.data;
                        this.$loading(false);
                    });
            },
            Approve(id) {
                this.form.put('/api/approveTourPackage/'+id)
                    .then((response) => {
                        this.$toast.success({
                            title:'Update Package',
                            message:'Tour Package Have Been Approved Successfully.'
                        })
                        this.$router.push('/backend/tour-package');
                    })
                    .catch((error) => {
                        this.$toast.error({
                            title:'Update Package',
                            message: error.message
                        })
                    })
            }
        },
        created() {
            this.getTourists();
        }
    }
</script>

