<template>
<div>
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h3 class="m-0">Tour Agency</h3>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Tour Agency List</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <section class="content">
      <div class="container-fluid">
        <div class="card card-outline card-info">
              <div class="card-header">
                <h3 class="card-title">Tour Agency List</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 90px;">

                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th style="width: 30px;">N°</th>
                      <th>Name</th>
                      <th>Email</th>
                      <th>Register Date</th>
                      <th>MOT Approval</th>
                      <th style="width: 190px; text-align: right;">Modify</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(user,index) in users.data" :key="user.id">
                      <td class="align-middle">{{numbering+index+1}}</td>
                      <td class="align-middle"><a href="#" @click="loadAgencyInfo(user.id)">{{user.name}}</a>
                      </td>
                      <td>
                          {{user.email}}
                      </td>
                      <td>
                          {{user.created_at | myDate}}
                      </td>
                      <td>
                          <i class="fa fa-eye blue" style="border: 1px solid; padding: 5px; border-radius: 5px;" v-if="user.is_mot_approved == 1"></i>  
                          <i class="fa fa-eye-slash red" style="border: 1px solid; padding: 5px; border-radius: 5px;" v-else></i>
                      </td>

                    <td style="text-align: right;">
                        <button type="button" v-if="user.is_mot_approved==0" class="btn btn-primary btn-xs" @click="Approve(user.sec_user_id)"><i class="fa fa-eye"></i> Approve</button>
                        <button type="button" v-if="user.is_mot_approved==1" class="btn btn-warning btn-xs" @click="DisApprove(user.sec_user_id)"><i class="fa fa-eye-slash"></i> Disapprove</button>
                        <button type="button" class="btn btn-success btn-xs" @click="loadAgencyInfo(user.id)"><i class="fas fa-search"></i> Detail</button>
                    </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer clearfix">

                  <!--start pagination-->
                  <vue-ads-pagination :total-items="total" :max-visible-pages="3" :items-per-page="per_page" :page="page" :loading="loading" @range-change="rangeChange">
                      <template slot-scope="props">
                          <div class="vue-ads-pr-2 vue-ads-leading-loose">
                              Rows Display :
                              <select id="displayRows" @change="onChange($event)">
                                  <option value="10">10</option>
                                  <option value="20">20</option>
                                  <option value="30">30</option>
                                  <option value="50">50</option>
                                  <option value="100">100</option>
                              </select>
                          </div>
                          <div class="vue-ads-pr-2 vue-ads-leading-loose">
                              Pages: {{ props.start }} Of {{ props.end }} (Total: {{ props.total }} Items)
                          </div>
                      </template>
                      <template slot="buttons" slot-scope="props">
                          <vue-ads-page-button v-for="(button, key) in props.buttons" :key="key" v-bind="button" @page-change="page = button.page"/>
                      </template>
                  </vue-ads-pagination>
                  <!--start pagination-->

              </div>
            </div>
            <!-- /.card -->
      </div><!-- /.container-fluid -->
    </section>

    <!-- Modal -->
    <div class="modal fade" id="agency_info" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addNewLabel">Agency Information</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form>
                 <div class="card-body">

                  <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="inputEmail3" v-model="Agency.name" placeholder="Email">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="inputPassword3" class="col-sm-2 col-form-label">Description</label>
                    <div class="col-sm-10">
                      <textarea v-model="Agency.description" class="form-control"></textarea>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="inputEmail3" v-model="Agency.email" placeholder="Email">
                    </div>
                  </div>

                 <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Phone</label>
                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="inputEmail3" v-model="Agency.phone" placeholder="Email">
                    </div>
                  </div>

                 <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Address</label>
                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="inputEmail3" v-model="Agency.address" placeholder="Email">
                    </div>
                  </div>

                 <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Country</label>
                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="inputEmail3" v-model="Agency.country_name" placeholder="Email">
                    </div>
                  </div>

                </div>
                    <div class="modal-footer justify-content-between">
                        <div class="pull-right">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" @click="Approve(Agency.sec_user_id)"><i class="fa fa-eye"></i> Approve</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>


</div>
</template>

<script>
    // start pagination
    import VueAdsPagination, { VueAdsPageButton } from 'vue-ads-pagination';
    // end pagination

    import Swal from 'sweetalert2/dist/sweetalert2.js'

    export default {
        components: {
            VueAdsPagination,
            VueAdsPageButton,
        },

        data() {
            return {
                //Pagination return
                total:0,
                per_page:10,
                loading: false,
                page: 0,
                numbering : 0,
                Agency: [],

                editmode: false,
                users : {},
                form: new Form({
                    id:'',
                    name : '',
                    email: '',
                    password: ''
                })
            }
        },
        methods: {
            onChange(event) {
                this.$loading(true);
                this.per_page = parseInt(event.target.value);
                axios.get('/api/getAllTourAgency?paginate='+this.per_page)
                    .then(response => {
                        this.total = response.data.meta.total;
                        this. page = 0;
                        this.users = response.data;
                        this.$loading(false);
                    });
            },
            rangeChange (start, end) {
                if (this.numbering !== start) {
                    this.$loading(true);
                    this.numbering = start;
                    var page = end / this.per_page;
                    if ((start + this.per_page) > this.total) {
                        page = page + 1;
                    }
                    axios.get('/api/getAllTourAgency/'+this.current_branch_id+'?page=' + parseInt(page) + '&paginate=' + parseInt(this.per_page))
                        .then(response => {
                            this.users = response.data.data;
                            this.total = response.data.meta.total;
                            this.$loading(false);
                        });
                }
            },
            loadUsers(){
                this.$loading(true)
                axios.get("/api/getAllTourAgency")
                      .then(response => {
                          this.total = response.data.meta.total;
                          this.per_page = parseInt(response.data.meta.per_page);
                          this.users = response.data;
                          this.$loading(false)
                      });
            },
            loadAgencyInfo(id){
                this.$loading(true)
                axios.get("/api/backendtourAgency/"+id)
                      .then(response => {
                          this.Agency = response.data.data;
                          $('#agency_info').modal('show');
                          this.$loading(false)
                      });
            },
            Approve(id) {
                this.form.put('/api/mot_approve/'+id)
                    .then((response) => {
                        this.loadUsers();
                        this.$toast.success({
                            title:'Update Agency',
                            message:'Agency Have Been Approved Successfully.'
                        })
                    })
                    .catch((error) => {
                        this.$toast.error({
                            title:'Update Agency',
                            message: error.message
                        })
                    })
            },
            DisApprove(id) {
                this.form.put('/api/mot_disapprove/'+id)
                    .then((response) => {
                        this.loadUsers();
                        this.$toast.success({
                            title:'Update Agency',
                            message:'Agency Have Been DisApproved Successfully.'
                        })
                    })
                    .catch((error) => {
                        this.$toast.error({
                            title:'Update Agency',
                            message: error.message
                        })
                    })
            }
        },
        created() {
           this.loadUsers();
           Fire.$on('AfterCreate',() => {
               this.loadUsers();
           });

        }
    }
</script>
