<template>
<div style="width : 100%;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container">
        <div class="row mb-2">
          <div class="col-sm-6">
                <br/>
                <h3 class="m-0"> Home</h3>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->


    <div class="card-body">

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Tour Package Registered</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th style="width: 10px">No</th>
                            <th>Package Name</th>
                            <th style="width: 100px;">Days</th>
                            <th style="width: 100px;">Market</th>
                            <th style="width: 100px;">Status</th>
                            <th class="action-title">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(t,index) in TourPackageRegisterData" :key="t.id">
                            <td>{{index+1}}</td>
                            <td>
                                <router-link :to="`/tour-package-frontend-report/${t.id}`"> {{t.title}} </router-link>
                            </td>

                            <td class="display" style="font-size: 0.775rem">
                                {{t.num_day_tour}}
                            </td>

                            <td class="display" style="font-size: 0.775rem">
                                {{t.market}}
                            </td>

                            <td class="display" style="font-size: 0.775rem">
                                {{t.state}}
                            </td>

                            <td style="text-align: right;">

                                <vue-custom-tooltip label="Add tourist">
                                    <router-link :to="`/tourists-list/${t.id}`" class="badge bg-success text-sm" v-if="t.state !=='ACTIVE'">
                                        <i class="fas fa-user-plus text-sm" style="float: left;"></i>
                                    </router-link>
                                </vue-custom-tooltip>
                                
                                <vue-custom-tooltip label="Edit tour package">
                                    <router-link :to="`/edit-tour-package/${t.id}`" class="badge bg-primary text-sm" v-if="t.state !=='ACTIVE'">
                                        <i class="fa fa-edit text-sm" style="float: left; text-sm"></i>
                                    </router-link>
                                </vue-custom-tooltip>

                                <vue-custom-tooltip label="View tour package">
                                    <router-link :to="`/edit-tour-package/${t.id}`" class="badge bg-primary text-sm" v-if="t.state ==='ACTIVE'">
                                        <i class="fas fa-eye text-sm" style="float: left; text-sm"></i>
                                    </router-link>
                                </vue-custom-tooltip>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>

            <br/>

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Tour Package NOT Registered</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th style="width: 10px">No</th>
                            <th>Package Name</th>
                            <th style="width: 100px;">Days</th>
                            <th style="width: 100px;">Market</th>
                            <th style="width: 100px;">Status</th>
                            <th class="action-title">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(t,index) in TourPackageNoRegisterData" :key="t.id">
                            <td>{{index+1}}</td>
                            <td>
                                <router-link :to="`/tour-package-frontend-report/${t.id}`"> {{t.title}} </router-link>
                            </td>

                            <td class="display" style="font-size: 0.775rem">
                                {{t.num_day_tour}}
                            </td>

                            <td class="display" style="font-size: 0.775rem">
                                {{t.market}}
                            </td>

                            <td class="display" style="font-size: 0.775rem">
                                {{t.state}}
                            </td>

                            <td style="text-align: right;">

                                <vue-custom-tooltip label="Add tourist">
                                    <router-link :to="`/tourists-list/${t.id}`" class="badge bg-success text-sm" v-if="t.state !=='PENDING'">
                                        <i class="fas fa-user-plus text-sm" style="float: left;"></i>
                                    </router-link>
                                </vue-custom-tooltip>

                                <vue-custom-tooltip label="Edit tour package">
                                    <router-link :to="`/edit-tour-package/${t.id}`" class="badge bg-primary text-sm" v-if="t.state !=='PENDING'">
                                        <i class="fa fa-edit text-sm" style="float: left; text-sm"></i>
                                    </router-link>
                                </vue-custom-tooltip>

                                <vue-custom-tooltip label="Register Tour Package">
                                    <a @click="update_register_data(t.id)" class="badge badge-info text-sm" v-if="t.state !=='PENDING'">
                                        <i class="fas fa-registered text-sm" style="float: left; text-sm"></i>
                                    </a>
                                </vue-custom-tooltip>

                                <vue-custom-tooltip label="View tour package">
                                    <router-link :to="`/edit-tour-package/${t.id}`" class="badge bg-primary text-sm" v-if="t.state ==='PENDING'">
                                        <i class="fas fa-eye text-sm" style="float: left; text-sm"></i>
                                    </router-link>
                                </vue-custom-tooltip>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>


        <!-- /.tab-content -->
    </div><!-- /.card-body -->

</div>
</template>
<script>

    import VueAdsPagination, { VueAdsPageButton } from 'vue-ads-pagination';
    import VueCustomTooltip from '@adamdehaven/vue-custom-tooltip'

    export default {
        components: {
            VueAdsPagination,
            VueAdsPageButton,
            VueCustomTooltip
        },

        data() {
            return {
                //Pagination return
                total:0,
                per_page:10,
                loading: false,
                page: 0,
                numbering : '',
                TourPackageRegisterData : {},
                TourPackageNoRegisterData : {},
                TourPackageState: {},

                form: new Form({
                    id : '',
                })
            }
        },
        methods: {
            onChange(event) {
                this.$loading(true);
                this.per_page = parseInt(event.target.value);
                axios.get('/api/tourPackage?paginate='+this.per_page)
                    .then(response => {
                        this.total = response.data.meta.total;
                        this. page = 0;
                        this.TourPackage = response.data;
                        this.$loading(false);
                    });
            },
            rangeChange (start, end) {
                if (this.numbering !== start){
                    this.$loading(true);
                    this.numbering = start;
                    var page = end / this.per_page;
                    if ((start+this.per_page)>this.total){
                        page = page+1;
                    }
                    axios.get('/api/tourPackage?page=' + parseInt(page)+'&paginate='+parseInt(this.per_page))
                        .then(response => {
                            this.TourPackage = response.data;
                            this.total = response.data.meta.total;
                            this.$loading(false);
                        });
                }
            },
            load_data(){
                this.$loading(true);
                axios.get('/api/tourPackage')
                    .then(response => {
                        this.total = response.data.meta.total;
                        this. page = 0;
                        this.TourPackage = response.data;
                        this.$loading(false);
                    });
            },
            TourPackageRegister(){
                this.$loading(true);
                axios.get("/api/get-tour-package-register")
                    .then(response => {
                        this.TourPackageRegisterData = response.data.data;
                        this.$loading(false)
                    });
            },
            TourPackageNotRegister(){
                this.$loading(true);
                axios.get("/api/get-tour-package-not-register")
                    .then(response => {
                        this.TourPackageNoRegisterData = response.data.data;
                        this.$loading(false)
                    });
            },
            update_register_data(id){
                this.$loading(true);
                axios.put('/api/update-register-data/'+id)
                    .then(response =>{
                        this.$toast.success({
                            type: 'success',
                            title: 'Update Data',
                            message: 'Tour Package updated in Successfully'
                        });
                        this.TourPackageRegister();
                        this.TourPackageNotRegister();
                        this.$loading(false);
                    })
                    .catch((error)=>{
                        this.$toast.error({
                            title:'Update Data',
                            message: error.message
                        });
                        this.$loading(false)
                    })
            }
        },
        created() {
            this.TourPackageRegister();
            this.TourPackageNotRegister();
        }
    }
</script>
