<template>
    <section class="content">
        <div class="container-fluid">

            <div class="row">
                <!-- left column -->
                <div class="col-md-8">

                    <div class="card card-outline card-info">
                        <div class="card-header">
                            <h3 class="card-title">List Menus</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th style="width: 30px;">N°</th>
                                    <th>Name</th>
                                    <th style="width: 150px;">Modify</th>
                                </tr>
                                </thead>
                                <tbody v-for="(menu,index) in menus.data" :key="menu.id">
                                <tr>
                                    <td class="align-middle">{{numbering+index+1}}</td>
                                    <td class="align-middle"><a href="#" @click="getMenu(menu.id)">{{menu.name}}</a>
                                        <div v-if="menu.alias">
                                            <span class="sub-info indigo">Alias : {{menu.alias}}</span>
                                        </div>
                                    </td>

                                    <td class="align-middle">
                                        <button type="button" class="btn btn-success btn-xs" @click="getMenu(menu.id)" ><i class="fa fa-edit"></i> Edit</button>
                                        <button type="button" class="btn btn-danger btn-xs" @click="deleteMenu(menu.id)"><i class="fa fa-trash"></i> Delete</button>
                                    </td>
                                </tr>
                                <tr v-for="(parent) in menu.parent" :key="parent.id" v-if="parent.parent_id">
                                    <td class="text-center align-middle"></td>

                                    <td class="align-middle"><a href="#" @click="getMenu(parent.id)"><i class="fa fa-long-arrow-alt-right orange"></i> {{parent.name}}</a>
                                        <div v-if="parent.alias">
                                            <span class="sub-info indigo">Alias : {{parent.alias}}</span>
                                        </div>
                                    </td>

                                    <td class="text-center align-middle">
                                        <button type="button" class="btn btn-success btn-xs" @click="getMenu(parent.id)"><i class="fa fa-edit"></i> Edit</button>
                                        <button type="button" class="btn btn-danger btn-xs" @click="deleteMenu(parent.id)"><i class="fa fa-trash"></i> Delete</button>

                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer clearfix">

                            <!--start pagination-->
                            <vue-ads-pagination :total-items="total" :max-visible-pages="3" :items-per-page="per_page" :page="page" :loading="loading" @range-change="rangeChange">
                                <template slot-scope="props">
                                    <div class="vue-ads-pr-2 vue-ads-leading-loose">
                                        Rows Display :
                                        <select id="displayRows" @change="onChange($event)">
                                            <option value="10">10</option>
                                            <option value="20">20</option>
                                            <option value="30">30</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select>

                                    </div>
                                    <div class="vue-ads-pr-2 vue-ads-leading-loose">
                                        Pages: {{ props.start }} Of {{ props.end }} (Total: {{ props.total }} Items)
                                    </div>
                                </template>
                                <template slot="buttons" slot-scope="props">
                                    <vue-ads-page-button v-for="(button, key) in props.buttons" :key="key" v-bind="button" @page-change="page = button.page"/>
                                </template>
                            </vue-ads-pagination>
                            <!--start pagination-->

                        </div>
                    </div>

                </div>
                <!--/.col (left) -->
                <!-- right column -->
                <div class="col-md-4">
                    <form @submit.prevent="editmode ? updateMenu() : createMenu()" class="form-horizontal">
                        <!-- Horizontal Form -->
                        <div class="card card-outline card-info">
                            <div class="card-header">
                                <h3 class="card-title">Menu Setting</h3>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->
                            <div class="card-body">

                                <div class="form-group">
                                    <label for="parents">Parents</label>
                                    <select name="parents" id="parents" class="form-control" v-model="form.parent_id" v-on:change="getSubParentMenu($event.target.value)">
                                        <option value="0">--- No Parent ---</option>
                                        <option v-for="parMenus in parentMenus" :value="parMenus.id">{{parMenus.name}}</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="sub_parents">Sub Parents</label>
                                    <select name="sub_parents" id="sub_parents" class="form-control" v-model="form.parent_sub_id">
                                        <option value="0">--- No Parent ---</option>
                                        <option v-for="parSubMenus in subParentMenus" :value="parSubMenus.id">{{parSubMenus.name}}</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="name">Name <span class="required"> *</span></label>
                                        <input v-model="form.name" type="text" name="name" id="name"
                                               class="form-control" :class="{ 'is-invalid': form.errors.has('name') }">
                                        <has-error :form="form" field="name"></has-error>
                                </div>

                                <div class="form-group">
                                    <label for="alias">Alias</label>
                                        <input v-model="form.alias" type="text" name="alias" id="alias"
                                               class="form-control" :class="{ 'is-invalid': form.errors.has('alias') }">
                                        <has-error :form="form" field="alias"></has-error>
                                </div>


                                <div class="form-group">
                                        <div class="custom-control custom-switch">
                                            <input v-model="form.state" type="checkbox" class="custom-control-input" name="state" id="state">
                                            <label class="custom-control-label" for="state">Is Active?</label>
                                        </div>
                                </div>

                            </div>
                        </div>
                        <!-- /.card -->
                        <div class="card card-outline card-info">
                            <div class="card-header">
                                <h3 class="card-title">Link Information </h3>
                            </div>

                            <div class="card-body">

                                <div class="form-group ">
                                    <label for="type">Type <span class="required"> *</span></label>
                                        <select name="type" id="type" class="form-control" v-model="form.type" @change="menuTypeSelect($event.target.value)">
                                            <option value="1" selected>Home Page</option>
                                            <option value="2">Custom Link</option>
                                            <option value="3">Single Content</option>
                                            <option value="4">Content Category</option>
                                            <option value="6">Content SubCategory</option>
                                            <option value="5">Module</option>
                                        </select>
                                        <has-error :form="form" field="sex"></has-error>
                                </div>

                                <div id="sec_url" v-show="sec_url" class="form-group">
                                    <label>URL <span class="required">*</span></label>
                                        <input name="txt_url" v-model="form.link_href" type="text" class="form-control" placeholder="">
                                </div>

                                <div id="sec_cont" v-show="sec_cont" class="form-group">
                                    <label>Select Content <span class="required">*</span></label>
                                    <select class="form-control" v-model="form.link_cont_id">
                                        <option v-for="con in content" :value="con.id">{{con.title}}</option>
                                    </select>
                                </div>

                                <div id="sec_cat" v-show="sec_cat" class="form-group">
                                    <label>Category <span class="required">*</span></label>
                                        <select name="txt_cat" class="form-control" v-model="form.link_cat_id">
                                            <option v-for="parCategory in parentsCategory" :value="parCategory.id">{{parCategory.name}}</option>
                                        </select>
                                </div>

                                <div id="sec_mod" v-show="sec_mod" class="form-group">
                                    <label>Module <span class="required">*</span></label>
                                        <select name="txt_mod" class="form-control" v-model="form.link_mod_id">
                                            <option v-for="module in modules" :value="module.id">{{module.mod_title}}</option>
                                        </select>
                                </div>

                                <div id="sec_sub" v-show="sec_sub" class="form-group">
                                    <label>SubCategory <span class="required">*</span></label>
                                        <select name="txt_catsub" class="form-control" v-model="form.link_catsub_id">
                                            <option v-for="parCategory in subParentsCategory" :value="parCategory.id">{{parCategory.name}}</option>
                                        </select>
                                </div>

                                <div class="form-group" style="margin-top: 15px;">
                                        <div class="custom-control custom-switch">
                                            <input v-model="form.target" type="checkbox" class="custom-control-input" id="target" name="target">
                                            <label class="custom-control-label" for="target">New Window?</label>
                                        </div>
                                </div>


                            </div>

                            <!-- /.card-body -->
                            <div class="card-footer text-right">
                                <router-link to="/admin/menu-list">
                                    <button type="submit" class="btn btn-danger" @click="addNewMenu">Cancel</button>
                                </router-link>
                                <button v-show="editmode" type="submit" class="btn btn-success"><i class="fas fa-edit"></i> Update</button>
                                <button v-show="!editmode" type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Create</button>

                            </div>
                            <!-- /.card-footer -->

                        </div>
                    </form>
                </div>
                <!--/.col (right) -->
            </div>




            <!-- /.card -->
        </div><!-- /.container-fluid -->
    </section>

</template>

<script>
    // start pagination
    import VueAdsPagination, { VueAdsPageButton } from 'vue-ads-pagination';
    // end pagination

    import Swal from 'sweetalert2/dist/sweetalert2.js'

    export default {
        components: {
            VueAdsPagination,
            VueAdsPageButton,
        },

        data() {
            return {
                //Pagination return
                total:0,
                per_page:10,
                loading: false,
                page: 0,
                numbering : 0,

                sec_url : false,
                sec_cont : false,
                sec_cat : false,
                sec_mod : false,
                sec_sub : false,

                editmode: false,
                menus : {},
                parentMenus : {},
                subParentMenus : {},
                content : {},
                parentsCategory : {},
                subParentsCategory: {},
                modules : {},
                form: new Form({
                    id:'',
                    parent_id : '0',
                    parent_sub_id: '0',
                    name: '',
                    alias: '',
                    type: '1',
                    link_href: '',
                    link_cat_id: '',
                    link_catsub_id: '',
                    link_cont_id: '',
                    link_mod_id: '',
                    target: '',
                    ordering: '',
                    state: '',
                })
            }
        },
        methods: {
            getContent(){
                this.$loading(true)
                axios.get("/api/content")
                    .then(response => {
                        this.content = response.data.data;
                        this.$loading(false)
                    });
            },
            getParentsCategory(){
                this.$loading(true)
                axios.get("/api/parents")
                    .then(response => {
                        this.parentsCategory = response.data.data;
                        this.$loading(false)
                    });
            },
            getSubParentsCategory(){
                this.$loading(true)
                axios.get("/api/subParentsCategory")
                    .then(response => {
                        this.subParentsCategory = response.data.data;
                        this.$loading(false)
                    });
            },
            getModules(){
                this.$loading(true)
                axios.get("/api/modules")
                    .then(response => {
                        this.modules = response.data.data;
                        this.$loading(false)
                    });
            },
            getParentMenu(){
                this.$loading(true)
                axios.get("/api/getParentMenu")
                    .then(response => {
                        this.parentMenus = response.data.data;
                        this.$loading(false)
                    });
            },
            getSubParentMenu(id){
                this.$loading(true)
                axios.get("/api/getSubParentMenu/" + id)
                    .then(response => {
                        this.subParentMenus = response.data.data;
                        this.$loading(false)
                    });
            },
            menuTypeSelect(type){
                let menutype = parseInt(type);
                if (menutype === 1){
                    this.sec_url = false;
                    this.sec_cont = false;
                    this.sec_cat = false;
                    this.sec_mod = false;
                    this.sec_sub = false;
                }else if (menutype === 2){
                    this.sec_url = true;
                    this.sec_cont = false;
                    this.sec_cat = false;
                    this.sec_mod = false;
                    this.sec_sub = false;
                }else if (menutype === 3){
                    this.sec_url = false;
                    this.sec_cont = true;
                    this.sec_cat = false;
                    this.sec_mod = false;
                    this.sec_sub = false;
                    this.getContent();
                }else if (menutype === 4){
                    this.sec_url = false;
                    this.sec_cont = false;
                    this.sec_cat = true;
                    this.sec_mod = false;
                    this.sec_sub = false;
                    this.getParentsCategory();
                }else if (menutype === 5){
                    this.sec_url = false;
                    this.sec_cont = false;
                    this.sec_cat = false;
                    this.sec_mod = true;
                    this.sec_sub = false;
                    this.getModules();
                }else if (menutype === 6){
                    this.sec_url = false;
                    this.sec_cont = false;
                    this.sec_cat = false;
                    this.sec_mod = false;
                    this.sec_sub = true;
                    this.getSubParentsCategory();
                }
            },
            onChange(event) {
                this.$loading(true);
                this.per_page = parseInt(event.target.value);
                axios.get('/api/menus?paginate='+this.per_page)
                    .then(response => {
                        this.total = response.data.meta.total;
                        this. page = 0;
                        this.menus = response.data;
                        this.$loading(false);
                    });
            },
            rangeChange (start, end) {
                this.$loading(true);
                this.numbering = start;
                var page = end / this.per_page;
                if ((start+this.per_page)>this.total){
                    page = page+1;
                }
                axios.get('/api/menus?page=' + parseInt(page)+'&paginate='+parseInt(this.per_page))
                    .then(response => {
                        this.menus = response.data;
                        this.$loading(false);
                    });
            },
            loadMenus(){
                this.$loading(true)
                axios.get("/api/menus")
                    .then(response => {
                        this.total = response.data.meta.total;
                        this.per_page = parseInt(response.data.meta.per_page);
                        this.menus = response.data;
                        this.$loading(false)
                    });
            },
            deleteUser(id){
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.value) {
                        this.form.delete('/api/menus/'+id).then(()=>{
                            Swal.fire(
                                'Deleted!',
                                'Your file has been deleted.',
                                'success'
                            )
                            Fire.$emit('AfterCreate');
                        }).catch(()=> {
                            Swal.fire("Failed!", "There was something wronge.", "warning");
                        });
                    } else if (result.dismiss === Swal.DismissReason.cancel) {
                        Swal.close();
                    }
                })
            },
            createMenu() {
                this.$loading(true);
                this.form.post('/api/menus')
                    .then((response) => {
                        this.form.reset();
                        this.loadMenus();
                        this.$loading(false)
                        this.$toast.success({
                            title:'Create Menu',
                            message:'Create Menu Successfully.'
                        })
                    })
                    .catch((error) => {
                        this.$toast.error({
                            title:'Create menu',
                            message: error.message
                        });
                        this.$loading(false)
                    })
            },
            getMenu(id){
                this.$loading(true)
                axios.get("/api/menus/" + id)
                    .then(response => {
                        this.editmode = true;
                        this.getParentMenu();
                        this.getSubParentMenu(response.data.data.parent_id);
                        this.menuTypeSelect(response.data.data.type);
                        this.form.fill(response.data.data);
                        this.$loading(false)
                    });
            },
            addNewMenu(){
                this.editmode = false;
                this.form.reset();
            },
            updateMenu(){
                this.$loading(true);
                this.form.put('/api/menus/'+this.form.id)
                    .then(() => {
                        Swal.fire(
                            'Updated!',
                            'Information has been updated.',
                            'success'
                        );
                        this.editmode = false;
                        this.form.reset();
                        this.$loading(true)
                        Fire.$emit('AfterCreate');
                    })
                    .catch(() => {
                        this.$loading(true)
                    });

            },
            deleteMenu(id){
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.value) {
                        this.form.put('/api/trashed/'+id).then(()=>{
                            Swal.fire(
                                'Deleted!',
                                'Your file has been deleted.',
                                'success'
                            )
                            Fire.$emit('AfterCreate');
                        }).catch(()=> {
                            Swal.fire("Failed!", "There was something wronge.", "warning");
                        });
                    } else if (result.dismiss === Swal.DismissReason.cancel) {
                        Swal.close();
                    }
                });
            }
        },
        created() {
            Fire.$on('searching',() => {
                this.$loading(true)
                let query = this.$parent.search;
                axios.get('/api/findUser?q=' + query)
                    .then((data) => {
                        this.users = data.data
                        this.$loading(false)
                    })
                    .catch(() => {

                    })
            })
            this.getParentMenu();
            this.loadMenus();
            Fire.$on('AfterCreate',() => {
                this.loadMenus();
            });

        }
    }
</script>
