<template>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <form @submit.prevent="createUser()" class="form-horizontal">
                        <!-- Horizontal Form -->
                        <div class="card card-outline card-info">
                            <div class="card-header">
                                <h3 class="card-title">Menu Setting</h3>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->
                            <div class="card-body">

                                <div class="form-group row">
                                    <label for="name" class="col-sm-2 col-form-label text-right">Parents</label>
                                    <div class="col-sm-10 col-md-8">
                                        <input v-model="form.name" type="text" name="name" id="name"
                                               placeholder="Name"
                                               class="form-control" :class="{ 'is-invalid': form.errors.has('name') }">
                                        <has-error :form="form" field="name"></has-error>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="email" class="col-sm-2 col-form-label text-right">Sub Parents</label>
                                    <div class="col-sm-10 col-md-8">
                                        <input v-model="form.email" type="email" name="email" id="email"
                                               placeholder="Email Address"
                                               class="form-control" :class="{ 'is-invalid': form.errors.has('email') }">
                                        <has-error :form="form" field="email"></has-error>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="password" class="col-sm-2 col-form-label text-right">Name <span class="required"> *</span></label>
                                    <div class="col-sm-10 col-md-8">
                                        <input v-model="form.password" type="password" name="password" id="password"
                                               class="form-control" :class="{ 'is-invalid': form.errors.has('password') }">
                                        <has-error :form="form" field="password"></has-error>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="con_password" class="col-sm-2 col-form-label text-right">Alias</label>
                                    <div class="col-sm-10 col-md-8">
                                        <input v-model="form.con_password" type="password" name="con_password" id="con_password"
                                               class="form-control" :class="{ 'is-invalid': form.errors.has('Confirm Password') }">
                                        <has-error :form="form" field="con_password"></has-error>
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <div class="offset-sm-2 col-sm-10">
                                        <div class="custom-control custom-switch">
                                            <input v-model="form.state" type="checkbox" class="custom-control-input" name="state" id="state">
                                            <label class="custom-control-label" for="state">Is Active?</label>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- /.card -->
                        <div class="card card-outline card-info">
                            <div class="card-header">
                                <h3 class="card-title">Link Information </h3>
                            </div>

                            <div class="card-body">

                                <div class="form-group row">
                                    <label for="sex" class="col-sm-2 col-form-label text-right">Type <span class="required"> *</span></label>
                                    <div class="col-sm-10 col-md-8">

                                        <select name="sex" id="sex" class="form-control" :class="{ 'is-invalid': form.errors.has('sex') }">
                                            <option value="Home Page" selected>Home Page</option>
                                            <option value="Custom Link">Custom Link</option>
                                            <option value="Single Content">Single Content</option>
                                            <option value="Content Category">Content Category</option>
                                            <option value="Content SubCategory">Content SubCategory</option>
                                            <option value="Module">Module</option>
                                        </select>
                                        <has-error :form="form" field="sex"></has-error>

                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="con_password" class="col-sm-2 col-form-label text-right">URL</label>
                                    <div class="col-sm-10 col-md-8">
                                        <input v-model="form.con_password" type="password" name="con_password" id="con_password"
                                               class="form-control" :class="{ 'is-invalid': form.errors.has('Confirm Password') }">
                                        <has-error :form="form" field="con_password"></has-error>
                                    </div>
                                </div>

                                <div class="form-group row" style="margin-top: 15px;">
                                    <div class="offset-sm-2 col-sm-10">
                                        <div class="custom-control custom-switch">
                                            <input v-model="form.newWindow" type="checkbox" class="custom-control-input" name="newWindow" id="newWindow">
                                            <label class="custom-control-label" for="newWindow">New Window?</label>
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <!-- /.card-body -->
                            <div class="card-footer text-right">
                                <router-link to="/admin/menu-list">
                                    <button type="submit" class="btn btn-danger">Cancel</button>
                                </router-link>
                                <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Save</button>
                            </div>
                            <!-- /.card-footer -->

                        </div>
                    </form>
                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>

</template>

<script>
    import Vue from 'vue';
    import datePicker from 'vue-bootstrap-datetimepicker';
    import 'pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.css';
    Vue.use(datePicker);

    export default {
        data() {
            return {
                users: {},
                roles: {},
                form: new Form({
                    id: '',
                    name: '',
                    email: '',
                    password: '',
                    user_role: '0',
                    fax: '',
                    name_kh: '',
                    name_en: '',
                    sex: 'Male',
                    date_of_birth: '',
                    place_of_birth: '',
                    phone: '',
                    address: '',
                    nationality: ''
                }),
            }
        },
        methods: {
            getRoles(){
                axios.get('/api/role')
                    .then(function (response) {
                        this.roles = response.data;
                    }.bind(this));
            },
            createUser() {
                this.$loading(true)
                this.form.post('/api/users')
                    .then((response) => {
                        this.form.reset();
                        this.$loading(false)
                        this.$toast.success({
                            title:'Create User',
                            message:'Create user successfully.'
                        })
                    })
                    .catch((error) => {
                        this.$toast.error({
                            title:'Create User',
                            message: error.message
                        })
                        this.$loading(false)
                    })
            }
        },
        created() {
            this.getRoles();
        }
    }
</script>
