<template>
<form enctype="multipart/form-data">
    <div class="row" style="padding: 50px;">
        <div class="col-md-12">
            <div class="row" style="margin-top: 10px;">
                <div class="col-lg-12">
                    <label>ឯកសារប្រវត្តិរូបសង្ខេប <span class="required">*</span></label>

                    <div v-if="form.thumb_file">
                        <label>{{form.thumb_file}}</label>
                        <button type="button" class="btn btn-danger btn-xs" @click="deleteFile(form.thumb_file)"><i class="fas fa-trash-alt"></i></button>
                    </div>

                    <div v-else>
                        <input type="file" name="thumb_file" id="thumb_file" v-on:change="onFileChange" :class="{ 'is-invalid': form.errors.has('thumb_file') }">
                        <has-error :form="form" field="thumb_file"></has-error>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</template>

<script>

    import Swal from 'sweetalert2/dist/sweetalert2.js'

    export default{
        name: 'app',
        data() {
            return {
                url: null,
                form: new Form({
                    thumb_file: ''
                }),
            }
        },
        methods: {
            onFileChange(e){
                const file = e.target.files[0];
                this.url = URL.createObjectURL(file);

                const config = {
                    headers: {
                        'content-type': 'multipart/form-data',
                        'X-CSRF-TOKEN': document.head.querySelector('meta[name="csrf-token"]').content
                    }
                };

                let formData = new FormData();
                formData.append('myFile', file);
                formData.append('part', 'test');
                formData.append('validate', 'required|file|mimes:jpeg,png,jpg,gif,svg,pdf,doc,docx,xlsx,doc,docx,ppt,pptx,ods,odt,odp|max:2048');

                axios.post('/api/fileUpload', formData, config)
                    .then(function (response) {
                        this.form.thumb_file = response.data.data.name;
                    }.bind(this));
            },
            deleteFile(filename){
                let formData = new FormData();
                formData.append('filename', filename);
                formData.append('part', 'test');

                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.value) {
                        axios.post('/api/deleteFile', formData).then((response)=>{
                            Swal.fire(
                                'Deleted!',
                                'Your file has been deleted.',
                                'success'
                            )
                            this.form.thumb_image = null;
                        }).catch(()=> {
                            Swal.fire("Failed!", "There was something wronge.", "warning");
                        });
                    } else if (result.dismiss === Swal.DismissReason.cancel) {
                        Swal.close();
                    }
                })
            }
        }
    }
</script>
