<template>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">

                    <div class="callout callout-info">

                        <div class="form-group row">
                            <div class="col-sm-3">
                                <div class="input-group date" id="timepicker" data-target-input="nearest">
                                    <date-picker name="fromDate" v-model="form.fromDate" placeholder="From Date" :config="{format: 'YYYY-MM-DD'}"></date-picker>
                                    <div class="input-group-append" data-target="#timepicker" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-3">
                                <div class="input-group date" id="timepicker" data-target-input="nearest">
                                    <date-picker name="toDate" v-model="form.toDate" placeholder="To Date" :config="{format: 'YYYY-MM-DD'}"></date-picker>
                                    <div class="input-group-append" data-target="#timepicker" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <button type="button" @click="search()" class="btn btn-success"><i class="fa fa-search"></i>
                                    Search
                                </button>
                            </div>

                        </div>

                    </div>

                    <!-- Main content -->
                    <div class="invoice p-3 mb-3">
                        <!-- title row -->
                        <div class="row">

                        </div>

                        <div class="row invoice-info">
                            <div class="col-12" style="text-align: center">
                                <br/>
                                <h4>Reports Visitors</h4>
                                <b>From :</b> {{form.fromDate}}
                                <b>To :</b> {{form.toDate}}<br>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                        <br/>

                        <div class="row">
                            <div class="col-12 table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th style="width: 80px;">Nº</th>
                                        <th>IP Address</th>
                                        <th>Browser</th>
                                        <th>Pages</th>
                                        <th style="width: 120px;">Date</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="(con, index) in statistic.data" :key="con.id">
                                        <td style="vertical-align:middle">{{numbering+index+1}}</td>
                                        <td style="vertical-align:middle">{{con.ip_address}}</td>
                                        <td style="vertical-align:middle">{{con.browser}}</td>
                                        <td style="vertical-align:middle">{{con.page}}</td>
                                        <td style="vertical-align:middle">{{con.created_at}}</td>
                                    </tr>
                                    </tbody>
                                </table>

                                <!-- /.card-body -->
                                <div class="card-footer clearfix">

                                    <!--start pagination-->
                                    <vue-ads-pagination :total-items="total" :max-visible-pages="3" :items-per-page="per_page" :page="page" :loading="loading" @range-change="rangeChange">
                                        <template slot-scope="props">
                                            <div class="vue-ads-pr-2 vue-ads-leading-loose">
                                                Rows Display :
                                                <select id="displayRows" @change="onChange($event)">
                                                    <option value="10">10</option>
                                                    <option value="20">20</option>
                                                    <option value="30">30</option>
                                                    <option value="50">50</option>
                                                    <option value="100">100</option>
                                                </select>

                                            </div>
                                            <div class="vue-ads-pr-2 vue-ads-leading-loose">
                                                Pages: {{ props.start }} Of {{ props.end }} (Total: {{ props.total }} Items)
                                            </div>
                                        </template>
                                        <template slot="buttons" slot-scope="props">
                                            <vue-ads-page-button v-for="(button, key) in props.buttons" :key="key" v-bind="button" @page-change="page = button.page"/>
                                        </template>
                                    </vue-ads-pagination>
                                    <!--start pagination-->

                                </div>

                                <br/>

                            </div>
                            <!-- /.col -->

                        </div>
                        <!-- /.row -->

                        <!-- this row will not appear when printing -->
                        <!--                        <div class="row no-print">-->
                        <!--                            <div class="col-12">-->
                        <!--                                <button type="button" class="btn btn-primary float-right"><i class="fas fa-print"></i>-->
                        <!--                                    Print Report-->
                        <!--                                </button>-->
                        <!--                            </div>-->
                        <!--                        </div>-->
                    </div>
                    <!-- /.invoice -->
                </div><!-- /.col -->
            </div><!-- /.container-fluid -->
        </div>
    </section>

</template>

<script>
    // start pagination
    import VueAdsPagination, { VueAdsPageButton } from 'vue-ads-pagination';
    // end pagination

    import Swal from 'sweetalert2/dist/sweetalert2.js'

    export default {
        components: {
            VueAdsPagination,
            VueAdsPageButton,
        },

        data() {
            return {
                //Pagination return
                total:0,
                per_page:10,
                loading: false,
                page: 0,
                numbering : 0,

                statistic : {},
                form: new Form({
                    id : '',
                    fromDate : '--- All ---',
                    toDate : '--- All ---',
                })
            }
        },
        methods: {
            onChange(event) {
                this.$loading(true);
                this.per_page = parseInt(event.target.value);
                axios.get('/api/statistic?paginate='+this.per_page+"&fromdate="+ this.form.fromDate +"&todate="+ this.form.toDate)
                    .then(response => {
                        this.total = response.data.meta.total;
                        this. page = 0;
                        this.statistic = response.data;
                        this.$loading(false)
                    });
            },

            rangeChange (start, end) {
                this.$loading(true);
                this.numbering = start;
                var page = end / this.per_page;
                if ((start+this.per_page)>this.total){
                    page = page+1;
                }
                axios.get('/api/statistic?page=' + parseInt(page)+'&paginate='+parseInt(this.per_page)+"&fromdate="+ this.form.fromDate +"&todate="+ this.form.toDate)
                    .then(response => {
                        this.total = response.data.meta.total;
                        this.statistic = response.data;
                        this.$loading(false)
                    });
            },
            // loadContent(){
            //     this.$loading(true)
            //     axios.get("/api/contentViewReport")
            //         .then(response => {
            //             this.total = response.data.meta.total;
            //             this.per_page = parseInt(response.data.meta.per_page);
            //             this.content = response.data;
            //             this.$loading(false)
            //         });
            // },
            search(){
                this.$loading(true);
                axios.get("/api/statistic?fromdate="+ this.form.fromDate +"&todate="+ this.form.toDate)
                    .then(response => {
                        this.total = response.data.meta.total;
                        this.per_page = parseInt(response.data.meta.per_page);
                        this.statistic = response.data;
                        this.$loading(false)
                    });
            }
        },
        created() {

        }
    }
</script>
