<template>
<div>
    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand-md navbar-light navbar-lightblue navbar-dark">
        <div class="container">
            <a href="#" class="navbar-brand">
                <img src="/img/logo_mot.png" alt="AdminLTE Logo" style="height: 80px; margin-bottom: -10px;" class="brand-image img-circle elevation-3">
                <span class="brand-text font-weight-light">Vaccination Tour Package</span>
            </a>

            <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse order-3" id="navbarCollapse">
                <!-- Left navbar links -->
                <ul class="navbar-nav">
                <li class="nav-item">
                    <router-link to="/home" class="nav-link">Home</router-link>
                </li>
                <li class="nav-item">
                    <router-link to="/tour-package-list" class="nav-link">Tour Package</router-link>
                </li>
                <li class="nav-item">
                    <router-link to="/team-leader-list" class="nav-link">Tour Guide</router-link>
                </li>
                <li class="nav-item">
                    <router-link to="/tourists-list" class="nav-link">Tourists</router-link>
                </li>
                <li class="nav-item">
                    <router-link to="/notification" class="nav-link">Notification</router-link>
                </li>
                <li class="nav-item">
                    <router-link to="/setting" class="nav-link">Account Setting</router-link>
                </li>
                </ul>
            </div>

            <!-- Right navbar links -->
            <div class="collapse navbar-collapse order-1 order-md-3 navbar-nav navbar-no-expand ml-auto" id="navbarCollapse">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item"> <a href="#" class="nav-link" v-if="user.user_role <= 3">Welcome! {{user.name}} </a></li>
                <li class="nav-item"> <router-link :to="'/team-leader-profile/'+user.profile.id" class="nav-link" v-if="user.user_role == 4"> Welcome! {{user.name}} </router-link></li>
                <li class="nav-item"> <a href="#" @click.prevent="logout()" class="nav-link" style="color: aliceblue; text-decoration: none;"> Logout </a></li>
            </ul>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->

    <div class="content-wrapper" style="min-height: 492px;">


    <!-- Main content -->
    <div class="content">
      <div class="container">
        <div class="row">
            <router-view></router-view>
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
    </div>

    <!-- Main Footer -->
    <footer class="main-footer" style="position: relative;">
        <div class="container">
        <!-- To the right -->
        <div class="float-right d-none d-sm-inline">
            Powered by <a href="http://gigbcambodia.com/en"> <img src="/img/gigb_logo (1).png" style="width: 90px;"></a>
        </div>
        <!-- Default to the left -->
        <strong>Copyright &copy; 2020-2021 <a href="https://adminlte.io">Tour Package Registration</a>.</strong> All rights reserved.
        </div>
    </footer>

</div>
</template>

<script>
    export default {
        data() {
            return {
                user: {},
            };
        },
        methods: {
            getCurrentUser(){
                Store.dispatch('getCurrentUser')
                    .then(resp => {
                        this.user = resp.data.data;
                    })
            },
            logout() {
                this.$loading(true);
                Store.dispatch('logout')
                    .then(response => {
                        this.$loading(false);
                    })
            }
        },
        created() {
            if (this.$accessToken === null){
                window.location.href = '/';
            }
            this.getCurrentUser();
        }
    }
</script>


