<template>
<div class="wrapper">

  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand bg-white navbar-light border-bottom">

    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#"><i class="fa fa-bars"></i></a>
      </li>
    </ul>

    <!-- SEARCH FORM -->
      <div class="input-group input-group-sm">
        <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-navbar">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/admin/dashboard" class="brand-link">
      <img src="/img/logo_mot.png" alt="MOT Logo" style="width: 43px;">
      <span class="brand-text font-weight-light">MOT CMS</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="/img/profile.png" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
            <a href="#" class="d-block">
              {{user.name}}
            </a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->

               <li class="nav-item has-treeview" v-for="menu in menus" :key="menu.id" v-if="menu.views === true">
                  <router-link :to="menu.link" class="nav-link">
                      <i :class="'nav-icon ' + menu.class"></i>
                          {{ menu.name }}
                          <i class="right fas fa-angle-left" v-if="menu.subMenu.length > 0"></i>

                  </router-link>
                  <ul class="nav nav-treeview">
                      <li class="nav-item" v-for="submenu in menu.subMenu" :key="submenu.id">
                          <router-link :to="submenu.link" :class="submenu.link===currentRoutePath ? 'route-active nav-link':'nav-link'">
                              <i :class="'nav-icon ' + submenu.class_name"></i> 
                              {{submenu.name}}
                          </router-link>
                      </li>
                  </ul>
              </li>

              <li class="nav-item">
                    <router-link to="/backend/profile" class="nav-link">
                        <i class="nav-icon fas fa-user orange"></i>
                        <p>
                            Profile
                        </p>
                    </router-link>
              </li>

              <li class="nav-item"> 
                <a href="#" @click.prevent="logout()" class="nav-link"> <i class="nav-icon fas fa-sign-out-alt" style="color: red;"></i> Logout </a>
              </li>

        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

    <br/>

  <div class="content-wrapper">
    <router-view></router-view>
  </div>

  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2020-2020 <a href="#">Vaccination Tour Package</a>.</strong> All rights reserved.
  </footer>
</div>
</template>

<script>
export default {
        data() {
            return {
                user: {},
                menus: {}
            };
        },
        computed: {
            currentRoutePath() {
                if (this.$accessToken === null){
                    window.location.href = '/';
                }
                this.route_path = this.$route.path;
                return this.$route.path;
            },
            currentRouteName() {
                return this.$route.path;
            }
        },
        methods: {
            getCurrentUser(){
                Store.dispatch('getCurrentUser')
                    .then(resp => {
                        this.user = resp.data.data;
                    })
            },
            load_menus() {
                axios.get('/api/backendMenu')
                    .then(response => {
                        this.menus = response.data.data;
                    });
            },
            logout() {
                this.$loading(true);
                Store.dispatch('logout')
                    .then(response => {
                        this.$loading(false);
                    })
            }
        },
        created() {
            this.load_menus();
            this.getCurrentUser();
        }
    }
</script>