<template>
    <section class="content">
      <div class="container-fluid">
        <div class="card card-outline card-info">
              <div class="card-header">
                <h3 class="card-title">List User Account</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 90px;">
                    <router-link to="/backend/user-add">
                    <button type="submit" class="btn btn-primary btn-sm"><i class="fas fa-plus"></i> Add New</button>
                    </router-link>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th style="width: 30px;">N°</th>
                      <th>Name</th>
                      <th>Email</th>
                      <th>Register Date</th>
                      <th>State</th>
                      <th style="width: 240px; text-align: right;">Modify</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(user,index) in users.data" :key="user.id">
                      <td class="align-middle">{{numbering+index+1}}</td>
                      <td class="align-middle"><router-link :to="`/backend/user-edit/${user.id}`">{{user.name}}</router-link>
                      </td>
                      <td>
                          {{user.email}}
                      </td>
                      <td>
                          {{user.created_at | myDate}}
                      </td>
                      <td>
                          <i class="fa fa-eye blue" style="border: 1px solid; padding: 5px; border-radius: 5px;" v-if="user.state == 1"></i>  
                          <i class="fa fa-eye-slash red" style="border: 1px solid; padding: 5px; border-radius: 5px;" v-else></i>
                      </td>

                    <td style="text-align: right;">
                        <button type="button" v-if="user.state==0" class="btn btn-primary btn-xs" @click="Approve(user.id)"><i class="fa fa-eye"></i> Approve</button>
                        <button type="button" v-if="user.state==1" class="btn btn-warning btn-xs" @click="DisApprove(user.id)"><i class="fa fa-eye-slash"></i> Disapprove</button>
                        <router-link :to="`/backend/user-edit/${user.id}`">
                        <button type="button" class="btn btn-success btn-xs"><i class="fa fa-edit"></i> Edit</button>
                        </router-link>
                        <button type="button" class="btn btn-danger btn-xs" @click="deleteUser(user.id)"><i class="fa fa-trash"></i> Delete</button>
                    </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer clearfix">

                  <!--start pagination-->
                  <vue-ads-pagination :total-items="total" :max-visible-pages="3" :items-per-page="per_page" :page="page" :loading="loading" @range-change="rangeChange">
                      <template slot-scope="props">
                          <div class="vue-ads-pr-2 vue-ads-leading-loose">
                              Rows Display :
                              <select id="displayRows" @change="onChange($event)">
                                  <option value="10">10</option>
                                  <option value="20">20</option>
                                  <option value="30">30</option>
                                  <option value="50">50</option>
                                  <option value="100">100</option>
                              </select>

                          </div>
                          <div class="vue-ads-pr-2 vue-ads-leading-loose">
                              Pages: {{ props.start }} Of {{ props.end }} (Total: {{ props.total }} Items)
                          </div>
                      </template>
                      <template slot="buttons" slot-scope="props">
                          <vue-ads-page-button v-for="(button, key) in props.buttons" :key="key" v-bind="button" @page-change="page = button.page"/>
                      </template>
                  </vue-ads-pagination>
                  <!--start pagination-->

              </div>
            </div>
            <!-- /.card -->
      </div><!-- /.container-fluid -->
    </section>

</template>

<script>
    // start pagination
    import VueAdsPagination, { VueAdsPageButton } from 'vue-ads-pagination';
    // end pagination

    import Swal from 'sweetalert2/dist/sweetalert2.js'

    export default {
        components: {
            VueAdsPagination,
            VueAdsPageButton,
        },

        data() {
            return {
                //Pagination return
                total:0,
                per_page:10,
                loading: false,
                page: 0,
                numbering : 0,

                editmode: false,
                users : {},
                form: new Form({
                    id:'',
                    name : '',
                    email: '',
                    password: ''
                })
            }
        },
        methods: {
            rangeChange (start, end) {
                if (this.numbering !== start) {
                    this.$loading(true);
                    this.numbering = start;
                    var page = end / this.per_page;
                    if ((start + this.per_page) > this.total) {
                        page = page + 1;
                    }
                    axios.get('/api/users?page=' + parseInt(page) + '&paginate=' + parseInt(this.per_page))
                        .then(response => {
                            this.users = response.data.data;
                            this.total = response.data.meta.total;
                            this.$loading(false);
                        });
                }
            },
            loadUsers(){
                this.$loading(true)
                axios.get("/api/users")
                      .then(response => {
                          this.total = response.data.meta.total;
                          this.per_page = parseInt(response.data.meta.per_page);
                          this.users = response.data;
                          this.$loading(false)
                      });
            },
            deleteUser(id){
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.value) {
                        this.form.delete('/api/users/'+id).then(()=>{
                            Swal.fire(
                                'Deleted!',
                                'Your file has been deleted.',
                                'success'
                            )
                            Fire.$emit('AfterCreate');
                        }).catch(()=> {
                            Swal.fire("Failed!", "There was something wronge.", "warning");
                        });
                    } else if (result.dismiss === Swal.DismissReason.cancel) {
                        Swal.close();
                    }
                })
            },
            Approve(id) {
                this.form.put('/api/approve/'+id)
                    .then((response) => {
                        this.loadUsers();
                        this.$toast.success({
                            title:'Update User',
                            message:'User Account Have Been Approved Successfully.'
                        })
                    })
                    .catch((error) => {
                        this.$toast.error({
                            title:'Update User',
                            message: error.message
                        })
                    })
            },
            DisApprove(id) {
                this.form.put('/api/disapprove/'+id)
                    .then((response) => {
                        this.loadUsers();
                        this.$toast.success({
                            title:'Update User',
                            message:'User Account Have Been DisApproved Successfully.'
                        })
                    })
                    .catch((error) => {
                        this.$toast.error({
                            title:'Update User',
                            message: error.message
                        })
                    })
            }
        },
        created() {
            Fire.$on('searching',() => {
              this.$loading(true)
                let query = this.$parent.search;
                axios.get('/api/findUser?q=' + query)
                .then((data) => {
                    this.users = data.data
                    this.$loading(false)
                })
                .catch(() => {

                })
            })
           this.loadUsers();
           Fire.$on('AfterCreate',() => {
               this.loadUsers();
           });

        }
    }
</script>
