<template>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- Horizontal Form -->
                    <form @submit.prevent="updateUser()" class="form-horizontal">
                    <div class="card card-outline card-info">
                        <div class="card-header">
                            <h3 class="card-title"><i class="fas fa-users orange"></i> Edit User Accounts</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                            <div class="card-body">

                                <div class="form-group row">
                                    <label for="name" class="col-sm-2 col-form-label text-right">Name</label>
                                    <div class="col-sm-10 col-md-8">
                                        <input v-model="form.name" type="text" name="name"
                                               placeholder="Name"
                                               class="form-control" :class="{ 'is-invalid': form.errors.has('name') }">
                                        <has-error :form="form" field="name"></has-error>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="email" class="col-sm-2 col-form-label text-right">Email</label>
                                    <div class="col-sm-10 col-md-8">
                                        <input v-model="form.email" type="email" name="email"
                                               placeholder="Email Address"
                                               class="form-control" :class="{ 'is-invalid': form.errors.has('email') }">
                                        <has-error :form="form" field="email"></has-error>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="con_password" class="col-sm-2 col-form-label text-right">Roles</label>
                                    <div class="col-sm-10 col-md-8">
                                        <div class="form-group">
                                            <select name="user_role" v-model="form.user_role" id="role_id" class="form-control" :class="{ 'is-invalid': form.errors.has('user_role') }">
                                                <option value="0">Select User Role</option>
                                                <option v-for="roles in roles.data" :key="roles.id" :value="roles.id"> {{roles.name}} </option>
                                            </select>
                                            <has-error :form="form" field="user_role"></has-error>
                                        </div>
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <div class="offset-sm-2 col-sm-10">
                                        <div class="custom-control custom-switch">
                                            <input v-model="form.state" type="checkbox" class="custom-control-input" name="state" id="state">
                                            <label class="custom-control-label" for="state">Is Active</label>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- /.card-body -->
                    </div>
                    <!-- /.card -->

                    <div class="card card-outline card-info">
                        <div class="card-header">
                            <h3 class="card-title"><i class="fas fa-users orange"></i> User Profile</h3>
                        </div>

                        <div class="card-body">
                            <div class="form-group row">
                                <label for="first_name" class="col-sm-2 col-form-label text-right">First Name</label>
                                <div class="col-sm-10 col-md-8">
                                    <input v-model="formProfile.first_name" type="text" name="first_name"
                                           placeholder="First Name" class="form-control" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="last_name" class="col-sm-2 col-form-label text-right">Last Name</label>
                                <div class="col-sm-10 col-md-8">
                                    <input v-model="formProfile.last_name" type="text" name="last_name"
                                           placeholder="Last Name" class="form-control" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="con_password" class="col-sm-2 col-form-label text-right">Gender</label>
                                <div class="col-sm-10 col-md-8">

                                    <select name="gender" v-model="formProfile.gender" id="gender" class="form-control" :class="{ 'is-invalid': form.errors.has('gender') }">
                                        <option value="Male" selected>Male</option>
                                        <option value="Female">Female</option>
                                        <option value="Other">Other</option>
                                    </select>
                                    <has-error :form="form" field="gender"></has-error>

                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="nationality" class="col-sm-2 col-form-label text-right">Nationality</label>
                                <div class="col-sm-10 col-md-8">
                                    <input v-model="formProfile.nationality" type="text" name="nationality"
                                           placeholder="Nationality"
                                           class="form-control" :class="{ 'is-invalid': form.errors.has('nationality') }">
                                    <has-error :form="form" field="nationality"></has-error>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="date_of_birth" class="col-sm-2 col-form-label text-right">Date of Birth</label>
                                <div class="col-sm-10 col-md-8">

                                <div class="input-group date" id="timepicker" data-target-input="nearest">
                                    <date-picker name="date_of_birth" v-model="formProfile.date_of_birth" :config="{format: 'YYYY-MM-DD'}"></date-picker>
                                    <div class="input-group-append" data-target="#timepicker" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>
                                    </div>
                                </div>

                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="phone" class="col-sm-2 col-form-label text-right">Phone</label>
                                <div class="col-sm-10 col-md-8">
                                    <input v-model="formProfile.phone" type="text" name="phone"
                                           placeholder="Phone"
                                           class="form-control" :class="{ 'is-invalid': form.errors.has('phone') }">
                                    <has-error :form="form" field="phone"></has-error>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="photo" class="col-sm-2 col-form-label text-right">Photo <span class="required">*</span></label>
                                <div class="col-sm-10 col-md-8">

                                    <div id="preview" style="padding-top:10px;" v-if="formProfile.photo">
                                        <img :src="url"  style="max-width: 150px;"/>
                                        <button type="button" class="btn btn-danger btn-xs" @click="deleteImg(formProfile.photo)"><i class="fa fa-trash-alt"></i></button>
                                    </div>

                                    <div v-else>
                                        <input type="file" id="photo" name="photo" ref="imageUrl" v-on:change="onImageChange" :class="{ 'is-invalid': form.errors.has('photo') }"/>
                                        <has-error :form="form" field="photo"></has-error>
                                    </div>

                                </div>
                            </div>

                        </div>

                        <!-- /.card-body -->
                        <div class="card-footer text-right">
                            <router-link to="/backend/user-list">
                                <button type="submit" class="btn btn-danger">Cancel</button>
                            </router-link>
                            <button type="submit" class="btn btn-success"><i class="fas fa-edit"></i> Save</button>
                        </div>
                        <!-- /.card-footer -->

                    </div>
                    </form>
                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>

</template>

<script>
import Vue from 'vue';
import datePicker from 'vue-bootstrap-datetimepicker';
import 'pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.css';
import Swal from 'sweetalert2/dist/sweetalert2.js'
Vue.use(datePicker);

    export default {
        data() {
            return {
                url: null,
                thumbnailsPart : 'images/thumbnails/',
                originalPart : 'images/contents/Original/',
                roles: {},

                form: new Form({
                    name: '',
                    email: '',
                    user_role: '',
                    state: ''
                }),

                formProfile: new Form({
                    id: '',
                    passport: '',
                    first_name: '',
                    last_name: '',
                    gender: '',
                    date_of_birth: '',
                    phone: '',
                    nationality: '',
                    address: '',
                    company: '',
                    position: '',
                    skill: '',
                    photo: '',
                    agency_id: '',
                    sec_user_id: '',
                    is_team_leader: '',
                    is_agency: ''
                })

            }
        },
        mounted(){
            this.loadSecUser();
            this.loadUserProfile();
            this.getRoles();
        },
        methods: {
            loadSecUser(){
                this.$loading(true);
                axios.get('/api/users/'+ this.$route.params.userid)
                    .then((response)=>{
                        this.form.fill(response.data.data);
                        this.$loading(false);
                    })
            },
            loadUserProfile(){
                this.$loading(true);
                axios.get('/api/userProfile/'+ this.$route.params.userid)
                    .then((response)=>{
                        this.url = '/' + this.thumbnailsPart + response.data.data.photo;
                        this.formProfile.fill(response.data.data);
                        this.$loading(false);
                    })
            },
            onImageChange(e){
                const file = e.target.files[0];
                this.url = URL.createObjectURL(file);

                const config = {
                    headers: { 'content-type': 'multipart/form-data' }
                };

                let formData = new FormData();
                formData.append('image', file);
                formData.append('thumbnailsPart', this.thumbnailsPart);
                formData.append('validate', 'required|image|mimes:jpeg,png,jpg,gif|max:10240');

                axios.post('/api/imagePost', formData, config)
                    .then(function (response) {
                        this.formProfile.photo = response.data.data.name;
                    }.bind(this))
                    .catch((error) => {
                        this.$toast.error({
                            title:'Upload Photo',
                            message: error.message
                        });
                        this.$loading(false)
                    })
            },
            deleteImg(img){
                let formData = new FormData();
                formData.append('filename', img);
                formData.append('part', this.originalPart);

                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.value) {
                        axios.post('/api/deleteFile', formData).then((response)=>{
                            Swal.fire(
                                'Deleted!',
                                'Your file has been deleted.',
                                'success'
                            )
                            this.formProfile.photo = null;
                        }).catch(()=> {
                            Swal.fire("Failed!", "There was something wronge.", "warning");
                        });
                    } else if (result.dismiss === Swal.DismissReason.cancel) {
                        Swal.close();
                    }
                })
            },
            getRoles(){
                axios.get('/api/role')
                    .then(function (response) {
                        this.roles = response.data;
                    }.bind(this));
            },
            updateUser() {
                this.$loading(true);
                this.updateSecUser();
                this.updateUserProfile();
                this.$router.push('/backend/user-list');
                this.$loading(false);
            },
            updateSecUser(){
                this.form.put('/api/users/'+this.$route.params.userid)
                    .then((response) => {
                    })
            },
            updateUserProfile(){
                this.formProfile.put('/api/updateUserProfile/'+this.$route.params.userid)
                    .then((response) => {
                    })
            }
        }
    }
</script>
