<style>
.widget-user-header{
    background-position: center center;
    background-size: cover;
    height: 250px !important;
}
.widget-user .card-footer{
    padding: 0;
}

</style>


<template>
    <div class="content">
        <div class="container-fluid">

            <!-- tab -->
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header p-2">
                        <div class="widget-user-header text-white" style="background-image:url('/img/user-cover.jpg')">
                        </div>
                        <div class="row">

                        <div class="col-lg-2" style="margin-top:-100px; margin-bottom: -20px; padding-left: 50px;"><img :src="url" class="img-circle" alt="User Avatar" style="max-height: 130px; border-radius: 5%; border: 3px solid #ffffff;"/></div>
                        <div class="col-lg-10" style="margin-top:-50px; margin-left: -50px; color: #fff;">
                            <h4 class="widget-user-username" style="text-transform: capitalize; margin-left: 20px;" v-if="this.form.name_kh">{{this.form.name_kh}}</h4>
                            <h4 class="widget-user-username" style="text-transform: capitalize; margin-left: 20px;" v-else-if="this.form.name_en">{{this.form.name_en}}</h4>
                            <h4 class="widget-user-username" style="text-transform: capitalize; margin-left: 20px;" v-else>{{this.form.name}}</h4>
                        </div>

                        <div class="col-lg-2"></div>
                        <div class="col-lg-10">
                        <ul class="nav nav-pills">
                        <li class="nav-item"><a class="nav-link active show" href="#activity" data-toggle="tab">Profile</a></li>
                        <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Settings</a></li>
                        </ul>
                        </div>
                        </div>

                    </div><!-- /.card-header -->
                    <div class="card-body">
                        <div class="tab-content">
                            <!-- Activity Tab -->
                            <div class="tab-pane active show" id="activity">
                                <form class="form-horizontal">

                                    <div class="card-body">

                                        <div class="form-group row">
                                            <label for="name_kh" class="col-sm-2 col-form-label text-right">First name</label>
                                            <div class="col-sm-10 col-md-8">
                                                <input v-model="formProfile.first_name" type="text" placeholder="First Name" class="form-control"/>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="name_en" class="col-sm-2 col-form-label text-right">Name English</label>
                                            <div class="col-sm-10 col-md-8">
                                                <input v-model="formProfile.last_name" type="text"
                                                       placeholder="Last Name"
                                                       class="form-control" />
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="con_password" class="col-sm-2 col-form-label text-right">Gender</label>
                                            <div class="col-sm-10 col-md-8">

                                                <select name="sex" v-model="formProfile.gender" id="sex" class="form-control" :class="{ 'is-invalid': form.errors.has('sex') }">
                                                    <option value="Male" selected>Male</option>
                                                    <option value="Female">Female</option>
                                                    <option value="Other">Other</option>
                                                </select>
                                                <has-error :form="form" field="sex"></has-error>

                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="nationality" class="col-sm-2 col-form-label text-right">Nationality</label>
                                            <div class="col-sm-10 col-md-8">
                                                <input v-model="formProfile.nationality" type="text" name="nationality"
                                                       placeholder="Nationality"
                                                       class="form-control" :class="{ 'is-invalid': form.errors.has('nationality') }">
                                                <has-error :form="form" field="nationality"></has-error>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="date_of_birth" class="col-sm-2 col-form-label text-right">Date of Birth</label>
                                            <div class="col-sm-10 col-md-8">

                                                <div class="input-group date" id="timepicker" data-target-input="nearest">
                                                    <date-picker name="date_of_birth" v-model="formProfile.date_of_birth" :config="{format: 'YYYY-MM-DD'}"></date-picker>
                                                    <div class="input-group-append" data-target="#timepicker" data-toggle="datetimepicker">
                                                        <div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="phone" class="col-sm-2 col-form-label text-right">Phone</label>
                                            <div class="col-sm-10 col-md-8">
                                                <input v-model="formProfile.phone" type="text" name="phone"
                                                       placeholder="Phone"
                                                       class="form-control" :class="{ 'is-invalid': form.errors.has('phone') }">
                                                <has-error :form="form" field="phone"></has-error>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="address" class="col-sm-2 col-form-label text-right">Address</label>
                                            <div class="col-sm-10 col-md-8">
                                                <input v-model="formProfile.address" type="text" name="address"
                                                       placeholder="Address"
                                                       class="form-control" :class="{ 'is-invalid': form.errors.has('address') }">
                                                <has-error :form="form" field="address"></has-error>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="photo" class="col-sm-2 col-form-label text-right">Photo <span class="required">*</span></label>
                                            <div class="col-sm-10 col-md-8">

                                                <div id="preview" style="padding-top:10px;" v-if="formProfile.photo">
                                                    <label>{{url}}</label>
                                                    <button type="button" class="btn btn-danger btn-xs" @click="deleteImg(formProfile.photo)"><i class="fa fa-trash-alt"></i></button>
                                                </div>

                                                <div v-else>
                                                    <input type="file" id="photo" name="photo" ref="imageUrl" v-on:change="onImageChange" :class="{ 'is-invalid': formProfile.errors.has('photo') }"/>
                                                    <has-error :form="formProfile" field="photo"></has-error>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="address" class="col-sm-2 col-form-label text-right"></label>
                                            <div class="col-sm-10 col-md-8">
                                                <button @click.prevent="updateUser()" type="submit" class="btn btn-success">Update</button>
                                            </div>
                                        </div>

                                    </div>

                                </form>
                            </div>
                            <!-- Setting Tab -->
                            <div class="tab-pane" id="settings">

                                <form @submit.prevent="changePassword()">

                                    <div class="card-body">

                                        <div class="form-group row">
                                            <label for="email" class="col-sm-3 col-form-label text-right">Email</label>
                                            <div class="col-sm-9 col-md-8">
                                                <input v-model="form.email" type="text" name="email" readonly
                                                       placeholder="Email"
                                                       class="form-control" :class="{ 'is-invalid': form.errors.has('email') }">
                                                <has-error :form="form" field="email"></has-error>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="password" class="col-sm-3 col-form-label text-right">Password</label>
                                            <div class="col-sm-9 col-md-8">
                                                <input type="password"
                                                       v-model="form.password"
                                                       class="form-control"
                                                       id="password"
                                                       placeholder="Password"
                                                       :class="{ 'is-invalid': form.errors.has('password') }"
                                                >
                                                <has-error :form="form" field="password"></has-error>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="new_pwd" class="col-sm-3 col-form-label text-right">New Password</label>
                                            <div class="col-sm-9 col-md-8">
                                                <input type="password"
                                                       v-model="form.new_password"
                                                       class="form-control"
                                                       id="new_pwd"
                                                       placeholder="New Password"
                                                       :class="{ 'is-invalid': form.errors.has('new_pwd') }"
                                                >
                                                <has-error :form="form" field="new_pwd"></has-error>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="con_new_pwd" class="col-sm-3 col-form-label text-right">Confirm New Password</label>
                                            <div class="col-sm-9 col-md-8">
                                                <input type="password"
                                                       v-model="form.con_new_password"
                                                       class="form-control"
                                                       id="con_new_pwd"
                                                       placeholder="Confirm New Password"
                                                       :class="{ 'is-invalid': form.errors.has('con_new_pwd') }"
                                                >
                                                <has-error :form="form" field="password"></has-error>
                                            </div>
                                        </div>

                                        <hr/>
                                        <span v-html="message"></span>
                                        <br/>

                                        <div class="form-group row">
                                            <label for="" class="col-sm-3 col-form-label text-right"></label>
                                            <div class="col-sm-9 col-md-8">
                                                <button type="submit" class="btn btn-success"><i class="fas fa-edit"></i> Change Password</button>
                                            </div>
                                        </div>


                                    </div>
                                </form>

                            </div>
                        <!-- /.tab-pane -->
                        </div>
                        <!-- /.tab-content -->
                    </div><!-- /.card-body -->
                </div>
                <!-- /.nav-tabs-custom -->
          </div>
          <!-- end tabs -->
        </div>
        <br/>
        <br/>
        <br/>
    </div>
</template>


<script>

    import Swal from 'sweetalert2/dist/sweetalert2.js'

    export default {
        data(){
            return {
                message: '',
                url: null,
                thumbnailsPart : 'images/thumbnails/',
                originalPart : 'images/contents/Original/',

                form: new Form({
                    email: '',
                    password: '',
                    new_password: '',
                    con_new_password: '',
                }),

                formProfile: new Form({
                    id: '',
                    passport: '',
                    first_name: '',
                    last_name: '',
                    gender: '',
                    date_of_birth: '',
                    phone: '',
                    nationality: '',
                    address: '',
                    company: '',
                    position: '',
                    skill: '',
                    photo: '',
                    agency_id: '',
                    sec_user_id: '',
                    is_team_leader: '',
                    is_agency: ''
                })
            }
        },
        mounted(){
            this.$loading(true);
            axios.get('/api/userProfile/'+ this.$currentUser.id)
                .then((response)=>{
                    this.url = '/' + this.thumbnailsPart + response.data.data.photo;
                    this.formProfile.fill(response.data.data);
                    this.$loading(false);
                })
        },
        methods:{
            loadSecUser(){
                this.$loading(true);
                axios.get('/api/users/'+ this.$currentUser.id)
                    .then((response)=>{
                        this.form.fill(response.data.data);
                        this.$loading(false);
                    })
            },
            onImageChange(e){
                const file = e.target.files[0];
                this.url = URL.createObjectURL(file);

                const config = {
                    headers: { 'content-type': 'multipart/form-data' }
                };

                let formData = new FormData();
                formData.append('image', file);
                formData.append('thumbnailsPart', this.thumbnailsPart);
                formData.append('validate', 'required|image|mimes:jpeg,png,jpg,gif|max:10240');

                axios.post('/api/imagePost', formData, config)
                    .then(function (response) {
                        this.formProfile.photo = response.data.data.name;
                    }.bind(this))
                    .catch((error) => {
                        this.$toast.error({
                            title:'Upload Photo',
                            message: error.message
                        });
                        this.$loading(false)
                    })
            },
            deleteImg(img){
                let formData = new FormData();
                formData.append('filename', img);
                formData.append('part', this.originalPart);

                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.value) {
                        axios.post('/api/deleteFile', formData).then((response)=>{
                            Swal.fire(
                                'Deleted!',
                                'Your file has been deleted.',
                                'success'
                            )
                            this.formProfile.photo = null;
                        }).catch(()=> {
                            Swal.fire("Failed!", "There was something wronge.", "warning");
                        });
                    } else if (result.dismiss === Swal.DismissReason.cancel) {
                        Swal.close();
                    }
                })
            },
            updateUser() {
                this.formProfile.put('/api/updateUserProfile/'+this.$currentUser.id)
                    .then((response) => {
                        this.$toast.success({
                            title:'Edit User Account',
                            message:'Edit user account successfully.'
                        });
                    })
                    .catch((error) => {
                        this.$toast.error({
                            title:'Edit User Account',
                            message: error.message
                        });
                    })
            },
            changePassword() {
                this.form.put('/api/changePassword')
                    .then((response) => {
                        if(response.data.statusCode !== 200){
                            this.$toast.error({
                                title:'Change Password',
                                message: response.data.message
                            });
                        }else{
                            this.$toast.success({
                                title:'Change Password',
                                message:'Change password successfully.'
                            });
                        }
                    })
                    .catch((error) => {
                        this.$toast.error({
                            title:'Change Password',
                            message: error.message
                        });
                    })
            }
        },
        created(){
            this.loadSecUser();
        }

    }
</script>
